#successPrepaidSlider {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  .bigTitle {
    padding-top: 25px;
    font-family: $Bold;
    font-size: 15px;
    color: black;
  }

  .descriptio {
    padding-top: 15px;
    font-family: $Medium;
    font-size: 14px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
  }

  .copyTitle {
    width: 100%;
    padding-top: 10px;
    font-family: $SemiBold;
    font-size: 16px;
    color: black;
  }

  .copyDesc {
    width: 100%;
    padding-top: 5px;
    font-family: $Medium;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }

  .copySerialBtn {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: white;
    padding: 12px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;

    .serial {
      font-family: $Bold;
      font-size: 22px;
      color: black;
    }

    .copySerial {
      width: 20px;
      height: 20px;
    }
  }

  .br {
    height: 0.5px;
    width: 100%;
    background-color: #ebebeb;
    width: -webkit-fill-available;
  }

  .stepsToRecharge {
    margin-top: 20px;
    background-color: #f2f4f7;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;

    .steps {
      display: flex;
      padding: 3px 0;
      align-items: center;

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #7588a0;
      }

      .textStep {
        font-family: $Medium;
        font-size: 14px;
        color: black;
        padding-left: 10px;
      }
    }
  }
}

#successPostpaidSlider {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;

  .cardSec {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 15px;

    img {
      width: 50px;
      height: 50px;
    }

    .method {
      padding-left: 15px;
      font-family: $SemiBold;
      color: black;
      font-size: 14px;
    }
  }

  .MoreInfo {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;

    .label {
      font-family: $Medium;
      color: #1c1a32;
      font-size: 14px;
    }

    .value {
      font-family: $Regular;
      color: #000000;
      font-size: 14px;
    }

    .value1 {
      font-family: $SemiBold;
      color: #000000;
      font-size: 14px;
    }

    .value2 {
      font-family: $SemiBold;
      color: #000000;
      font-size: 20px;
    }
  }

  .br {
    margin: 10px 0;
    height: 0.5px;
    width: 100%;
    background-color: #ebebeb;
    width: -webkit-fill-available;
  }

  .taxes {
    font-family: $Regular;
    color: #000000;
    font-size: 12px;
  }
  .footSectionPick {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 46px;
    background-color: white;

    button {
      width: 90%;
      border-radius: 6px;
      font-size: 16px;
      font-family: $Medium;
      color: white;
      background-color: #226d96;
      border: none;
      padding: 16px 0;
      text-align: center;
    }
  }
}
