<div class="medcoPayrollWhyChooseSuyool">
	<div class="three-titles">
		<div class="title-one">WHY SUYOOL?</div>
		<div class="title-two">4 Features That Make Suyool Unique</div>
		<div class="title-three">To have more control over your money.</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="info">
					<img src="{{asset('build/images/medco/bank.svg')}}">
					<div class="blocked">
						<div class="infotitle">Fresh Dual-Currency Account From The Comfort of Your Home</div>
						<div class="infodesc">Without having to go to a branch office, all the banking services you need are now at hand!</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="info">
					<img src="{{asset('build/images/medco/card.svg')}}">
					<div class="blocked">
						<div class="infotitle">Pay Anywhere With Your Visa Platinum Card</div>
						<div class="infodesc">Become an international Visa Platinum card holder! Your card is accepted worldwide and supports all currencies, including LBP.</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="info">
					<img src="{{asset('build/images/medco/exchange.svg')}}">
					<div class="blocked">
						<div class="infotitle">Instant Exchange Service - USD/LBP</div>
						<div class="infodesc">Instantly exchange at accurate market-rate between your dual-currencies wallets to pay.</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="info">
					<img src="{{asset('build/images/medco/arrow.svg')}}">
					<div class="blocked">
						<div class="infotitle">Send Money To Any Lebanese Phone Number</div>
						<div class="infodesc">No need to be a Suyool user to receive money via Suyool</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
