<style>
    .buttonCont {
        margin-bottom: 30px;
    }
    .open-app {
        background-color: #387ea5;
        color: #fff;
        border-radius: 7px;
        padding: 7px 46px;
        font-size: 16px;
        text-decoration: none;
    }
</style>
</head>
<div class="pay" style="text-align: center">
    <div class="pay-mobile">
        <div class="buttonCont">
            {% if deepLink is defined and deepLink is not null %}
                <a href='{{ deepLink|raw }}' id="open_app" class="open-app">Open App</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    var deepLink = '{{ deepLink is defined ? deepLink|raw : null }}';

        setTimeout(function(){
            window.location.href = deepLink;
        }, 1000);
</script>

