<style>
    .buttonCont {
        margin-bottom: 30px;
    }
    .open-app {
        background-color: #387ea5;
        color: #fff;
        border-radius: 7px;
        padding: 7px 46px;
        font-size: 16px;
        text-decoration: none;
    }
</style>
</head>
<div class="pay" style="text-align: center">
    <div class="pay-mobile">
        <div><img src="http://dev.suyool.com/build/images/suyool-Logo.png"></div>

        <div class="buttonCont">
            <a href='{{ deepLink }}' id="open_app" class="open-app">Open App</a>
        </div>
    </div>
</div>

<script>
    setTimeout(function(){
        window.location.href = '{{ deepLink }}';
    }, 1000);
</script>