<div class="pay">
    <div class="pay-qr" style="text-align: center">
        <div>
            <img src="http://dev.suyool.com/build/images/suyool-Logo.png">
        </div>
        <div id="qr-code"><img src={{ pictureURL }} alt=""></div>

        <div> <img src="https://skash.com/new/public/img/Steps-to-scan-QR-syoul.png"/></div>

    </div>
</div>