{# templates/helpCenter/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {% include 'helpCenter/navbar.html.twig' %}
    {% include 'helpCenter/top-section.html.twig' %}
    <div class="help-center">
        <div class="container-fluid">
            <div class="categories-cont row">
                {% for category in categories %}
                    <div class="card category col-lg-3 col-md-5">
                        <img width="100px" style="border-radius: 50%" src="{{ asset('build/images/rocket.png') }}" alt="">
                        <div class="title">{{ category.name }}</div>
                        {% for question in category.questions %}
                            <span><span class="dot"></span>{{ question.question }}</span>
                        {% endfor %}
                        <a href="{{ path('category_show', {'id': category.id}) }}">View All</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'helpCenter/infoSection.html.twig' %}
{% endblock %}
