<div class="container-fluid infoSection">
    <div class="row">
        <div class="info-content">
            <div class="row info-section">
                {% for section in infoSections %}
                    <div class="col-md-6 mb-4 info-section-content">
                        <div class="row">
                            <div class="col-2"><img width="50px" src="{{ asset(section.image) }}" alt=""></div>
                            <div class="col-10">
                                <h3 class="color{{ type }}">{{ section.title }}</h3>
                                <p>{{ section.text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
