<div class="container-fluid infoSection">
    <div class="row">
        <div class="info-content col-lg-6 col-md-12">
            <div class="row info-section">
                <div class="col-2"><img width="100px" style="border-radius: 50%" src="{{asset('build/images/rocket.png')}}" alt=""></div>
                <div class="col-10">
                    <h3>How-TO Guides</h3>
                    <p>Help articles and tutorial videos How to technical</p>
                </div>
            </div>
            <div class="row info-section">
                <div class="col-2"><img width="100px" style="border-radius: 50%" src="{{asset('build/images/rocket.png')}}" alt=""></div>
                <div class="col-10">
                    <h3>What If’s</h3>
                    <p>Rules & Regulations Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                </div>
            </div>
        </div>
        <div class="info-content col-lg-6 col-md-12">
            <div class="row info-section">
                <div class="col-2"><img width="100px" style="border-radius: 50%" src="{{asset('build/images/rocket.png')}}" alt=""></div>
                <div class="col-10">
                    <h3>Policies</h3>
                    <p>Rules & Regulations Terms and conditions (link to add)</p>
                </div>
            </div>
            <div class="row info-section">
                <div class="col-2"><img width="100px" style="border-radius: 50%" src="{{asset('build/images/rocket.png')}}" alt=""></div>
                <div class="col-10">
                    <h3>Table of Fees</h3>
                    <p>Table of Fees Only first part without merchant part</p>
                </div>
            </div>
        </div>
    </div>
</div>