<div class="help-top-section help-top-info help-section{{type}}">
    <div class="info">
        <div class="row">
            <div class="sub-title col-md-3">How can we help you?</div>
            <div class="search-results col-md-9">
                <form class="form" id="search-form" autocomplete="off" action="/questions/search" method="get">
                    <label>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" id="search-input" name="query" placeholder="What are you looking for" >
                    </label>
                </form>

                {#div to display the results using js#}
                <div id="search-results"></div>
            </div>

        </div>
    </div>
</div>