<div class="help-top-section help-top-info help-section{{type}}">
    <div class="info">
        <div class="row">
            <div class="sub-title col-3">How can we help you?</div>
            <form class="form col-7" action="">
                <label>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="What are you looking for" >
                </label>
            </form>
        </div>
    </div>
</div>