<div class="help-top-section help-section{{ type }}">
    <div class="title ">How can we help you?</div>
    <div class="search-results home">
        <form class="form" id="search-form" autocomplete="off" action="/questions/search" method="get">
            <label>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search-input" name="query" placeholder="What are you looking for" >
            </label>
        </form>
        <div id="search-results"></div>
    </div>
    <div class="choice">
        <a class="personal" href="/help-center?type-id=1">Personal</a>
        <a class="corporate" href="/help-center?type-id=2">Corporate</a>
    </div>
</div>
