{% extends 'base.html.twig' %}

    {% block body %}
        <div class="terms-and-conditions-page personal-terms">

            <div class="white-navbar container-fluid">
                {% include 'elements/header.html.twig'%}
            </div>

            {% include 'policies/top-section.html.twig' %}
            {% include 'policies/text.html.twig'%}
        </div>

        {% include 'elements/footer.html.twig' %}

    {% endblock %}