{% extends 'base.html.twig' %}

{% block body %}

    <!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Suyool-terms&amp;conditions</title>
        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
                text-indent: 0;
            }

            h1 {
                color: black;
                font-family: "Times New Roman", serif;
                font-style: normal;
                font-weight: bold;
                text-decoration: none;
                font-size: 9.5pt;
            }

            .p, p {
                color: black;
                font-family: "Times New Roman", serif;
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
                font-size: 9.5pt;
                margin: 0pt;
            }

            a {
                color: #00F;
                font-family: "Times New Roman", serif;
                font-style: normal;
                font-weight: normal;
                text-decoration: underline;
                font-size: 9.5pt;
            }

            li {
                display: block;
            }
        </style>
    </head>
    <body>
        {% include 'elements/header.html.twig' %}

    <div class="container-fluid py-5">
        <h1>"Suyool" MOBILE WALLET APPLICATION TERMS AND CONDITIONS SCHEDULE 1 - DEFINITIONS</h1>
        <p>
            For the purposes of
            these Terms and Conditions of Use the following words and expressions shall have the meanings as set out
            below: "<b>AΤΜ</b>"
            means an Automated Teller Machine from and into which, inter alia, withdrawals and deposits are made.
        </p>
        <h1>"Business Day" <span class="p">means any day (other than a Saturday or a Sunday or a public or bank holiday in Lebanon) on which the Bank involved in the execution of the Payment Transaction is open for normal banking operations, as required for the execution of the Payment Transaction.</span>
        </h1>
        <br/>
        <p>
            "<b>Consumer</b>" means a natural person who, in respect of the Wallet Terms, acts for purposes which are
            irrelevant
            to his/her trading or professional activity;
        </p>
        <br/>
        <p>"<b>Durable Medium</b>" means any instrument which
            enables the Customer to store information addressed personally to that Customer in a way accessible for
            future
            reference for a period of time adequate to the purposes of the information and which allows the unchanged
            reproduction of the information stored, such as printouts by account printers, CD-ROMs,</p>
        <p>DVDs, the hard drives of personal
            computers on which electronic mail can be stored, and internet sites</p>
        <br/>
        <p>"<b>Electronic Money</b>" means electronically,
            including magnetically, stored monetary value as represented by a claim on the issuer which is issued on
            receipt of
            funds for the purpose of making Payment Transactions, and which is accepted by a natural or legal person
            other than
            the electronic money issuer.</p>
        <br/>
        <p>"<b>Framework Contract</b>" means the Payment Services’
            contract, which governs the execution of individual and successive payment transactions and contains the
            respective
            obligations, rights and conditions for setting up, operating and using a Payment Account.</p>
        <br/>
        <p>"<b>Merchant</b>" means the legal entity that trades in
            commodities.</p>
        <br/>
        <h1>&quot;Microenterprise&quot;
            <span
                    class="p">means an enterprise employing less than ten employees and whose annual turnover and/or its overall annual balance sheet does not exceed 2 million Euro as defined in Article 1 and Article 2(1) and (3) of the Annex to Commission Recommendation of 6 May 2003 concerning the definition of micro, small and medium-sized enterprises (Recommendation 2003/361/EC).</span>
        </h1>
        <br/>
        <h1>"Payment Account" <span class="p">means the Wallet Account kept in the name of the User, and which is used for the execution of Payment Transactions under the meaning of the Provision and Use of Payment Services and Access to the Payment Systems Law of 2018 (L. 31(I)/2018), as may be amended from time to time.</span>
        </h1>
        <br/>
        <p>"<b>Payment Instrument</b>" means any personalized
            device and/or set of procedures agreed between the Customer and the Bank, and which are used by the Customer
            in
            order to initiate a Payment Order and include, <i>inter alia</i>, Cards, the WinBank Service, each one of
            the User
            ID, security password and the code issued through the extraPin Generator, and which are issued by the Bank
            in
            respect of the WinBank Service, the instructions by facsimile message and/or other services.</p>
        <br/>
        <p>"<b>Payment Order</b>" means an instruction by a payer
            or payee to the Bank, requesting the execution of a Payment Transaction.</p>
        <br/>
        <h1>"Payment Services" <span class="p">means the business activities set out in Annex I of the Provision and Use of Payment Services and Access to the Payment Systems Law of 2018 (L. 31(I)/2018), as may be amended from time to time, which are provided by the Bank in its capacity either as a Payment Service Provider for the payer or as a Payment Service Provider for the payee in accordance with the provisions of the aforesaid law, including the following:</span>
        </h1>
        <br/>
        <ol id="l1">
            <li data-list-text="1."><p>Deposit into and
                    withdrawal from a Payment Account, as well as all the operations required for operating a Payment
                    Account;</p>
                <br/></li>
            <li data-list-text="2."><p>Remittance/transfer to or
                    from a Payment Account including remittances/transfers made in view of executing standing
                    orders;</p></li>
            <li data-list-text="3."><p>
                    Execution of direct debits, including one-off direct debits;</p>
                <br/></li>
            <li data-list-text="4."><p>Payment
                    by Card or a similar Payment Instrument;</p></li>
            <li data-list-text="5."><p>Issuing
                    of Payment Instruments and/or acquiring of Payment Transactions;</p>
                <br/>
                <h1>"Payment Transaction" <span class="p">means an act, initiated by the payer or on his behalf or by the payee, of placing, transferring or withdrawing funds, irrespective of any underlying obligations between the payer and the payee.</span>
                </h1>
                <br/>
                <p>"<b>Personal Data</b>" means any information
                    relating to an identified or identifiable natural person.</p>
                <br/>
                <p>"<b>PIN</b>" means personal identification
                    number which is associated with your Wallet Account and which allows you to access your Wallet
                    Account
                    and/or enter into Wallet Transactions.</p>
                <br/>
                <p>"<b>Primary Wallet Holder</b>" means the User
                    in whose name the "Suyool" Wallet Account has been registered, who has control over the Wallet
                    Account and
                    who has the authority to create and designate Supplementary Wallet Holders on his/her Wallet
                    Account,
                    subject to the transaction limits set by the Primary Wallet Holder.</p>
                <br/>
                <p>"<b>Privacy Notice</b><u>" means the document
                        titled "Privacy Notice" in respect of the processing of your personal data</u> <u>for the
                        purposes of
                        entering into and carrying out Payment Transactions via the Wallet Account and it is</u> <u>available,
                        in its latest edition, in the Wallet Mobile App,</u><a href="http://www.suyool.com/"
                                                                               target="_blank"> </a><a
                            href="http://www.suyool.com/" target="_blank">www.suyool.com</a></p>
                <br/>
                <p>"<b>Processing</b>" or "<b>Personal
                        Data Processing</b>" is defined is defined as any operation or set of operations which is
                    performed by
                    any person upon Personal Data, whether or not by automatic means, and includes the collection,
                    recording,
                    organization and transfer of such data.</p>
                <br/>
                <p>"<b>Registered Device</b>" means your
                    smartphone or other electronic device upon which you have downloaded the "Suyool" Wallet Mobile App.
                </p>
                <br/>
                <p>"<b>Supplementary Wallet Holder</b>" means a
                    natural person, who is authorised by a Primary Wallet Holder to have access to and/or use the
                    "Suyool"
                    Wallet subject to the limits set by the authorizing Primary Wallet Holder.</p>
                <br/>
                <p>"<b>User Level</b>" means each level under
                    which each User falls and/or is categorised corresponding to and/or depending upon the top-up and
                    transaction limits imposed on the User and/or on the transaction that the User may enter into and/or
                    execute
                    via the Wallet Account, which, currently, subsists of level 1; level 2; level 3 and level 4 (for
                    Merchants).
                    Each User Level requires a different level of Know-Your-Customer (KYC) and due diligence process
                    and/or
                    registration and/or enrolment and/or upgrade information and documentation to be provided to the
                    Bank in
                    compliance with the Bank’s obligations with the applicable laws and regulations of the Republic of
                    Lebanon.
                    Details of the aforesaid User Levels are set out on the Wallet Mobile App portal, including
                    information on
                    the transaction limits of each User Level [inter alia, of the maximum credit turnover per month
                    and/or per
                    year, as applicable] and the corresponding Know-Your-Customer (KYC) and due diligence process and/or
                    registration and/or enrolment process.</p>
                <br/>
                <p>"<b>User</b>" means each natural person, who,
                    having satisfied all the eligibility criteria and the minimum KYC (‘Know-Your-Client’) prerequisites
                    set by
                    the Bank, as those may be varied from time to time at the absolute discretion of the Bank, has
                    obtained
                    access level, is in possession of a User ID and Passcode, has opened and maintains a Wallet Account
                    in
                    his/her name or is authorised by any other Account Holder with access level.</p>
                <br/>
                <h1>"Wallet Account" <span class="p">means the account in the User’s name via which Payment Transactions are executed and/or performed and which indicates your relationship with the Bank as described in these terms.</span>
                </h1>
                <br/>
                <p>"<b>Wallet Mobile App</b>" means the mobile
                    application accessible through your Registered Device where you can obtain access to your Wallet.
                </p>
                <br/>
                <h1>"Wallet Services" <span class="p">mean you being given access to the Wallet portal via the Wallet Mobile App.</span>
                </h1>
                <br/>
                <h1>"Wallet Support Call Center Line" <span
                            class="p">means the communication channel via the telephone number 77787087 through which the User can contact the Bank for any matters pertaining to the access and/or usage and/or operation of the Wallet.</span>
                </h1>
                <p>"<b>Wallet Terms</b>" means
                    the present terms and conditions governing the use of the Wallet Mobile App named</p>
                <br/>
                <p>"<b>Wallet Transaction</b>" means the Payment
                    Transaction conducted by the User of placing, transferring or withdrawing funds in Euro through the
                    Wallet
                    Account.</p>
                <br/>
                <h1>"Wallet<span class="p">" means a digital mobile phone wallet application named "Suyool" provided by the Bank, in which eligible Users are registered, by means of which the eligible Users are able to subscribe, make use of and conduct e-transactions and/or electronic transfers and/or payments through an electronic wallet.</span>
                </h1>
                <h1>"Suyool" MOBILE WALLET
                    APPLICATION TERMS AND CONDITIONS</h1>
                <br/>
                <ol id="l2">
                    <li data-list-text="1."><h1>1. GENERAL</h1>
                        <br/>
                        <ol id="l3">
                            <li data-list-text="1."><p>The
                                    access, registration and enrolment to Suyool Mobile Wallet Application (referred to
                                    as "<b>the
                                        Wallet</b>");</p>
                                <br/></li>
                            <li data-list-text="2."><p>The
                                    payment transactions entered into and executed via the Wallet;</p>
                                <br/></li>
                            <li data-list-text="3."><p>The use
                                    and operation of the Wallet; and</p>
                                <br/></li>
                            <li data-list-text="4."><p>The
                                    relationship between the Wallet Users and the Bank.</p>
                                <br/>
                                <p>In case of conflict between the
                                    present terms and the terms of the Framework Contract, the terms of the Framework
                                    Contract
                                    shall prevail.</p>
                                <br/></li>
                        </ol>
                    </li>
                    <li data-list-text="2."><p>Since the Wallet
                            constitutes and/or can be considered to be a Payment Instrument used to initiate Payment
                            Orders
                            requesting the execution of Payment Transactions, these Terms and Conditions must be read in
                            conjunction with the provisions of the Framework Contract, which applies additionally to
                            these Terms
                            and Conditions and governs particular issues relating to Payment Transactions, such as,
                            inter alia,
                            the time of receipt of a Payment Order, refusal and revocation of Payment Orders, time
                            limits for
                            the execution of Payment Orders, the respective rights, obligations and liability, the
                            evidence on
                            authentication and execution of Payment Transactions, access to third party provides (TPPs),
                            charges, the procedures for the settlement of disputes, amendments and termination.</p>
                        <br/></li>
                    <li data-list-text="3."><p>Prior to entering
                            into Wallet Transactions, your are required to:</p>
                        <br/>
                        <ol id="l4">
                            <li data-list-text="1."><p>read
                                carefully the Wallet Terms and the Bank’s Privacy Notice [to the extent applicable],
                                which
                                constitutes an integral part of the Wallet Terms, during your registration and/or
                                enrolment
                                in the Wallet with the Bank and tick the box confirming your acceptance and your
                                agreement
                                with these; and</p>
                                <br/></li>
                            <li data-list-text="2."><p>provide us
                                    with such documentation, photographs and information as requested by us in
                                    compliance with
                                    the Bank’s legislative and regulatory obligations.</p>
                                <br/></li>
                        </ol>
                    </li>
                    <li data-list-text="4."><p>Additional and/or
                            supplementary and/or specific terms and conditions and/or agreements may be applicable to
                            and govern
                            the relationship and the use of specific services and/or products and/or facilities and/or
                            programs
                            that may become available to you by the Bank and/or accessed and/or used by you from time to
                            time
                            via the Wallet in addition to the Wallet Terms and Privacy Notice. The latter are separate
                            and/or
                            independent from the aforesaid specific terms and conditions and/or agreements.</p>
                        <br/></li>
                    <li data-list-text="5."><p>You acknowledge,
                        confirm and declare that during the registration process and/or of creating a Wallet
                        Account:</p>
                        <br/>
                        <ol id="l5">
                            <li data-list-text="1."><p>The
                                    information provided by you is true, accurate, correct and up-to-date.</p>
                                <br/></li>
                            <li data-list-text="2."><p>In the
                                    event of change of the information provided by you (such as of your mobile phone
                                    number),
                                    you shall notify us immediately.</p></li>
                            <li data-list-text="3."><p>You
                                    shall bear any and/or all losses that occur due to the submission of false,
                                    inaccurate or
                                    incorrect information – Check with framework contract</p>
                                <br/></li>
                            <li data-list-text="4."><p>You shall
                                    review the Wallet Terms and Privacy Notice periodically to be informed of any
                                    modifications
                                    and/or updates and/or changes, of which you shall be informed via a relevant message
                                    to the
                                    User’s secure inbox of the Wallet Mobile App, and your continued access and use of
                                    the
                                    Wallet shall be deemed your acceptance of any modifications.</p>
                                <br/></li>
                        </ol>
                    </li>
                    <li data-list-text="6."><p>Upon completion
                            of the above and pursuant to successful registration and/or enrolment, the Wallet Services
                            and/or
                            products shall</p>
                        <p>be made available to you.</p>
                        <br/></li>
                    <li data-list-text="7."><p>At any time, you
                            can view and/or download the Wallet Terms from the Wallet Mobile App. You may also request,
                            at any
                            time, a copy of the Wallet Terms and Privacy Notice and we recommend you to save or store or
                            print-off a copy thereof for your records.</p>
                        <br/>
                        <ol id="l6">
                            <li data-list-text="1."><h1>2.
                                    REGULATORY INFORMATION</h1></li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
        <br/>
        <ol id="l7">
            <li data-list-text="1."><p>The Wallet is a service
                    and/or product and/or Payment Instrument provided by the Bank, which is a legal entity incorporated
                    and
                    established in accordance with the laws and regulations of the Republic of Lebanon, with
                    registration no.
                    2068552, and with registered address and/or headquarters at <span>Furn el Chebbak Main Road, Anaissy Bldg, 1st floor, Beirut</span>
                </p>
                <br/></li>
            <li data-list-text="2."><p>The Bank is the issuer of
                    Electronic Money in your Wallet Account, may act as the Payment Service Provider, either of the
                    Payer or the
                    Payee [as the case may be], and performs the payment services related to and/or in connection with
                    your
                    Wallet Account.</p>
                <br/></li>
            <li data-list-text="3."><p>The Bank is regulated,
                    supervised and authorised as an Electronic Money institution by the Central Bank of the Republic of
                    Lebanon,
                    which is the competent supervisory authority, under the applicable laws and regulations.</p>
                <br/></li>
            <li data-list-text="4."><p>The Bank is also subject
                    to the Law on the Provision and Use of Payment Services and Access to Payment Systems of 2018 (Law
                    31(I)/2018), which implements the Payment Services Directive (EU) 2015/2366 into the Lebanese legal
                    system,
                    and regulates, <i>inter alia</i>, the execution of payment transactions from and into payment
                    accounts..</p>
                <br/>
                <ol id="l8">
                    <li data-list-text="1."><h1>3. BASIC
                            FEATURES OF THE WALLET</h1></li>
                </ol>
            </li>
        </ol>
        <br/>
        <ol id="l9">
            <li data-list-text="1."><p>The Wallet enables you to
                    transfer funds to other Wallet Users and third parties, pay for goods and services to other Wallet
                    Users
                    (either face-to-face or remotely or online via website or online via Mobile App) and/or remit funds
                    to and
                    from your bank account(s). Details of the list of the Wallet Merchants can be found in the
                    Merchants’ list
                    section of the Wallet Mobile App.</p>
                <br/></li>
            <li data-list-text="2."><p>The Wallet is available
                    for download only for Mobile devices from relative stores.</p>
                <br/>
                <ol id="l10">
                    <li data-list-text="1."><p>The usage of the
                            Wallet Mobile App shall be limited to one (1) single registered device per User belonging to
                            the
                            User or under the User’s control.</p>
                        <br/></li>
                    <li data-list-text="2."><p>Unique
                            identification for the User shall be the combination of the User’s mobile phone number and
                            mobile
                            Registered Device. You can change the registered device anytime by following the respective
                            swapping
                            procedure which requires you to confirm your mobile number by receiving a code by Short
                            Message
                            Service (SMS) and entering your PIN.</p>
                        <br/></li>
                </ol>
            </li>
            <li data-list-text="3."><p>By logging into your
                    Wallet Mobile App, via the portal of the Mobile App, the User of the Wallet is able, <i>inter
                        alia, </i>to:
                </p>
                <br/>
                <p>feed your Wallet Account by performing a top-up
                    via a bank transfer from your own bank account(s) with any financial institutions established in
                    Lebanon
                    into your Wallet Account irrespective of whether those support the Provision and Use of Payment
                    Services and
                    Access to the Payment Systems Law of</p>
                <p>2018 (L. 31(I)/2018), as may
                    be amended from time to time receive, or reject payments and/or bank transfers from other Users of
                    the
                    Wallet.</p>
                <p>send and/or transfer money from your Wallet
                    Account to a different User of the Wallet. withdraw cash solely from the ATMs of the Bank.</p>
                <p>view the balance of your Wallet Account, the
                    transactions executed through the Wallet and check and verify the payments displayed in your
                    transaction
                    history (which will show, inter alia, the amount, date and time, recipient of payment).</p>
                <br/>
                <p>.</p></li>
            <li data-list-text="4."><p>The
                    services offered to the User via the Wallet may vary depending on the User Level.</p>
                <br/></li>
            <li data-list-text="5."><p>The Wallet, currently,
                    allows the storing and execution of payment transactions only in the EURO currency.</p></li>
        </ol>
        <br/>
        <p>3.8. The Bank provides with electronic receipts for
            successful Wallet Transactions and does not and shall not be obliged to provide you with a physical or
            written
            confirmation in respect of any Wallet Transaction.</p>
        <br/>
        <p>3.9 The Bank reserves the absolute discretion to add
            and/or extend and/or limit and/or modify the range of services of the Wallet in accordance with the
            respective
            obligations for amendment under the Wallet Terms and in compliance with the applicable laws and regulations,
            as
            amended and/or replaced from time to time.</p>
        <br/>
        <ol id="l11">
            <li data-list-text="1."><h1>4. ELIGIBILITY</h1>
                <br/>
                <ol id="l12">
                    <li data-list-text="1."><p>To apply for being
                            registered for and/or enrolled in the Wallet and for opening a Wallet Account as a Primary
                            Wallet
                            Holder, the following eligibility criteria must be met:</p>
                        <br/>
                        <ol id="l13">
                            <li data-list-text="1."><p>a) <i>In
                                        the case of natural persons </i>- Individuals who are aged 18 years old or over
                                    and are
                                    Lebanese citizens, residing in the areas of Lebanon where the Republic of Lebanon
                                    exercises
                                    effective control.</p></li>
                            <li data-list-text="2."><p>b)
                                    Pass the Bank’s regulatory KYC and due diligence checks and procedures;</p></li>
                            <li data-list-text="3."><p>c)
                                    Not be in breach of any of the Wallet Terms during past usage of the Wallet
                                    Services; or</p>
                            </li>
                            <li data-list-text="4."><p>d) Have
                                    had your Wallet terminated and/or closed by us in the past.</p>
                                <br/></li>
                        </ol>
                    </li>
                    <li data-list-text="2."><p>The Bank reserves
                            the right and discretion to add and/or extend and/or modify the eligibility criteria set out
                            above.</p>
                        <br/>
                        <ol id="l14">
                            <li data-list-text="1."><h1>5.
                                    REGISTER YOUR WALLET</h1></li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
        <br/>
        <ol id="l15">
            <ol id="l16">
                <li data-list-text="5.1."><p>Registration is
                        performed through the Registered Device within the Wallet Mobile App and in accordance with the
                        instructions set out on the registration section therein, indicating your acceptance and
                        agreement to be
                        bound by the Wallet Terms.</p>
                    <br/>
                    <ol id="l17">
                        <li data-list-text="1."><p>To become a
                                User, you must apply for the Wallet by providing <i>all </i>of the information and/or
                                documentation requested by the registration section of the Wallet Mobile App and by
                                complying
                                with <i>all </i>the prerequisites referred to therein.</p>
                            <br/></li>
                        <li data-list-text="2."><p>During the
                                online enrolment process, each prospective User must undergo a Know-Your-Customer (KYC)
                                and due
                                diligence process and will be checked against sanction lists, politically exposed
                                persons (PEPs)
                                lists, negative information lists and other databases (including, <i>inter </i>alia, the
                                Infocredit Group Ltd).</p>
                            <br/></li>
                        <li data-list-text="3."><p>It is in the
                                Bank’s discretion, if deemed necessary, to request for one or more face-to-face meetings
                                to be
                                arranged between the Bank and the prospective User and to demand additional information
                                and/or
                                documentation for constructing the prospective User’s economic profile in compliance
                                with the
                                applicable anti-money laundering legislative and regulatory framework.</p>
                            <br/></li>
                        <li data-list-text="4."><p>The Bank
                                reserves the right and discretion to amend and/or vary the registration prerequisites
                                and/or the
                                Know-Your-Customer (KYC) and due diligence process according to the applicable laws and
                                regulations, as amended from time to time.</p></li>
                        <li data-list-text="5."><p>The Bank
                                reserves the right to accept or refuse your registration application via the Wallet
                                Mobile App
                                to the extent permitted by applicable laws and regulations.</p></li>
                    </ol>
                </li>
            </ol>
        </ol>
        <br/>
        <h1>1. 6. COMMENCEMENT, TERM AND WALLET ACCOUNT</h1>
        <br/>
        <ol id="l18">
            <li data-list-text="1."><p>The Wallet Terms come
                    into force upon the confirmation to you, via the Wallet Mobile App, that your Wallet Account has
                    been</p>
                <p>approved and activated and shall continue until
                    terminated in accordance with the relevant terms herein.</p>
                <br/></li>
            <li data-list-text="2."><p>Your Wallet Account is an
                    account where Electronic Money, which the Bank has issued to you in exchange of receiving money from
                    you or
                    on your behalf, is stored. The Electronic Money in your Wallet Account can be used by you for your
                    Wallet
                    Transactions, without accruing interest and will be held in one or more segregated bank accounts
                    separately
                    from other funds and/or bank accounts you may maintain with the Bank.</p></li>
        </ol>
        <br/>
        <h1>1. 7. IDENTITY VERIFICATION</h1>
        <br/>
        <ol id="l19">
            <li data-list-text="1."><p>You agree to cooperate with
                    all requests made by the Bank or any of the Bank’s third party service providers on its behalf in
                    connection
                    with your Wallet Account for the purposes of identifying or authenticating your identity or
                    validating your
                    funding sources and/or transactions via the Wallet. Without any limitation, this procedure may
                    include
                    inquiring from you further information that will allow the Bank to reasonably identify you.</p>
                <br/></li>
            <li data-list-text="2."><p>The Bank reserves the
                    absolute right to block, close, suspend or limit access to your Wallet Account in the event that you
                    fail
                    and/or deny and/or neglect the Bank’s requests for identity verification as per clause 7.1
                    above.</p></li>
        </ol>
        <br/>
        <h1>1. 8. TRANSACTIONS</h1>
        <br/>
        <ol id="l20">
            <li data-list-text="1."><p>In the event of a Payment
                    Transaction via the use of the Wallet Account, <i>provided that such Payment Transaction is effected
                        from</i></p>
                <p class="s1">a Wallet Account to another Wallet
                    Account and between Users of the Wallet<span class="p">, such Payment Order shall be processed instantly, and if not possible, in any event not later than the relevant time-limits provided under the Framework Contract. For any other Payment Transactions executed, the relevant time-limits provided under the Framework Contract apply.</span>
                </p>
                <br/></li>
            <li data-list-text="2."><p>Subject to the relevant
                    provisions of the Framework Contract, you acknowledge that you are responsible for all transactions
                    carried
                    out via the Wallet Account and when using your Wallet, you give us permission to receive a transfer
                    of funds
                    on your behalf.</p>
                <br/></li>
            <li data-list-text="3."><p>Depending on the User
                    Level, the Bank, based on criteria determined by it, imposes limits on the amounts of money that the
                    User is
                    able to receive, hold, withdraw and transact through the Wallet. Details on the User Levels and
                    corresponding transaction limits can be found at respective section of the Wallet Mobile App.</p>
            </li>
        </ol>
    </div>
    </body>
    </html>
    {% include 'elements/footer.html.twig' %}

{% endblock %}