<div class="terms-and-conditions container">
    <div class="header">
        <div class="head-title mb-3">
            SUYOOL SAL<br>
            PRIVACY POLICY
        </div>
        {#        uncomment this when the pdf is available #}
        {#        <button id="termsPdfDownloadButton"> #}
        {#            Download PDF #}
        {#        </button> #}
    </div>

    <p>
        SUYOOL SAL PRIVACY POLICY SUYOOL SAL, a joint-stock company validly existing under the laws of the Republic of
        Lebanon <span>(“we”, “us”, “our” or “SUYOOL”)</span>, is committed to protecting and respecting your privacy and rights.
        SUYOOL
        complies with the Banking Secrecy Law of 3 September 1956 and its amendments ensuring the highest level of
        confidentiality for your financial information.
    </p>
    <p>
        This Privacy Policy describes how your personal information is
        collected, used, and shared when you use and access our website, our application(s), or any services made
        available
        by us to our customers from time to time (collectively our “Platform”) or when you register for any type of
        account
        on our Platform (the <span>“Privacy Policy”</span>). We believe that you should know what personal data we collect and use,
        as
        well as understand your rights in respect of your personal data.
    </p>
    <p>
        We urge you to read this Privacy Policy carefully
        before accessing or using our Platform. By downloading, accessing, or using any part of our Platform or
        registering
        for any type of SUYOOL account (corporate or personal) through it, or by using our services and/or any kind of
        functionality offered on our Platform (the <span>“Services”</span>), you are agreeing to be bound by this Privacy Policy.
        This
        Privacy Policy applies to natural persons who are our current or prospective customers or are authorised
        individuals
        or beneficial owners of legal entities, which are our current or prospective customers. As a user of our
        Platform,
        you may be referred to as <span>“you”, “your(s)” or “User”</span>.
    </p>
    <p>
        Our Platform is not intended for use by minors, and we do not
        knowingly collect or store data relating to individuals under the age of 18.
    </p>
    <p>
        For the purposes of the present Privacy
        Policy, the terms <span>“personal data”, “data” and “personal information”</span> are used to refer to any information
        relating
        to you that identifies or may identify you, either directly or indirectly, such as your name, address,
        occupation,
        income details, contact details, identification data (e.g. identity card/passport number), device information,
        payment information, authentication data and any other information that we may deem necessary to render the
        service
        sought. Moreover, the term <span>“processing”</span> is used herein to collectively refer to actions such as the collection,
        retention, use, disclosure, transfer, deletion or destruction of personal data.
    </p>

    <div class="title">
        HOW TO CONTACT US
    </div>
    <p>
        For more information about this Privacy Policy, inquiries regarding our privacy practices, or to exercise any of
        your rights
        set out in this Privacy Policy, you may contact us at the following contact details:
    </p>
    <p>
        Email: contact@suyool.com Tel. <br>
        No.: +961 (0)1 290 900 or +961 81 484 000
    </p>

    <div class="title">MODIFICATIONS</div>
    <p>
        We reserve the right to modify the terms outlined in this
        Privacy Policy at any time. In the event of such changes, we will inform you through multiple means via our
        Platform. Furthermore, if a particular change significantly affects your privacy, we may send you an email
        notification. This practice ensures that you have the opportunity to review and evaluate the modifications made.
        To stay up-to-date with any such revisions, we encourage you to periodically revisit this Privacy Policy.
    </p>
    <div class="title"> WHAT PERSONAL INFORMATION WE COLLECT AND PROCESS</div>

    <table>
        <tr>
            <td><span>Type of Personal Data</span></td>
            <td><span>Details</span></td>
        </tr>
        <tr>
            <td><span>Information you give us</span></td>
            <td>
                <p>We will collect and process the information you provide through our Platform such as:</p>
                <p>
                    <span>Identification Documents and Images</span>, including numbers and copies of your identification documents
                    as well as your image in photo or video form, as part of our Know-Your-Customer (KYC) checks, and any
                    other information we ask you to give to comply with anti-money laundering laws, combat terrorist
                    financing, and assist with fraud monitoring.
                </p>
                <p>
                    <span>Identity and Contact Information</span>, including your name, surname,
                    father’s name, mother’s name, date of birth, or similar identifier, phone number, email address,
                    residency address, etc. This information is collected to register you on our Platform and provide
                    access to your SUYOOL account and our Services.
                </p>
                <p>
                    <span>Personal Details</span>, including gender, marital status, number of
                    dependents, date of birth, place of birth, country of birth, citizenship, education level.
                </p>
                <p>
                    <span>Authentication Information</span>, including signature, biometric data, usernames and passwords.
                </p>
                <p>
                    <span>Employment and Business Activity Information</span>, including profession, employer’s name, job title, and employment
                    address.
                </p>
                <p>
                    <span>Financial Profile Information</span>, including income and expenses, assets and liabilities, financial
                    history,
                    and expected financial activity.
                </p>
                <p>
                    <span>Card details</span>, including details of your debit cards and credit cards
                    including the card number, expiry date and CVC2 (the three digits number on the back of the card).
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <span>Information collected from your use of our Platform, our Services and our products</span>
            </td>
            <td>
                <p>
                    <span>Financial and Transaction Information</span>, including your payment details and transaction information
                    related to activities conducted through our Platform or through our card(s). This includes the date,
                    time, amounts, currencies, exchange rates, beneficiary details, information about the merchants or
                    ATMs
                    involved in the transactions, IP addresses of sender and receiver, device details used for any
                    transaction, and the payment method used. We collet this information to facilitate and process
                    transactions securely and efficiently.
                </p>
                <p>
                    <span>Technical Information</span>, including device identification number, IP
                    address, login data, device type, network/browser data, time zone setting, geolocation, operating
                    system
                    etc. We collect this technical information to fulfil your requests, enhance the functionality of our
                    Services, and ensure the security of our Platform.
                </p>
                <p>
                    <span>Commercial Information</span> about your visit to our
                    Platform, including the links you clicked on, through and from our website or application, services
                    you
                    viewed or searched for, page response times, download errors, length of visits to certain pages,
                    page
                    interaction information (e.g., scrolls, taps and clicks), methods used to navigate away from the
                    page,
                    as well as information for marketing purposes and to use data analytic to improve our Platform and
                    our
                    customer services.
                </p>
                <p>
                    <span>Communication Information</span>, when you communicate with us via email, chat, phone calls,
                    video calls, etc.), more data is created and recorded (e.g. method of communication, date and time,
                    content and outcome of our communication). We retain these records in our system, ensuring that we
                    can
                    provide you with optimum customer service and track customer service enquiries, requests, and
                    comments.
                </p>
            </td>
        </tr>
        <tr>
            <td><span>Information collected from third parties and public sources</span></td>
            <td>
                <span>Third-party information</span>, we gather information from third parties and publicly available sources, which
                includes the collection of personal data from entities that offer services through our Platform, such as
                merchants and agents, as well as other entities and partners who collaborate with us to enhance the
                delivery and security of our Services.
            </td>
        </tr>
    </table>

    <div class="title">HOW WE USE YOUR PERSONAL INFORMATION</div>
    <p>
        The data we collect will always be handled with the utmost care and respect for
        your privacy. Our commitment to safeguarding your Personal Data is unwavering, and we will only share it with
        third
        parties when required by law or to provide our Services.
    </p>
    <p>
        We collect and process your Personal Data in compliance
        with the Applicable Laws, including Law No. 81 dated October 10, 2018, relating to Electronic Transactions and
        Personal Data, to ensure its proper use for the following purposes:
    </p>
    <p>
        - Fulfilling our contractual obligations: We
        will process your Personal Data to honour the agreements and contracts we have with you.
    </p>
    <p>
        - Marketing and promotional
        purposes: we may also use your Personal Data for marketing and promotional purposes. This includes providing you
        with information about our products, services, promotions, special offers, and updates that we believe may be of
        interest to you. We will not share your Personal Data with third parties for marketing and promotional purposes
        but
        only use it within our organization.
    </p>
    <p>
        - Providing our Services: In order to deliver our Services effectively, there
        may be instances where we require certain Personal Data without which we would be unable to fulfil your
        requests.
    </p>
    <p>
        - Compliance with legal obligations: We are subject to various legal obligations and statutory requirements, as
        well
        as requirements of supervisory and/or regulatory authorities, such as the Central Bank of Lebanon (Banque du
        Liban).
        We have a legal duty to collect and store your Personal Data, and retain certain information even after you have
        requested its deletion. However, we will only retain the necessary data to meet our legal or regulatory
        requirements, resolve disputes, prevent fraud and abuse, or enforce our agreements with you.
    </p>
    <p>
        - Consent: Where you have provided your consent for the collection of your Personal Data, we will process it in
        accordance with the scope
        of your consent.
    </p>

    <div class="title">DISCLOSURE OF YOUR PERSONAL INFORMATION</div>
    <p>
        Your privacy and data protection are of utmost importance
        to us, and we are dedicated to safeguarding them. In the course of delivering our Services or when required by
        law,
        we may collaborate with trusted third parties and share your Personal Data with them. Rest assured that your
        data
        will only be shared with third parties who are bound by the same stringent privacy rules and standards that we
        adhere to.
    </p>
    <p>
        Your data may be shared with various service providers and suppliers with whom we have contractual
        agreements. Additionally, we may disclose your personal information to other individuals and/or entities for the
        reasons described above, where we are legally obligated or otherwise authorized to do so, or when you have given
        us
        your explicit consent.
    </p>
    <p>
        Recipients of your Personal Data include:
    </p>
    <p>- Merchants;</p>
    <p>- Agents;</p>
    <p>- Financial institutions;</p>
    <p>- Public and/or regulatory and/or supervisory authorities, and other public institutions, anti-fraud detection
        and
        prevention entities, law enforcement agencies, or courts;</p>
    <p>- Technological and analytical service providers;</p>
    <p>- Providers of customer support related services;</p>
    <p>- Service providers and collaborators related to marketing and
        publicity, such as advertising agencies, advertising partners or social media outlets;</p>
    <p>- Entities we work with for
        the provision of credit/debit card services (e.g., VISA and MASTERCARD), including the entities with which we
        cooperate for the issuance of our cards;</p>
    <p>- Other third parties when you consent to such sharing.</p>
    <p>
        Furthermore, it is possible that we may enter into transactions such as selling, transferring, or merging parts
        of our business or
        assets with third parties. Similarly, we may also consider acquiring other businesses or merging with them. In
        the
        event of such changes to our business structure, the new owners may utilize your Personal Data in the same
        manner as
        described in this Privacy Policy.
    </p>
    <p>
        We hold a firm commitment to safeguarding the security and legality of your
        Personal Data, even when shared with third parties. We require that all third-party service providers respect
        the
        confidentiality and integrity of your Personal Data, handling it in strict accordance with the Applicable Laws.
    </p>

    <div class="title">DATA RETENTION PERIOD</div>
    <p>
        We will retain your Personal Data for as long as your SUYOOL account is active or as needed to
        provide you with our Services and fulfil the purposes for which it was collected and processed. This includes
        complying with our legal and statutory obligations, as well as accounting and reporting requirements.
    </p>
    <p>
        We will generally keep your Personal Data for a period of (10) ten years after our contractual relationship with
        you ends,
        or for the duration required by Applicable Laws.
    </p>
    <p>
        To determine the appropriate retention period for your Personal
        Data, we will consider the amount, nature, and sensitivity of the Personal Data, the potential risk of
        unauthorized
        use or disclosure, the purposes of processing, and whether we can achieve those purposes through other means.
    </p>
    <p>
        In specific situations, such as when handling a complaint or anticipating litigation related to our relationship
        with
        you, we may retain your Personal Data for an extended period. Therefore, even after closing your SUYOOL account,
        we
        retain certain Personal Data to fulfil these obligations.
    </p>
    <p>
        Additionally, there may be instances where we anonymize your Personal Data, rendering it no longer identifiable
        to you.
        In such cases, we may use the anonymized information indefinitely without further notice to you.
    </p>
    <p>
        If you would like specific details regarding the retention periods for
        different aspects of your Personal Data, please contact us, and we will provide the necessary information.
    </p>

    <div class="title">YOUR RIGHTS</div>
    <p>
        We undertake to keep your Personal Data confidential and to use it for the purposes set out in this Privacy
        Policy as amended from time to time.
    </p>
    <p>
        In addition, we may offer you the possibility to exercise your rights and
        setting your privacy preferences when using some of our services or visiting our Platform.
    </p>
    <p>
        In particular,
        notwithstanding the purpose or legal basis we use to process your Personal Data, and to the extent provided by
        law,
        you are entitled to the following:
    </p>
    <p>
        - To have <span>access</span> to the Personal Data we collected from you.
    </p>
    <p>
        - To request us to <span>rectify</span>
         the Personal Data that we have available. This allows you to request corrections to any incomplete or
        inaccurate data we have in our records pertaining to you. We may require verification of the accuracy of any new
        data you provide to us in order to facilitate the necessary corrections. Please bear in mind that you shall be
        liable for any loss or damage caused to us or to any third party by providing erroneous, inaccurate or
        incomplete
        information.
    </p>
    <p>
        - To request from us the <span>deletion</span> of your Personal Data to the extent that they are no longer necessary
        for the purpose for which we need to keep processing them, as explained herein, or when we are no longer legally
        permitted to process them. However, we may not always be able to comply with your request of erasure for
        specific
        legal reasons which will be notified to you, if applicable, at the time of your request.
    </p>
    <p>
        - To <span>object to</span> or <span>restrict</span>
        the processing of your Personal Data when we rely on legitimate interests (or the legitimate interests of a
        third
        party) and there are specific circumstances in which you believe that such processing infringes upon your
        fundamental rights and freedoms. Additionally, you have the right to object to the processing of your Personal
        Data
        for direct marketing purposes. However, it is important to note that there may be cases where we can demonstrate
        compelling legitimate grounds to continue processing your information. We will assess each objection on a
        case-by-case basis, taking into account the specific circumstances and applicable legal requirements.
    </p>
    <p>
        - To <span>withdraw</span> consent, if you have given us your consent to process your Personal Data for any purpose, you also have the
        right to
        withdraw such consent at any time.
    </p>
    <p>
        If you wish to exercise any of the rights set out above, please contact us.
    </p>

    <div class="title">DATA SECURITY</div>
    <p>
        We have implemented comprehensive security measures to protect your Personal Data from accidental loss,
        unauthorized access, alteration, or disclosure. Moreover, we restrict access to your Personal Data to only those
        employees, contractors, and third parties who require it for legitimate business purposes. They will handle your
        Personal Data strictly according to our instructions and are bound by confidentiality obligations.
    </p>
    <p>
        In the event of any suspected Personal Data breach, we promptly address the situation and, where legally
        mandated, notify you and
        the relevant regulatory authorities of the breach. We take our responsibility to uphold data protection
        seriously
        and ensure compliance with the Applicable Law.
    </p>

    <div class="title">COOKIES</div>
    <p>
        When browsing our website, we, and the third parties that
        provide content, functionality, or business services on through our website may use cookies to collect
        information
        about your activities. This information is used to provide you with more relevant content and promotional
        materials
        and help us understand your interests and improve our website.
    </p>
    <p>
        It is important to be aware that our website utilizes
        persistent cookies to retain your confirmation of the Privacy Policy. Nevertheless, your consent will be
        required
        before employing cookies. You have the option to decline the use of cookies; however, doing so will result in
        restricted access to our website.
    </p>

    <div class="title">OPTING OUT</div>
    <p>
        You can ask us to stop sending you marketing messages at any time
        through our application or by unsubscribing through the emails you receive from us.
    </p>

    <div class="title">CHANGES TO THIS PRIVACY POLICY</div>
    <p>
        If we change the way we use your Personal Data, we will update this Privacy Policy and, if appropriate, let you
        know
        by email, through our application or through our website.
    </p>


</div>
