<div class="terms-top-section help-top-info help-section1">
    <div class="info container-fluid">
        <div class="row">
            <div class="sub-title">PRIVACY POLICY</div>
            <div class="title">Suyool Privacy Policy</div>
        </div>
    </div>
</div>