* {
    margin: 0;
}

.ar {
    text-align: right;
    direction: rtl;
}

body {
    background-color: hsl(0deg 5.57% 71.65% / 9%);
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: none;
    color: unset;
}

.button-primary {
    background-color: #226D96;
    padding: 8px 80px;
    color: unset;
    color: white;

    &:hover {
        background-color: #226D96;
    }
}

.displayNone {
    display: none;
}

.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
}

.learnmore {
    background: #226d96;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: inline-flex;
    font-family: PoppinsMedium;
    margin-top: 50px;
    padding: 15px 30px;

    &:hover {
        color: #fff;
    }
}

.right {
    text-align: right;
}

.tryagain {
    padding-top: 38vh;
    text-align: center;

    .close {
        border: none;
        padding: 13px 57px;
        margin-top: 32px;
        background-color: #c82f2a;
        color: #ffffff;
        border-radius: 10px;
    }
}