#PageBody {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;

  .scrolableView {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .opacityNone {
      opacity: 0;
    }
  }

  .hideBack {
    background-color: hsl(0deg 0% 59% / 41%);
    border-radius: 7px;
  }

  .hideBackk {
    opacity: 0.5;
    background: #9696963d;
  }
}

#opacityNone {
  opacity: 0;
}

#ContinueBtn {
  width: 100%;
  padding: 13px;
  text-align: center;
  background-color: #226d96;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: $Medium;
}

#modalRadius {
  .modal-content {
    border-radius: 10px !important;
  }
  .modal-body {
    padding: 12px;
    padding-top: 20px;
  }
}

#SuccessModal {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 0px 0px;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
  }

  .title {
    font-family: $SemiBold;
    font-size: 15px;
    color: black;
    padding-top: 33px;
  }

  .desc {
    font-family: $Medium;
    font-size: 15px;
    color: black;
    text-align: center;
    padding-top: 2px;
  }

  .okiBtnModal {
    margin-top: 40px;
    padding: 15px;
    font-family: $Medium;
    font-size: 15px;
    color: black;
    background-color: #f4f4f4;
    border-radius: 7px;
    width: 100%;
    border: none;
  }
}

#ErrorModal {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
  }

  .title {
    font-family: $SemiBold;
    font-size: 15px;
    color: black;
    padding-top: 33px;
  }

  .desc {
    font-family: $Medium;
    font-size: 15px;
    color: black;
    text-align: center;
    padding-top: 2px;
  }

  .buttonsDesign {
    display: flex;
    width: 100%;
    .okiBtnModal {
      margin-top: 40px;
      padding: 15px 36px;
      font-family: $Medium;
      font-size: 15px;
      color: black;
      background-color: #f4f4f4;
      border-radius: 7px;
      width: 100%;
      border: none;
    }

    .exchangeBtnModal {
      margin-top: 40px;
      padding: 15px 36px;
      font-family: $Medium;
      font-size: 15px;
      color: #ffffff;
      background-color: #226d96;
      border-radius: 7px;
      width: 100%;
      border: none;
      margin-left: 10px;
      z-index: 1;
    }
  }
}

#spinnerLoader {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  z-index: 1002;
  position: absolute;
  justify-content: center;

  .spinner {
    width: 100px;
    height: 100px;
  }
}

#MobileHeader {
  background-image: linear-gradient(to bottom, #353a6a, #246992);
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 7px 6px #d8dee6;
  position: fixed;
  top: 0;
  z-index: 1;

  .back {
    padding-left: 30px;
  }

  .headerTitle {
    color: #fff;
    font-family: $Regular;
    font-size: 14px;
    padding-left: 20px;
  }

  .empty {
    padding-right: 50px;
  }
}

#Default {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  padding: 20px 15px;

  .MainTitle {
    font-family: $Medium;
    font-size: 16px;
    color: black;
    width: 100%;
    margin-top: 10px;
  }

  .Cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px 10px 10px 10px;
    border-radius: 6px;
    border: 1px solid #d8dee6;
    box-shadow: 0px 3px 10px #e7eaf0;
    margin-top: 15px;
    align-items: flex-start;

    .logoImg {
      width: 54px;
      height: 54px;
      margin-left: 10px;
    }

    .Text {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      padding-right: 20px;

      .SubTitle {
        font-family: $SemiBold;
        font-size: 15px;
        color: black;
      }

      .description {
        font-family: $Regular;
        font-size: 14px;
        color: #767676;
      }
    }
  }
}

#BottomSliderContainer {
  position: absolute;
  display: flex;
  width: 100%;
  background-color: white;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1001;
  box-shadow: 2px -3px 10px #f4f4f4;
  flex-direction: column;
  align-items: center;

  .topSection {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    .brBoucket {
      height: 3px;
      border-radius: 3px;
      margin-top: 15px;
      background-color: #ebebeb;
      width: 80px;
    }

    .titles {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .titleGrid {
        font-size: 1tpx;
        font-family: $SemiBold;
        color: black;
      }

      button {
        background-color: white;
        border: none;
        color: #d32127;
        font-size: 15px;
        font-family: $Medium;
      }
    }
  }

  .bodySection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
