*{
    margin: 0;
}
a{
    text-decoration: none;
}

.green {
    color: #008000;
}

.red {
    color: #dc2129;
}
$pr-color: #226D96;

.button-primary {
    background-color: $pr-color;
    padding: 8px 80px;
}