<div class="formWrapper">
    {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                {{ form_widget(form) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>