{% extends 'base.html.twig' %}

{% block body %}
    <div class="personal-fees-page">

        <div class="white-navbar container-fluid">
            {% include 'elements/header-v2.html.twig'%}
        </div>

        {% include 'personal-fees/top-section.html.twig' %}
        {% include 'personal-fees/text.html.twig'%}
    </div>

    {% include 'elements/footer.html.twig' %}

{% endblock %}