<div class="personal-fees container">
    <div class="head">SUYOOL ACCOUNT</div>

    <div class="title">Subscription</div>
    <div class="sub">Subscription fee</div>
    <p>FREE</p>
    <div class="sub">Closure fees</div>
    <p>FREE</p>


    <div class="title">Add Money</div>
    <div class="sub">Cash (USD/LBP) at BoB Finance</div>
    <p>FREE</p>
    <div class="sub">Add money using a USD card</div>
    <p>2.5%</p>
    <div class="sub">Add money using a LBP card</div>
    <p>5%</p>
    <p>Ask your company to settle your payroll on Suyool</p>


    <div class="title">Card</div>
    <div class="sub">Suyool Debit Card</div>
    <p> $12 per year <span>(Delivery <b>FREE</b> OF CHARGE all over Lebanon)</span></p>

    <div class="sub">Replacement Suyool Debit Card</div>
    <p>$10</p>

    <div class="sub">Card Cancelation</div>
    <p>$0</p>

    <div class="sub">Card PIN Replacement</div>
    <p>$0</p>

    <div class="sub">Card Statement Fees</div>
    <p>$0 from Suyool App</p>

    <div class="title">Delivery Charge for Suyool Card</div>
    <div class="sub">Free all over Lebanon</div>

    <div class="title">CASH OUT</div>
    <div class="sub">Wallet Cash Withdrawal Fees</div>
    <p>
        First $200 (or its LBP equivalent) each month: FREE<br>
        After that, 1.5% fees apply on amounts in USD & LBP.
    </p>
    <div class="sub">ATM Cash Withdrawal Fees Local Fresh & International</div>
    <p>$3.75 + 0.5% fees apply (some banks might charge additional fees)</p>

    <div class="title">SEND MONEY</div>
    <div class="sub">Instant Transfers to other Suyool users</div>
    <p>Free</p>

    <div class="sub">Instant Transfers to NON-Suyool users</div>
    <p>1.5% fees apply</p>

    <div class="title">CARD SPENDING</div>
    <div class="sub">Card used in Lebanon</div>
    <p>Free</p>

    <div class="sub">Card Forex mark up</div>
    <p>4% fees apply</p>

    <div class="sub">DCC fee when card is used in USD in a country where their official currency is not USD</div>
    <p>4% fees apply</p>

    <div class="sub">Cross border fee when card is used in the United States or online for USD payments</div>
    <p>1% + $0.5 fees apply</p>

{#    <div class="title">EXCHANGE</div>#}
{#    <p>Exchanging money at parralel market rate</p>#}
{#    <div class="sub">#}
{#        Whenever you make an exchange using Suyool:<br><br>#}
{#        - You get the live Dimes exchange rate<br>#}
{#        - We will tell you the amount before you make the exchange.<br><br>#}
{#        Exchange monthly limit is equal your monthly limit.#}
{#    </div>#}

    <div class="title">OTHERS</div>
    <div class="sub">Usage Alert Fees</div>
    <p>Free</p>

</div>