<div class="personal-fees container">
    <div class="head">SUYOOL ACCOUNT</div>

    <div class="title">Subscription</div>

    <div class="sub">Subscription fee</div>
    <p>FREE</p>

    <div class="sub">Closure fees</div>
    <p>FREE</p>


    <div class="title">Wallet Limit</div>
    <div class="sub">Regular User (Didn’t order Suyool Platinum Card)</div>
    <p>$3000 or equivalent in LBP</p>

    <div class="sub">User with Suyool Platinum Card</div>
    <p>$10,000 or equivalent in LBP</p>

    <div class="sub">User Receiving their Payroll on Suyool</div>
    <p>Limit of the Payroll if above $10,000 or equivalent in LBP</p>

    <div class="title">Add Money</div>
    <div class="sub">Add money using a USD card</div>
    <p>2.5%</p>

    <div class="sub">Add money using a LBP card</div>
    <p>5%</p>

    <div class="sub">However, if you add cash (USD/LBP) at BoB Finance</div>
    <p>FREE</p>

    <div class="title">Card</div>
    <div class="sub">Suyool Platinum Mastercard</div>
    <p> $12 per year <span>(Delivery FREE OF CHARGE all over Lebanon)</span></p>

    <div class="sub">Replacement Suyool Platinum Mastercard</div>
    <p>$5</p>

    <div class="sub">Card Cancelation</div>
    <p>$0</p>

    <div class="sub">Card PIN Replacement</div>
    <p>$0</p>

    <div class="sub">Card Statement Fees</div>
    <p>$0 from Suyool App</p>

    <div class="sub">If your company has a corporate account and ordered a Suyool Corporate card, ). Your Pro card does not count towards the card limit on your Personal plan.</div>

    <div class="title">Delivery Charge for Suyool Card</div>
    <div class="sub">Free all over Lebanon</div>

    <div class="title">SPEND</div>
    <div class="sub">Card Forx mark up</div>
    <div class="sub">4%</div>
    <div class="sub">DCC fee when card is used in USD in a country where their official currency is not USD</div>
    <div class="sub">4%</div>
    <div class="sub"> Cross border fee when card is used in US or on US website</div>
    <div class="sub">1% + $0.5</div>

    <div class="title">CASH OUT</div>
    <div class="sub">Wallet Cash Withdrawal Fees</div>
    <p>$200/Month free of charge then 1.5% on USD & LBP</p>

    <div class="sub">ATM Cash Withdrawal Fees</div>
    <p>3.75$ + 0.5% (some banks might charge additional fees)</p>

    <div class="title">SEND MONEY</div>
    <p>Instant Transfers to other Suyool users</p>

    <div class="sub">Free</div>
    <p></p>
    <div class="sub">This means any Instant Transfer to any Suyool user, globally.</div>

    <p>Instant Transfers to NON-Suyool users</p>
    <div class="sub">Free up to $200 per month (or equivalent in LBP)</div>
    <br>
    <div class="sub">Above $200, 1.5% fees applies</div>
    <br>

    <p>International Transfers</p>
    <div class="sub">A fee applies for international payments.</div>
    <br>
    <div class="sub">This fee will be calculated in real time and shown to you in the app before you make the
         payment. The exact fee will depend on what account currency you are sending to and where you are sending it to.</div>
    <br>

    <div class="title">EXCHANGE</div>
    <p>Exchanging money at parralel market rate</p>
    <div class="sub">
        Whenever you make an exchange using Suyool:<br><br>
        - You get the live Dimes exchange rate<br>
        - We will tell you the amount before you make the exchange.<br><br>
        Exchange monthly limit is equal your monthly limit.
    </div>

    <div class="title">OTHERS</div>
    <div class="sub">Usage Alert Fees</div>
    <p>Free</p>

    <div class="terms sub">Terms & Conditions document is available free of charge <a href="">here.</a></div>

    <div class="note sub">
        Note: If a fee is stated in a currency other than the base currency of your account, it will be charged in your base currency.
        This conversion is made and fixed using a reasonable exchange rate at the time each individual fee is set. This
        prevents fees fluctuating.
    </div>

</div>