.ApplyForCorporate {
    background-color: #F7F9FB;
    padding-top: 30px;
    padding-right: calc(72px + 4%);
    padding-left: calc(72px + 4%);
    padding-bottom: 30px;

    .CorporateCont {
        background-color: white;
        box-shadow: 0px 3px 6px #D1D0D0;
        padding-bottom: 30px;

        .TopSection {
            font-family: PoppinsRegular;
            font-size: 26px;
            color: #576271;
            border-bottom: 1px solid #f3f8ff;
            padding: 26px 0;
            text-align: center;
        }

        .formCompany {

            padding-left: 50px;

            .title {
                font-family: PoppinsSemiBold;
                font-size: 20px;
                color: black;
                padding-top: 20px;
                padding-bottom: 5px;
            }

            .label {
                font-family: LiberFranckly;
                font-size: 15px;
                color: black;
                padding: 12px 10px 8px 10px;
            }

            .input {
                font-family: LiberFranckly;
                color: #495666;
                border: 1px solid #95989A;
                border-radius: 6px;
                padding: 10px 12px;
                margin-left: 15px;
                width: 360px;
            }

            .address {
                position: relative;
                width: 720px;
                margin-left: 15px;

                .addImg {
                    position: absolute;
                    right: 20px;
                    bottom: 10px;
                }

                .addressinput {
                    font-family: LiberFranckly;
                    color: #495666;
                    border: 1px solid #95989A;
                    border-radius: 6px;
                    padding: 10px 12px;
                    width: 100%;
                }
            }


            .btnSection {
                text-align: center;
                margin: 20px auto;

                .ApplyBtn {
                    background-color: #226D96;
                    width: 366px;
                    padding: 10px;
                    font-family: PoppinsBold;
                    text-align: center;
                    font-size: 20px;
                    color: white;
                    border: none;
                    border-radius: 6px;
                }
            }
        }
    }
}