#MyBundle {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 15px;

    .MyBundleBody {
        // height: 100vh;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .mainTitle {
            font-family: $Medium;
            font-size: 16px;
            color: black;
            width: 100%;
        }

        .mainDesc {
            font-family: $Regular;
            font-size: 12px;
            color: black;
            width: 100%;
        }

        .BundleBigImg {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 22px;
        }

        .smlDesc {
            font-family: $Regular;
            font-size: 12px;
            width: 100%;
            color: #F47A00;
        }

        .smlDescSayrafa {
            font-family: $Regular;
            font-size: 12px;
            padding-bottom: 10px;
            width: 100%;
            color: #F47A00;
        }

        .relatedInfo {
            font-family: $Regular;
            font-style: italic;
            font-size: 12px;
            margin-top: 4px;
            padding: 10px 0;
            color: black;
        }

        .MoreInfo {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 0;

            .label {
                font-family: $Medium;
                color: #1C1A32;
                font-size: 14px;
            }

            .value {
                font-family: $SemiBold;
                color: #000000;
                font-size: 14px;
            }

            .value1 {
                font-family: $SemiBold;
                color: #000000;
                font-size: 20px;
            }
        }

        .br {
            margin: 10px 0;
            height: 0.5px;
            width: 100%;
            background-color: #EBEBEB;
            width: -webkit-fill-available;
        }

        .btnCont {
            // position: absolute;
            // bottom: 10px;
            margin-top: 60vh;
            width: 90%;
        }
    }



    // .phNum {
    //     width: 100%;
    //     margin-top: 15px;

    //     .title {
    //         font-family: $Medium;
    //         font-size: 14px;
    //         color: black;
    //         width: 100%;
    //     }

    //     .lbNum {
    //         .MobileNbContainer {
    //             display: flex;
    //             flex-direction: row;
    //             width: 100%;

    //             .place {
    //                 border: 1px solid #7588A034;
    //                 border-radius: 5px;
    //                 // box-shadow: 0px 3px 5px #E7EAF0;
    //                 width: 27%;
    //                 display: flex;
    //                 flex-direction: row;
    //                 align-items: center;
    //                 height: 50px;
    //                 justify-content: space-evenly;

    //                 .code {
    //                     font-family: $Bold;
    //                     font-size: 14px;
    //                     color: black;
    //                 }
    //             }

    //             .nbInput {
    //                 height: 50px;
    //                 width: 70%;
    //                 margin-left: 3%;
    //                 border-radius: 5px;
    //                 border: 1px solid #7588A034;
    //                 // box-shadow: 0px 3px 5px #E7EAF0;
    //                 font-family: $Medium;
    //                 font-size: 14px;
    //                 color: #9C9DA2;
    //                 padding: 5px 15px;
    //             }
    //         }
    //     }
    // }

    // .CurrencySec {
    //     width: 100%;
    //     margin-top: 25px;

    //     .title {
    //         font-family: $Medium;
    //         font-size: 14px;
    //         color: black;
    //         width: 100%;
    //     }

    //     .switch {
    //         margin-top: 10px;
    //         background-color: #f2f2f2;
    //         border-radius: 12px;
    //         padding: 5px;
    //         display: flex;

    //         .selected {
    //             padding: 12px;
    //             text-align: center;
    //             width: 50%;
    //             background-color: white;
    //             font-family: $Medium;
    //             color: #373464;
    //             font-size: 14PX;
    //             border-radius: 12px;

    //         }

    //         .notSelected {
    //             padding: 12px;
    //             text-align: center;
    //             width: 50%;
    //             font-family: $Medium;
    //             color: #9c9da2;
    //             border-radius: 12px;
    //             font-size: 14PX;

    //         }
    //     }
    // }

    // .SuggestedSection {
    //     width: 100%;

    //     .title {
    //         font-family: $Medium;
    //         font-size: 14px;
    //         color: black;
    //         width: 100%;
    //     }

    //     .bundlesSection {
    //         margin-top: 20px;
    //         width: 100%;
    //         display: flex;
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //         justify-content: space-between;
    //         height: 75vh;
    //         align-content: flex-start;
    //         overflow-y: auto;
    //         overflow-x: hidden;

    //         .bundleGrid {
    //             width: 48%;
    //             display: flex;
    //             flex-direction: row;
    //             padding: 12px 15px;
    //             border: 1px solid #edf0f3;
    //             border-radius: 7px;
    //             justify-content: space-around;
    //             margin-top: 13px;


    //             .GridImg {
    //                 width: 55px;
    //                 height: 55px;
    //                 border-radius: 50%;
    //             }

    //             .gridDesc {
    //                 display: flex;
    //                 flex-direction: column;

    //                 .Price {
    //                     font-family: $Bold;
    //                     color: black;
    //                     width: 20px;
    //                 }

    //                 .bundleName {
    //                     font-family: $Regular;
    //                     font-size: 13px;
    //                     color: #929292;
    //                 }
    //             }
    //         }

    //     }
    // }
}