{% extends 'base.html.twig' %}

{% block body %}
	<div
		class="middleeast">
		{# {% include "elements/mastercard/topSectionMiddle.html.twig" %} #}
		<div class="topSection">
			<a href="/" class="container-fluid">
				<img src="/build/images/suyool-title-white.png">
			</a>
		</div>

		<div class="coverDetails">
			<div class="left">
				<div class="title">Offer Details</div>
				<div class="description">
					<div class="dot"></div>
					<div class="desc">Unlimited, complimentary access for you* to over 25 regional and international airport lounges across UAE, Saudi Arabia, Jordan, Kuwait, Egypt, Morocco, USA, UK, Canada, Germany, France, Singapore, and more.</div>
				</div>
				<div class="description">
					<div class="dot"></div>
					<div class="desc">Access to business facilities: email, internet, phones, fax machines and conference space in some lounges.</div>
				</div>
				<div class="description">
					<div class="dot"></div>
					<div class="desc">Complimentary refreshments and snacks.</div>
				</div>

			</div>
			<div class="ledt"></div>
			<div class="rightt">
				<div class="titles">
					<img src="/build/images/middleEast/plane.png">
					<div class="title">TRAVEL</div>
				</div>
				<div class="mainTitle">Middle East & Levant Platinum Lounge Program</div>
				<div class="cards">
					<div class="cardo">
						<img src="/build/images/middleEast/validity.svg">
						<div class="txtContainer">
							<div class="tit">Validity</div>
							<div class="desc">Everygreen, Until the end of the year and beyond </div>
						</div>
					</div>
					<div class="cardo">
						<img src="/build/images/middleEast/destination.svg">
						<div class="txtContainer">
							<div class="tit">Destinations</div>
							<div class="desc"> UAE, Saudi Arabia, Jordan, Kuwait, Egypt, Morocco, USA, UK, Canada, Germany, France, Singapore.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		{% include 'elements/footer.html.twig' %}
	</div>

{% endblock %}
