{% extends 'base.html.twig' %}

{% block body %}
	<div
		class="middleeast">
		{# {% include "elements/mastercard/topSectionMiddle.html.twig" %} #}
		<div class="topSection">
			<a href="/" class="container-fluid">
				<img src="/build/images/suyool-title-white.png">
			</a>
		</div>

		<div class="coverDetails">
			<div class="left">
				<div class="title">Offer Details</div>
				<div class="description">
					<div class="dot"></div>
					<div class="desc">Unlimited, complimentary access for you* to over 25 regional and international airport lounges across UAE, Saudi Arabia, Jordan, Kuwait, Egypt, Morocco, USA, UK, Canada, Germany, France, Singapore, and more.</div>
				</div>
				<div class="description">
					<div class="dot"></div>
					<div class="desc">Access to business facilities: email, internet, phones, fax machines and conference space in some lounges.</div>
				</div>
				<div class="description">
					<div class="dot"></div>
					<div class="desc">Complimentary refreshments and snacks.</div>
				</div>

			</div>
			<div class="ledt"></div>
			<div class="rightt">
				<div class="titles">
					<img src="/build/images/middleEast/plane.png">
					<div class="title">TRAVEL</div>
				</div>
				<div class="mainTitle">Middle East & Levant Platinum Lounge Program</div>
				<div class="cards">
					<div class="cardo">
						<img src="/build/images/middleEast/validity.svg">
						<div class="txtContainer">
							<div class="tit">Validity</div>
							<div class="desc">Everygreen, Until the end of the year and beyond
							</div>
						</div>
					</div>
					<div class="cardo">
						<img src="/build/images/middleEast/destination.svg">
						<div class="txtContainer">
							<div class="tit">Destinations</div>
							<div class="desc">
								UAE, Saudi Arabia, Jordan, Kuwait, Egypt, Morocco, USA, UK, Canada, Germany, France, Singapore.</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container howtouse">
			<div class="row">
				<div class="col-lg-9  col-md-12 order-lg-1 order-2">
					<div class="textsection">
						<div class="title">HOW TO USE</div>
						<div class="subtitle">How to use</div>
						<div class="listofuse">
							<div class="cont">
								<div class="ol"><span>1</span></div>
								<div class="tt">Download the Mastercard Travel Pass app</div>
							</div>
							<div class="cont">
								<div class="ol"><span>2</span></div>
								<div class="tt">Register your Suyool Platinum Mastercard card securely.</div>
							</div>
							<div class="cont">
								<div class="ol"><span>3</span></div>
								<div class="tt">Use the app to locate lounges near you.</div>
							</div>
							<div class="cont">
								<div class="ol"><span>4</span></div>
								<div class="tt">Confirm complimentary visits eligibility.*</div>
							</div>
							<div class="cont">
								<div class="ol"><span>5</span></div>
								<div class="tt">Present the app QR code to the lounge receptionist.**</br> (Find it by clicking “Access Lounge” from the “Members Access” page)</div>
							</div>
							<div class="cont">
								<div class="ol"><span>6</span></div>
								<div class="tt">Enjoy your lounge access.</div>
							</div>
						</div>
						<div class="nb">*Complimentary access entitlement and fees for you or your guest will vary according to card tier. If applicable, fees will be charged immediately to the Mastercard on the app. **Access may also be validated by showing the Membership Number on your app.</div>
						<button class="downloadBtn">Download Mastercard Travel Pass</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 order-lg-2 order-1"><img class="imgright" src="/build/images/middleEast/flightImg.png"></div>
			</div>
		</div>

		<div class="thingsToNote">
			<div class="title">THINGS TO NOTE</div>
			<div class="subtitle">Important to know</div>
			<div class="container-fluid list">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="cardview">
							<img class="cardimg" src="/build/images/middleEast/wifi.svg" />
							<div class="txt">Cardholders need internet access/data connectivity to download and register into the Mastercard Travel Pass app.</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="cardview">
							<img class="cardimg" src="/build/images/middleEast/building.svg" />
							<div class="txt">The previous program leveraging the airport lounge network of LoungeKey / Priority Pass will be discontinued as per the date communicated by your issuing bank.</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="cardview">
							<img class="cardimg" src="/build/images/middleEast/travel.svg" />
							<div class="txt">Once registered, cardholders can access the lounge online or offline.</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-12">
						<div class="cardview">
							<img class="cardimg" src="/build/images/middleEast/card.svg" />
							<div class="txt">Access based on physical Mastercard card or Priority Pass card will no longer be accepted.</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="cardview">
							<img class="cardimg" src="/build/images/middleEast/qr.svg" />
							<div class="txt">Each cardholder, primary and supplementary, should show their individual QR code to avoid guest charges.</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="cardview">
							<img class="cardimg" src="/build/images/middleEast/program.svg" />
							<div class="txt">The new program is powered by Dragon Pass and can be accessed through the Mastercard Travel Pass app.</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="termsSection">
			<div class="title">T&C</div>
			<div class="subtitle">Terms & Conditions</div>
			<div class="desc">Please note that terms and conditions apply. </br> For detailed information, refer to the DragonPass International Ltd terms and conditions page.</div>
			<div style="text-align: center;"> <button class="read">Read T&C</button></div>
		</div>

		{% include 'elements/footer.html.twig' %}
	</div>

{% endblock %}
