<div class="faq">
    <div class="container">
    <div class="title">FAQ</div>
    <div class="subtitle">
        Frequently Asked Questions
    </div>
    <div class="FAQaccordion" id="accordionFAQ">
  <div class="accordion-item">
    <h2 class="accordion-header headerTitle" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        What is Suyool?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFAQ">
      <div class="accordion-body bodyOne">
        Suyool is an app that you can download for free on your Android or IOS device. It is a digital account & a payment tool.<br>It is the most secure and convenient way to manage your money digitally, without the need of a traditional bank account.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header headerTitle" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Can anyone open a Suyool account?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ">
      <div class="accordion-body bodyTwo">
        Anyone can open a Suyool account for free. All they need is to be over 18, a Lebanese number & an ID/Passport.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header headerTitle" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        What are the benefits for Alfa employees?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
      <div class="accordion-body bodyThree">
        Alfa employees will enjoy a wide range of perks, including a complimentary Platinum Mastercard with its associated <br>benefits, as well as the hassle-free withdrawal of their entire salary in cash, all at no cost.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header headerTitle" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Is there any fee to get my Suyool Platinum Mastercard?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFAQ">
      <div class="accordion-body bodyFour">
        Your Suyool Mastercard will be free-of-charge as long as you are an Alfa employee.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header headerTitle" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Where can I use my Suyool Platinum Mastercard?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFAQ">
      <div class="accordion-body bodyFive">
        You can use your Suyool Mastercard at any POS, online, in Lebanon & abroad
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header headerTitle" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Where can I withdraw my salary in cash?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionFAQ">
      <div class="accordion-body bodySix">
        Users can access their money from more than 700+ BoB Finance offices all over Lebanon.
      </div>
    </div>
  </div>
</div>
</div>
</div>
