<div class="use-money">
    <div class="container-fluid">
        <div class="row use-money-row">
            <div class="col-md-6">
                <div class="image">
                    <div class="desktopMode"><img src="{{asset('build/images/medco-payment/litersCard.png')}}" alt=""></div>
                    <div class="tabletMode"><img src="{{asset('build/images/medco-payment/litersCard.png')}}" alt=""></div>
                    <div class="mobileMode"><img src="{{asset('build/images/medco-payment/litersCard.png')}}" alt=""></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">LITERS PLUS CARD</div>
                <div class="desc">Add Money to your Liters Plus Card</div>
                <span>Have a Liters Plus Card? You can add money to it using Suyool!</span>
            </div>
        </div>
    </div>
</div>
