<div class="remote-payment">
    <div class="title">{{ remoteTitle }}</div>
    <div class="subTitle">{{ remoteSubTitle }}</div>
    <div class="desc">{{ remoteDesc }}</div>
    <img src="{{ asset(remoteImg) }}">
</div>