{% extends 'base.html.twig' %}

    {% block title %}Suyool
    {% endblock %}

    {% block body %}
        <div class="alfa globalEsim">
            {% include 'global-esim/topSection.html.twig' %}
            {# {% include 'medco-payroll/medco-steps.html.twig' %}
            {% include 'elements/alfa_employee/alfa_mastercard.html.twig' %} #}
            {# {% include 'medco-payroll/use-money.html.twig' %}
            {% include 'elements/payrolls/solution.html.twig' %}
            {% include 'elements/payrolls/exchange.html.twig' %} #}
            <div class="purchaseBtnCont"><button class="btn btn-primary">Purchase Suyool eSIM</button></div>
            <div class="sectionsInfo">
                <h4>IS GLOBAL eSIM USAGE TRACKABLE?</h4>
                <h1>Track your eSIM usage</h1>
                <p>Gain complete control over your connectivity!Easily track usage and top up your purchased eSIMs, even after their plan expires.</p>
                <img src="/build/images/global-esim/trackEsim.png"/>
            </div>
            <div class="purchaseBtnCont"><button class="btn btn-primary">Purchase Suyool eSIM</button></div>
            <div class="sectionsInfo">
                <h4>HOW TO PURCHASE & ACTIVATE SUYOOL GLOBAL eSIM?</h4>
                <h1>Step by Step Tutorial</h1>
                <p>Learn how to purchase & activate your Global eSIM with our step by step video.</p>
                <div class="video-section-ads">
                    <div class="three-titles">
                        <div class="title-one">YOUR MONEY IS IN SAFE HANDS, YOURS!</div>
                        {#        <div  class="title-two shadda-cont">#Ma_tBank<div class="shadda">&#x651;</div><div class="kasra">&#x650;</div></div>#}
                        <div  class="title-two shadda-cont">#Ma_tBank<div class="shadda">&#x651;</div></div>
                        {#        <p class="title-two">#Ma_tBa&#1617;nk</p>#}
                        <div  class="title-three">With Suyool, manage your finances effortlessly: Withdraw cash easily, send money to any Lebanese number - no need to be a Suyool user, request funds from overseas, and make payments locally, globally & online with your Platinum Visa Debit Card</div>
                    </div>

                    <div><iframe width="760" height="515" src="https://www.youtube.com/embed/X5IY8LxTCAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                </div>

            </div>
            {% include 'elements/faq/faqSuyool.html.twig' %}
            {# {% include 'elements/payrolls/questions.html.twig' %} #}
            {% include 'elements/get-suyool.html.twig' %}
        </div>
        {% include 'elements/footer.html.twig' %}
    {% endblock %}
