    <div class='topseectioneSim'>
            <div class="backgroundesim">
                <img src="{{ asset('build/images/global-esim/finalsuyool.svg') }}"
            </div>

            <div class="planningATrip ">
                <p>Planning a trip soon? </br>
                Stay connected with Suyool Global eSIM!</p>
                <p class="purchaseyourglobal"> Purchase your global eSIM in just a few taps directly on the Suyool app. With over 100 destinations available, it connects to the country’s network and is ready to use upon landing.</p>
            </div>
        <a class="btn btn-primary purchaseButtonesim" href="https://suyool.com/app?flag=91&a=https://suyool.com/simly">Purchase Suyool eSIM</a>

            <img src="{{ asset('build/images/global-esim/gsim_phone.png') }}" class="phoneesim"/>
    </div>


    {% include 'global-esim/inWhichDestiantions.twig' %}
