.topSectionAlfaEmp {
    background-color: #e41e2c;
    padding-bottom: 120px;

    .logos {
        padding-top: 30px;
        text-align: center;

        span {
            color: #fff;
            font-size: 41px;
            margin-left: 13px;
            position: relative;
            margin-right: 13px;
            top: 8px;
            font-weight: 300;
        }

        img {
            width: 112px;
        }
    }

    .information {
        text-align: center;

        .title {
            margin-top: 40px;
            color: #fff;
            font-size: 40px;
            font-family: $Regular;
        }

        .desc {
            margin-top: 30px;
            font-family: 'PoppinsRegular';
            font-size: 17px;
            color: #fff;
        }

        .OpenSuyoolAccount {
            margin-top: 30px;

            .OpenYourSuyoolAccount {
                padding: 10px 24px;
                border-radius: 10px;
                border: none;
                color: #226D96;
                font-family: $SemiBold;
            }
        }
    }

}

.InfoSection {
    background-color: #fdf2f3;
    text-align: center;

    .MasterCard {
        text-align: center;
        color: #373464;
        font-family: $Regular ;
        font-size: 18px;
        margin-bottom: 24px;
    }
}

.use-money {
    .use-money-row{
        margin-bottom: 60px;
    }

    .home_body_desktop,
    .home_body_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        .how_suyool_work {
            font-size: 22px;
            font-family: $Bold;
            color: #373464;
            word-spacing: 1px;
        }

        .easy_steps {
            font-size: 52px;
            font-family: $Regular;
            color: #202020;
            padding: 20px 0;
        }

        .manage_spend {
            font-size: 22px;
            font-family: $Regular;
            color: #6B6B6B;
        }
    }
    .image{
        background-color: #F0F0F3;
        height: 100%;
    }
    .title{
        color: #374A5A;
        font-family: $Regular;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .desc{
        font-family: $Regular;
        color: #00000080;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .list{
        .check{
            display: flex;
            margin-bottom: 10px;
            img{
                width: 30px;
                height: 30px;
            }
            p{
                color: #00000080;
                font-size: 18px;
                font-family: $Regular;
                margin-left: 10px;

            }
        }
    }
}