<div class="black-trans"></div>
<div class="corporate-section">

        <div class="content">
            <h3 class="text top-title">CORPORATE DIGITAL ACCOUNT</h3>
            <h2 class="title">It’s easier to manage your business financials with Suyool corporate account</h2>
            <div class="text">Avoid problems & keep track of your business revenues, expenses & transactions directly from your corporate dashboard.</div>

            <a href="{{ path('app_digital_corporate') }}" class="blue-btn">Open Corporate Account</a>

    </div>
</div>