<div class="corporate-section">
    <div class="content">
        <div class="text">CORPORATE DIGITAL ACCOUNT</div>
        <div class="title">It’s easier to manage your business financials with Suyool corporate account</div>
        <div class="text">It’s easier to manage your business financials with Suyool corporate account</div>

        <div class="blue-btn">Open Corporate Account</div>
    </div>
</div>