{% extends 'base.html.twig' %}
{% block body %}
	<div class="homepage">
		{% include 'homepage/top-section.html.twig' %}
		{% include 'homepage/use-money.html.twig' %}
		<div class="buttons-cont text-center">
			<button id="openSuyoolAccount" class="btn button-primary mr-5">Open Suyool Account</button>
		</div>
		{% include 'homepage/home-mastercard.html.twig' %}
		{% include 'homepage/homepage-steps.html.twig' %}
		<div class="buttons-cont text-center mb-5">
			<button id="openSuyoolAccount" class="btn button-primary mr-5">Open Suyool Account</button>
		</div>
		{% include 'homepage/corporate-section.html.twig' %}
		{% include 'homepage/why-use-suyool.html.twig' %}
		{% include 'homepage/account-security-section.html.twig' %}
		{% include 'homepage/notification-section.html.twig' %}
		<div class="buttons-cont text-center mb-5">
			<button id="openSuyoolAccount" class="btn button-primary mr-5">Open Suyool Account</button>
		</div>
		{#	{% include 'elements/merchant.html.twig' %}#}
		<div class="desktopMode">
		{% include 'elements/gettheapp.html.twig' %}
			</div>
		{% include 'elements/footer.html.twig' %}
	</div>

{% endblock %}
