<div class="three-titles">
    <h3 class="title-one">HOW DOES SUYOOL WORK?</h3>
    <h2 class="title-two">3 Easy Steps To Get Started</h2>
    <div class="title-three">Manage, spend & access your money in real time</div>
</div>

<div class="home-steps row">
    <div class="card step col-md-3 col-11">
        <div class="head">
            01
{#            <img src="{{ asset('build/images/homepage/open-account.png') }}" alt="">#}
        </div>
        <div class="title">Open An Account In Minutes</div>
        <div class="text">All you need is your smartphone with a Lebanese mobile number & a legal identification document.</div>
    </div>
    <div class="card step col-md-3 col-11">
        <div class="head">
            02
{#            <img src="{{ asset('build/images/homepage/topup-account.png') }}" alt="">#}
        </div>
        <div class="title">Add Money To Your Account</div>
        <div class="text">Easily add money to your Suyool dual-currencies accounts via cash deposit or your local & international cards. Get money from other Suyool users.</div>
    </div>
    <div class="card step col-md-3 col-11">
        <div class="head">
            03
{#            <img src="{{ asset('build/images/homepage/spend.png') }}" alt="">#}
        </div>
        <div class="title">Choose How To Spend Your Money</div>
        <div class="text">Send money to anyone in Lebanon, pay at merchants, pay with your Debit Card locally & internationally, pay your bills - ALL FROM ONE APP.</div>
    </div>
</div>