{% extends 'base.html.twig' %}
{% block body %}
	<div class="homepage">
		{% include 'homepage/top-section.html.twig' %}
		{% include 'medco-payroll/whyChooseSuyool.html.twig' %}

		{% include 'homepage/youtube-ads.html.twig' %}

		{% include 'homepage/use-money.html.twig' %}
		<div class="buttons-cont text-center">
			<button id="openSuyoolAccount" class="btn button-primary mr-5 desktopMode" data-bs-toggle="modal" data-bs-target="#DownloadApp">Open Suyool Account</button>
			<button id="openSuyoolAccount" class="btn button-primary mr-5 mobileMode">Open Suyool Account</button>
		</div>
		{# {% include 'homepage/home-mastercard.html.twig' %} #}
		{% include 'homepage/home-visa.html.twig' %}

		{% include 'homepage/homepage-steps.html.twig' %}
		<div class="buttons-cont text-center mb-5">
			<button id="openSuyoolAccount" class="btn button-primary mr-5 desktopMode" data-bs-toggle="modal" data-bs-target="#DownloadApp">Open Suyool Account</button>
			<button id="openSuyoolAccount" class="btn button-primary mr-5 mobileMode">Open Suyool Account</button>
		</div>

		{% include 'homepage/corporate-section.html.twig' %}
		{% include 'homepage/exchange-section.html.twig' %}
{#		{% include 'homepage/why-use-suyool.html.twig' %}#}
		{% include 'homepage/account-security-section.html.twig' %}
		{% include 'homepage/notification-section.html.twig' %}

		{% include 'elements/get-suyool.html.twig' %}

		{#	{% include 'elements/merchant.html.twig' %}#}

		{% include 'elements/footer.html.twig' %}
	</div>

{% endblock %}
