{% extends 'base.html.twig' %}
{% block body %}
    {% include 'elements/header-v2.html.twig' %}

    <div class="homepage">
        {% include 'homepage/top-section.html.twig' %}
        {% include 'homepage/homepage-steps.html.twig' %}
        {% include 'homepage/home-mastercard.html.twig' %}
        {% include 'homepage/use-money.html.twig' %}
        {% include 'homepage/corporate-section.html.twig' %}

    </div>

{% endblock %}