<div class="home_body_desktop">
    <div class="how_suyool_work">HOW DOES SUYOOL WORK?</div>
    <div class="easy_steps">3 Easy Steps To Get Started</div>
    <div class="manage_spend">Manage, spend & access your money in real time</div>
</div>

<div class="home_body_mobile">
    <div class="how_suyool_work">HOW DOES SUYOOL WORK?</div>
    <div class="easy_steps">3 Easy Steps To Get Started</div>
    <div class="manage_spend">Manage, spend & access your money in real time</div>
</div>

<div class="home-steps row">
    <div class="card step col-md-3 col-11">
        <div class="head">
            01
{#            <img src="{{ asset('build/images/homepage/open-account.png') }}" alt="">#}
        </div>
        <div class="title">Open An Account In Minutes</div>
        <div class="text">All you need is your smartphone with a Lebanese mobile number & a legal identification document.</div>
    </div>
    <div class="card step col-md-3 col-11">
        <div class="head">
            02
{#            <img src="{{ asset('build/images/homepage/topup-account.png') }}" alt="">#}
        </div>
        <div class="title">Top Up Your Account</div>
        <div class="text">Easily top up your Suyool dual-currencies accounts via cash input or your local & international cards. Get money from other Suyool users.</div>
    </div>
    <div class="card step col-md-3 col-11">
        <div class="head">
            03
{#            <img src="{{ asset('build/images/homepage/spend.png') }}" alt="">#}
        </div>
        <div class="title">Choose How To Spend Your Money</div>
        <div class="text">Send money to anyone in Lebanon, pay at merchants, pay with your Debit Card locally & internationally, pay your bills - ALL FROM ONE APP.</div>
    </div>
</div>