{% extends 'base.html.twig' %}
{% block body %}
    <div class="homepage">
        <div class="container-fluid top-section">
            {% include 'homepage/topSection.html.twig' %}
        </div>
    </div>
    {% include 'elements/top-sections-steps.html.twig' %}
    {% include 'elements/3easy-steps.html.twig' %}
    {% include 'elements/transaction-anywhere.html.twig' %}
{% endblock %}