{% extends 'base.html.twig' %}
{% block body %}
    <div class="homepage">
        <div class="container-fluid top-section">
            {% include 'homepage/topSection.html.twig' %}
        </div>
    </div>
{% endblock %}