{% extends 'base.html.twig' %}
{% block body %}
    <div class="homepage_old">
        <div class="container-fluid top-section">
            {% include 'homepage/topSection.html.twig' %}
        </div>
    </div>
    {% include 'elements/top-sections-steps.html.twig' %}
    {% include 'elements/3easy-steps.html.twig' %}
    {% include 'elements/transaction-anywhere.html.twig' %}
    {% include 'elements/should-to-know.html.twig' %}
    {% include 'elements/safe&secure-section.html.twig' %}
    {% include 'elements/visa-section.html.twig' %}
    {% include 'elements/notifications-section.html.twig' %}
    {% include 'elements/merchant.html.twig' %}
    {% include 'elements/bottom-section.html.twig' %}


{% endblock %}