<div class="top-section container-fluid">
    {% include 'elements/header-v2.html.twig' %}
    <div class="row">
        <div class="col-md-7 col-12 top-info order-2 order-md-1">
            <h1 class="header-text row">
                <span class="part1">Your Money Is In Safe Hands, YOURS!</span>
            </h1>
{#            <h1><span></span></h1>#}
            <p>Suyool, the licensed financial app originating from Europe, is designed to address your cash-handling challenges. <br>Whether it’s seamlessly cashing out, sending money to anyone in Lebanon, or making local and international payments with your Platinum Debit Card, Suyool empowers you with full control over your finances.</p>
            <div class="buttons-cont desktopMode">
                <button class="btn button-primary mr-5" data-bs-toggle="modal" data-bs-target="#DownloadApp">Open Suyool Account</button>
            </div>
            <div class="buttons-cont tabletMode">
                <button class="btn button-primary mr-5 OpenYourSuyoolAccount">Open Suyool Account</button>
            </div>
            <div class="buttons-cont mobileMode">
                <button class="btn button-primary mr-5 OpenYourSuyoolAccount">Open Suyool Account</button>
            </div>

        </div>
        <div class="col-md-5 col-12 right-section order-1 order-md-2 desktopMode">
            <div class="img-cont">
                <img src="{{ asset('build/images/homepage/platinum-visa.png') }}" alt="Suyool digital wallet">
            </div>
        </div>
        <div class="col-md-5 col-12 right-section order-1 order-md-2 mobileMode">
            <div class="img-cont">
                <img src="{{ asset('build/images/homepage/platinum-visa.png') }}" alt="Suyool digital wallet">
            </div>
        </div>
    </div>
</div>