<div class="top-section container-fluid">
    {% include 'elements/header-v2.html.twig' %}
    <div class="row">
        <div class="col-md-7 col-12 top-info order-2 order-md-1">
            <h1>Your Money, Your Choice</h1>
            <p>Suyool, the licensed financial app originating from Europe, is designed to address your cash-handling challenges. <br>Whether it’s seamlessly cashing out, exchanging money, sending money to anyone in Lebanon, or making local and international payments with your Mastercard, Suyool empowers you with full control over your finances.</p>
            <div class="buttons-cont">
                <button class="btn button-primary mr-5">Open a Suyool Account</button>
            </div>

        </div>
        <div class="col-md-5 col-12 right-section order-1 order-md-2">
            <div class="img-cont">
                <img src="{{ asset('build/images/homepage/top-img-desktop.png') }}" alt="Suyool">
            </div>
        </div>
    </div>
</div>