<div class="container-fluid should-to-know">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="info">
                <h6>WHY USE SUYOOL?</h6>
                <h2>3 Features That Makes Suyool Unique</h2>
                <p>To have more control over your money.</p>
                <a href="#" class="blue-btn">Learn More</a>
                </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="col-12 box card">
                <div class="row">
                    <div class="col-md-2 col-3 right">
                        <img src="{{ asset('build/images/bank.png') }}" alt="fast & easy" title="fast & easy"></a>
                    </div>
                    <div class="col-md-10 col-9">
                        <span>Fresh Account From The comfort of Your Home</span>
                        <p>Without having to go to a branch office, all the banking services you need are now at hand!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 box card">
                <div class="row">
                    <div class="col-md-2 col-3 right">
                        <img src="{{ asset('build/images/pay-at-real.png') }}" alt="secure" title="secure"></a>
                    </div>
                    <div class="col-md-10 col-9">
                        <span>Instant Exchange Service - USD/LBP</span>
                        <p>Instantly exchange at accurate market-rate between your dual-currencies wallets to pay.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 box card">
                <div class="row">
                    <div class="col-md-2 col-3 right">
                        <img src="{{ asset('build/images/fresh-visa.png') }}" alt="convenient" title="convenient"></a>
                    </div>
                    <div class="col-md-10 col-9">
                        <span>Full Control of Your “Fresh” Platinum Mastercard</span>
                        <p>Get your Mastercard debit card that you can use anywhere in the world with full control.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
