<div class="container-fluid should-to-know">
    <div class="row">
        <div class="col-lg-6 col-12 left-section">
            <div class="info">
                <h6>WHY USE SUYOOL?</h6>
                <h2>4 Features That Makes Suyool Unique</h2>
                <p>To have more control over your money.</p>
                {# <a href="#" class="blue-btn">Learn More</a> #}
                </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="col-12 box card">
                <div class="row">
                    <div class="col-md-2 col-2 right">
                        <img src="{{ asset('build/images/homepage/fresh-account.svg') }}" alt="suyool fast & easy" title="fast & easy">
                    </div>
                    <div class="col-md-10 col-10">
                        <h3>Fresh Account From The Comfort of Your Home</h3>
                        <p>Without having to go to a branch office, all the financial services you need are now at hand!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 box card">
                <div class="row">
                    <div class="col-md-2 col-2 right">
                        <img src="{{ asset('build/images/homepage/exchange.svg') }}" alt="souyoul secure" title="secure">
                    </div>
                    <div class="col-md-10 col-10">
                        <h3>Instant Exchange Service - USD/LBP</h3>
                        <p>Instantly exchange at real-time market-rate between your dual-currencies wallets to pay.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 box card">
                <div class="row">
                    <div class="col-md-2 col-2 right">
                        <img src="{{ asset('build/images/homepage/fresh-mastercard.svg') }}" alt="suyoul convenient" title="convenient">
                    </div>
                    <div class="col-md-10 col-10">
                        <h3>Your “Fresh” Platinum Debit Card Linked To Your Account</h3>
                        <p>Get your Platinum Debit Card that you can use anywhere in the world with full control.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 box card">
                <div class="row">
                    <div class="col-md-2 col-2 right">
                        <img src="{{ asset('build/images/homepage/send-money.svg') }}" alt="suyool convenient" title="convenient">
                    </div>
                    <div class="col-md-10 col-10">
                        <h3>Send Money To Any Lebanese Phone Number</h3>
                        <p>No need to be a Suyool user to receive money via Suyool</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
