<div class="video-section-ads">
    <div class="three-titles">
        <h3 class="title-one">YOUR MONEY IS IN SAFE HANDS, YOURS!</h3>
        <h1  class="title-two">#Ma_tBank</h1>
        <p  class="title-three">With Suyool, manage your finances effortlessly: Cash out easily, send money to any Lebanese number - no need to be a Suyool user, request funds from overseas, and make payments locally, globally & online with your Platinum Visa Debit Card</p>
    </div>

    <div><iframe width="760" height="515" src="https://www.youtube.com/embed/X5IY8LxTCAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
</div>