<div class="video-section-ads">
    <div class="three-titles">
        <div class="title-one">YOUR MONEY IS IN SAFE HANDS, YOURS!</div>
        <div  class="title-two shadda-cont">#Ma_tBank<div class="shadda">&#x651;</div><div class="kasra">&#x650;</div></div>
{#        <p class="title-two">#Ma_tBa&#1617;nk</p>#}
        <div  class="title-three">With Suyool, manage your finances effortlessly: Withdraw cash easily, send money to any Lebanese number - no need to be a Suyool user, request funds from overseas, and make payments locally, globally & online with your Platinum Visa Debit Card</div>
    </div>

    <div><iframe width="760" height="515" src="https://www.youtube.com/embed/X5IY8LxTCAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
</div>
