{% extends 'Admin/base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <h1>Create Merchant Key</h1>
            </div>
            <div class="col-2">
                <a href="{{ path('admin_merchant_keys') }}" class="btn btn-danger">Cancel</a>
            </div>
        </div>

        {% include 'Admin/MerchantKeys/keyForm.html.twig' %}

    </div>


{% endblock %}