.redFlag{
    background-color:rgba(255, 0, 0, 0.3) ;
}
.greenFlag{
    background-color: #a7ffb3;
}
.orderEmpty{
        text-align: center;
        padding-top: 33vh;
        font-size: 30px;
        opacity: .5;
}
.pointer{
    cursor: pointer;
}
.export{
    background: #00ad10;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
    float: right;
    &:hover
    {
        color: #fff;
    }
}