.aubInvitation {
  .top-section {
    background-color: #397FA6;
    background-image: linear-gradient(to bottom right, #397FA6, #4A4B77);
    background-size: cover;
    background-repeat: no-repeat;

    .title {
      font-family: $Regular;
      padding-top: 80px;
      color: $white;
      font-size: 35px;
      line-height: 1.3;
      padding-bottom: 80px;

      span {
        font-family: $Bold;

      }
    }
    .text-earn {
      color: $white;
      font-family: $InterRegular;
    }
    .g-recaptcha {
      .rc-anchor-container {
        width: 100%;
      }
    }
    .small-note {
      font-family: $InterRegular;
      color: $white;
      padding-top: 0 !important;
      font-size: 13px;
    }
  }

  .timerContainer {
    max-width: 600px;
    background-color: $white;
    padding: 44px 0px;
    border-radius: 20px;

    .sections {
      text-align: center;

      img {
        width: 130px;
      }
    }

    .xsymbole {
      font-size: 55px;
      font-weight: 900;
      font-family: $SemiBold;
      align-content: center;
    }

  }

  .send-link-form-cont {
    padding-bottom: 60px;

    .send-link-form {
      .get-the-app {
        border-radius: 20px;
        background-color: $white;
        border: 2px solid #216D95;

        button {
          font-family: $SemiBold !important;
          font-size: 14px !important;
          color: #226d96 !important;
          background-color: $white !important;
        }
      }

      .input-sub-cont {
        border-radius: 20px;

        .country-code {
          font-family: $Regular;
        }
      }
    }
  }

  .help3Steps {
    text-align: center;

    .title {
      color: #373464;
      font-family: $Bold;
      margin-bottom: 40px;
      font-size: 20px;
    }

    .subtitle {
      margin-bottom: 40px;
      font-family: $Regular;
      font-size: 35px;
    }

    .description {
      max-width: 850px;
      font-size: 14px;
      font-family: $InterRegular;
      color: #6B6B6B;
      margin: auto auto 60px;
      font-size: 18px;
    }

    .steps {
      .content {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #00000029;
        text-align: left;
        padding: 20px 18px 62px 20px;
        height: 100%;

        span {
          width: 50px;
          height: 50px;
          background-color: #216D95;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          font-size: 24px;
          color: white;
          font-family: $Bold;
        }

        h4 {
          padding-top: 25px;
          font-family: $Bold;
        }

        p {
          padding-top: 25px;
          color: #6B6B6B;
          font-family: $InterRegular;

        }
      }
    }
  }

  .pointSystem {
    .noteSection {
      max-width: 830px;
      margin: auto;
      margin-top: 60px;

      img {
        float: right;
      }

      p {
        text-align: left;
        color: $black;
        font-family: $SemiBold;
        font-size: 14px;
        font-style: italic;
      }
    }

    .pointsBox {
      justify-content: center;

      .pointsContent {
        width: 400px;
        @media(max-width: 425px) {
          width: 100%;
        }
        .box-section {
          border: 2px solid #216d96;
          padding: 0 0 20px;
          position: relative;
          border-radius: 10px;

          .userIcon, .cardIcon {
            position: absolute;
            top: -53px;
            left: 0;
            right: 0;

            img {
              width: 120px;
            }
          }

          .redIcon {
            position: absolute;
            top: -16px;
            right: 0px;

            img {
              width: 30px;
            }
          }

          .desc {
            font-family: $SemiBold;
            font-size: 30px;
            padding-top: 70px;
          }

          .point {
            font-family: $SemiBold;
            color: #216D96;
            font-size: 45px;
          }
        }
      }
    }
  }

  .openSuyoolCont {
    text-align: center;
    margin: 90px 0;

    button {
      font-family: $SemiBold;
    }
  }

  @media(max-width: 768px) {
    .top-section {
      .title {
        font-size: 30px;
        padding-bottom: 50px;
        padding-top: 35px;
      }

      .timerContainer {
        padding: 44px 15px;
        margin-bottom: 30px;
      }
    }
    .send-link-form-cont {
      float: none;
      padding-bottom: 0;

      .input-sub-cont {
        max-width: 100%;
        padding: 8px 0;
      }
    }
    .get-the-app {
      text-align: center;
      margin: auto;
      max-width: 100%;
      border-radius: 28px!important;

      button {
        padding: 14px 35px !important;
      }
    }
    .box-section {
      .desc {
        font-size: 18px;
      }

      .point {
        font-size: 28px;
      }
    }
  }

  #popupModal {
    .modalPopupTitle {
      font-family: $Bold;
      margin-top: 20px;
      text-align: center;
    }

    .modalPopupText {
      font-family: $Regular;
      font-size: 13px;
      margin-top: 10px;
      text-align: center;
    }

    .qrSection {
      display: none;
      padding: 30px;

      .download-text {
        font-size: 22px;
        margin: 30px 0;
        font-family: $Medium;
      }

      .mod-title {
        color: #216d96;
        font-family: PoppinsBold;
        font-size: 20px;
        line-height: 1.4;
        padding-top: 10px;
      }

      .suyoolIcon {
        width: 70px;
      }

      .qr-image {
        width: 80%;
      }

      .download-links {
        img {
          margin-bottom: 18px;
          width: 90%;
        }
      }
    }

    .modalPopupBtn {
      display: none;
      margin-top: 20px;
      text-align: center;

      button {
        font-family: $Regular;
        font-size: 14px;
      }
    }

    .closeBtn {
      display: none;
      margin-top: 10px;
      text-align: center;

      button {
        border: none;
        background-color: unset;
        font-family: $Regular;
        font-size: 14px;
        color: #226D96;
      }
    }

  }

  @media(max-width: 991px) {
    .pointsContentMobile {
      margin-top: 70px;
    }
    .noteSection {
      margin: unset;
    }
    #popupModal {
      .qrSection {
        .suyoolIcon,.mod-title,.download-text,.qr-image,.download-links {
          display:none!important;
        }
      }
    }
  }
}

.aubLoginPage {
  width: 100%;
  height: 100vh;
  display: flex;

  .left-section {
    height: 100vh;
    width: 70%;
    background-image: url("../../../images/aub/aubLoginWallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .right-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;

    .timerContainer {
      background-color: unset;

      p {
        font-family: $Bold;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
      }
    }

    #loginError {
      margin-top: 7px;
      font-family: $Medium;
    }

    #password, #username {
      font-family: $Regular;
    }

    .buttonCont {
      text-align: center;

      button {
        width: 100%;
        background-color: #226D96;
        border-radius: 10px;
        padding: 10px 0;
      }
    }

    .supportSection {
      position: absolute;
      bottom: 0;
      left: 101px;

      span {
        padding-left: 10px;
        color: #226D96;
        font-family: $Bold;
        font-size: 18px;
      }

      p {
        font-family: $Medium;
        color: #576271;
        font-size: 16px;
      }
      @media (max-width: 992px) {
        span, p {
          color: $white;
        }
      }
    }

    @media (min-width: 320px) and (max-width: 1200px) {
      .timerContainer {
        .sections {
          img {
            width: 85px;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .left-section {
      display: none;
    }
    .right-section {
      background-image: url("../../../images/aub/loginMobile.png");
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      .form-control {
        padding: 0.675rem 0.75rem;
      }

      .buttonCont {
        bottom: 60px;
        position: fixed;
        width: 94%;
      }

      .supportSection {
        bottom: 100px;
        left: 15px;
        position: absolute;
      }
    }

  }
}
.howtoenroll {
  text-align: center;
  padding-top: 30px;

  .howtoenrollbtn {
    color: #fff;
    border: none;
    background-color: #216D96;
    padding: 14px 65px;
    font-family: $SemiBold;
    font-size: 20px;
    border-radius: 25px;
    margin-bottom: 18px;
  }

  a {
    color: #707070;
    font-family: $Regular;
  }
}