.help-center {
  background-color: #d7e5ec;

  .categories-cont {
    justify-content: space-between;

    .category {
      border-radius: 45px;
      border: none;
      padding: 40px;
      margin: 20px 30px;

      .title {
        font-size: 20px;
        font-family: $SemiBold;
        margin: 20px 0;
      }

      span {
        font-size: 14px;
        margin-bottom: 10px;
        font-family: $Regular;
      }

      .dot {
        height: 8px;
        width: 8px;
        margin: 0 8px 0 0;
        background-color: #004B71;
        border-radius: 50%;
        display: inline-block;
      }

      a {
        font-size: 12px;
        font-family: $SemiBold;
        text-decoration: underline;
        color: #004B71;
        margin: 20px 0 0 20px;;
      }
    }
  }
}

.infoSection {
  margin-top: 100px;

  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    .info-section {
      margin-bottom: 30px;
      h3 {
        font-size: 20px;
        font-family: $SemiBold;
        color: #004B71;
      }
      p {
        font-size: 14px;
        font-family: $Regular;
      }
    }
  }
}

@media (max-width: 768px) {
  .help-center {
    .categories-cont {
      justify-content: center;

      .category {
        margin: 20px 3px;
      }
    }
  }
  .infoSection {
    margin-top: 50px;
    .info-content {
     .info-section {
       margin-bottom: 15px;
     }
    }
  }
}

