.homepage {
  .row {
    margin: 0;
  }

  .top-section {
    background: linear-gradient(90deg,#226d96 6%,#373464 76%);
    color: #fff;
    padding-bottom: 52px;
    padding-top: 20px;

    .navbar {
      .right {
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        font-family: $Regular;

        .link {
          padding-top: 6px;
        }

        .nav-button {
          background: #48a6d9;
          border-radius: 5px;
          height: 40px;
          text-align: center;
          width: 170px;
        }
      }

    }

    .top-info {
      padding-top: 65px;
      .header-text {
        font-size: 60px;
        margin-bottom: 40px;
        font-family: $Regular;
        display: flex;

        .part1{
          width: 45%;
        }

        .part2{
          width: 50%;
          padding-top: 50px;
        }
      }

      p {
        font-size: 20px;
        font-family: $Regular;
        width: 80%;
      }

      .buttons-cont {
        font-family: $SemiBold;
        margin-top: 70px;


        .btn {
          &:hover {
            color: #ffffff;
          }
        }

        .button-primary {
          margin-right: 10px;
          font-size: 18px;
          border: 2px solid #ffffff;
        }

        .button-primary:hover {
          background: #226D96;
          border: 2px solid #ffffff;
        }

        .button-primary, .btn-outline-secondary {
          border-radius: 12px;
          padding: 10px 30px;
          background: #FFFFFF;
          color: #226D96;
        }

        .btn-outline-secondary {
          border-color: #226D96;
          color: #226D96;

          &:hover {
            background-color: unset;
            color: #226d96;
          }
        }
      }
    }

    .right-section {
      .img-cont {
        position: relative;
        max-width: 615px;
        margin: auto;

        img {
          width: 100%;
        }

        .img-desc {
          background-color: #fff;
          border-radius: 70px;
          bottom: 30px;
          font-family: $SemiBold;
          font-size: 20px;
          padding: 20px 75px;
          position: absolute;
          right: 24px;
          box-shadow: 0px 0 4px -2px #888;

          i {
            color: #858585;
            display: block;
            position: absolute;
            top: 50px;
            left: 30px;
            font-size: 40px;
          }
        }
      }
    }
  }

  .home_body_desktop, .home_body_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .how_suyool_work {
      letter-spacing: 2px;
      font-size: 22px;
      font-family: $Bold;
      color: #373464;
    }

    .easy_steps {
      font-size: 52px;
      font-family: $Regular;
      color: #202020;
      padding: 20px 0;
    }

    .manage_spend {
      font-size: 18px;
      font-family: $Regular;
      color: #6B6B6B;
    }
  }

  .home_body_mobile {
    display: none;
  }

  .home-steps {
    margin: 30px 0;
    justify-content: center;

    .step {
      padding: 40px;
      margin: 0 10px 50px 10px;
      border-radius: 10px;
      border: none;

      .head {
        display: flex;
        justify-content: space-between;
        font-family: $Bold;
        font-size: 52px;
        margin-bottom: 30px;
      }

      .title {
        font-family: $SemiBold;
        font-size: 18px;
        margin-bottom: 20px;
      }

      .text {
        font-family: $Regular;
        font-size: 14px;
        color: #6B6B6B;
        margin-bottom: 30px;
      }
    }
  }

  .home-mastercard {
    margin: 100px 0;

    .card-img-mobile {
      display: none;
    }

    .card-desc {
      width: 75%;
      margin: auto;

      .title {
        color: #374A5A;
        font-size: 45px;
        font-family: $Regular;
        margin-bottom: 30px;
      }

      .sub-title {
        margin: 20px 0 70px 0 !important;
      }

      .text {
        margin: 30px 0;
        font-family: $Regular;
        font-size: 18px;
        color: #00000080;

        span {
          font-family: $SemiBold;
          text-decoration: underline;
          color: #226D96;
        }
      }

      .check {
        display: flex;

        img {
          margin-right: 20px;
          height: 38px;
        }
      }
    }

    .blue-btn {
      margin-left: 40px;
    }

    .card-img-desk {
      img {
        width: 80%;
      }
    }
  }

  .blue-btn {
    background: #226d96;
    border-radius: 8px;
    color: #fff;
    display: block;
    font-family: PoppinsSemiBold;
    font-size: 18px;
    padding: 12px 0;
    text-align: center;
    width: 200px;
  }

  .use-money {
    margin-bottom: 200px;

    .use-row {
      display: flex;
      justify-content: center;
      width: 90%;
      margin: auto;

      .item {
        width: 25%;
        margin: 40px;

        .head {
          display: flex;

          p {
            color: #202020;
            font-size: 20px;
            font-family: $SemiBold;
            padding-left: 10px;
          }
        }

        .text {
          font-size: 14px;
          font-family: $Regular;
          color: #6B6B6B;
          padding-left: 72px;
          margin-top: -10px;
        }
      }
    }
  }

  .corporate-section {
    background-image: url("../../../images/homepage/corporate-section-bg.jpg");
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-size: cover;

    .content {
      color: #FFFFFF;
      font-family: $Regular;
      width: 50%;
      margin-left: 15%;

      .title {
        font-size: 45px;
        margin: 40px 0;
      }

      .text {
        font-size: 18px;
      }

      .blue-btn {
        width: 300px;
        margin-top: 50px;
      }
    }
  }

  @media (min-width: 1450px) and (max-width: 1800px) {
    .top-section{
      .top-info {
        padding-top: 65px;
        .header-text {
          font-size: 55px;
          margin-bottom: 40px;
          font-family: $Regular;
          display: flex;

          .part1{
            width: 380px;
          }

          .part2{
            width: 365px;
            padding-top: 50px;
          }
        }

      }
    }
  }

  @media (min-width: 768px) and (max-width: 1450px) {
    .blue-btn {
      padding: 10px 0;
      font-size: 20px;
    }

    .top-section {
      .top-info {
        .header-text {
          font-size: 40px;

          .part1{
            width: 285px
          }
          .part2 {
            width: 285px
          }
        }

        p {
          font-size: 16px;
        }
      }
    }

    .home-mastercard {
      .card-desc {
        .title {
          font-size: 35px;
          font-family: $Regular;
          margin-bottom: 15px;
        }

        .sub-title {
          margin: 20px 0 40px 0 !important;
        }

        .text {
          margin: 10px 0;
          font-size: 17px;

          span {
            font-family: $Bold;
            text-decoration: underline;
            color: #226D96;
          }
        }

        .check {
          display: flex;

          img {
            margin-right: 20px;
            height: 30px;
          }
        }
      }

      .blue-btn {
        margin-left: 40px;
      }

      .card-img-desk {
        img {
          width: 80%;
        }
      }
    }

  }

  @media (min-width: 769px) {
    .mobile {
      display: none !important;
    }
  }

  @media (max-width: 768px) {
    .desktop {
      display: none !important;
    }

    .top-section {
      .navbar{
        margin-bottom: 0;
      }
      .top-info {
        padding-top: 0;
        text-align: center;

        .header-text{
          .part1, .part2{
            width: 100%;
            padding: 0;
          }
        }

        .buttons-cont {
          text-align: center;
        }

        .header-text {
          margin-top: 20px;
          font-size: 44px;
          font-family: $Regular;
          text-align: left;
          padding-left: 16px;
        }

        p {
          font-size: 14px;
          width: 90%;
          margin: auto;
          text-align: left;
          line-height: 2;
        }
      }

      .right-section {
        .img-cont {
          img {
            text-align: center !important;
          }
        }
      }
    }

    .home_body_mobile {
      display: block;
      width: 80%;
      margin: auto;
      text-align: center;

      .how_suyool_work, .manage_spend {
        font-size: 14px;
      }

      .easy_steps {
        font-size: 35px;
      }
    }

    .home_body_desktop {
      display: none;
    }

    .use-money {
      margin-bottom: 50px;
      .use-row {
        display: block;
        .item {
          width: 100%;
          margin: 45px 0;
          .head {
            display: block;
            text-align: center;
            img{
              margin-bottom: 15px;
            }
            p{
              font-size: 20px;
            }
          }
          .text {
            text-align: center;
            padding: 0;
            font-size: 14px;
          }
        }
      }
    }

    .home-steps {
      .step {
        padding: 20px 40px;

        .head {
          font-size: 45px;
          margin-bottom: 30px;
          img{
            max-width: 100px;
          }
        }

        .title {
          font-size: 20px;
          margin-bottom: 15px;
        }

        .text {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
    }

    .corporate-section {
      background-image: url("../../../images/homepage/corporate-mobile.png");
      height: unset;
      padding: 50px 0;

      .content {
        font-family: $Regular;
        width: 80%;
        margin: auto;

        .title {
          font-size: 30px;
          margin: 40px 0;
          color: #FFFFFF;
        }

        .top-title {
          color: #FFFFFF !important;
          font-family: $Bold;
        }

        .text {
          font-size: 14px;
          color: #FFFFFF;
        }

        .blue-btn {
          width: 90%;
          margin: auto;
          font-size: 15px;
          padding: 20px 0;
          margin-top: 30px;
        }
      }
    }

    .home-mastercard {
      .card-img-mobile {
        display: block;
        text-align: center;

        .notification{
          width: 100% !important;
        }
        img {
          width: 90%;
          margin-bottom: 50px;
        }
      }

      .card-desc {
        width: 80%;
        padding: 0;
        margin: 0 10px;

        .title {
          font-size: 33px;
          margin-bottom: 20px;
        }

        .sub-title {
          margin: 20px 0 40px 0 !important;
        }

        .text {
          margin: 30px 0;
          font-size: 14px;
        }
      }

      .card-img-desk {
        display: none;
      }

      .blue-btn {
        margin: auto;
      }
    }

    .blue-btn {
      font-size: 16px;
      padding: 10px 0;
      width: 180px;
    }
  }

}