.middleeast {
  width: 100%;
  background-color: white;

  .topSection {
    background-image: url("../../../images/platinumMastercard/deskTopMiddleEast.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 26px;
    height: 65vh;
    width: 100%;

    a {
      img {
        width: 140px;
      }
    }
  }

  .coverDetails {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 5%;
    position: relative;
    .ledt {
      width: 40%;
    }
    .left {
      box-shadow: 0px 10px 60px #00000029;
      padding: 40px 60px;
      border-radius: 30px;
      max-width: 40%;
      position: absolute;
      top: -50px;
      z-index: 10;
      background-color: white;
      .title {
        font-family: $Bold;
        font-size: 25px;
        color: #373464;
      }
      .description {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        .dot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #373464;
          margin-top: 8px;
        }
        .desc {
          width: calc(100% - 15px);
          font-family: $Regular;
          font-size: 20px;
          color: #373464;
          padding-left: 10px;
        }
      }
    }
    .rightt {
      width: 55%;
      .titles {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        img {
          width: 30px;
        }
        .title {
          font-family: $Bold;
          font-size: 20px;
          color: black;
        }
      }
      .mainTitle {
        padding-top: 15px;
        font-size: 40px;
        font-family: $Bold;
        color: #373464;
      }

      .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 25px;
        .cardo {
          display: flex;
          flex-direction: row;
          width: 48%;
          align-items: flex-start;
          img {
            width: 82px;
          }
          .txtContainer {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .tit {
              font-family: $Bold;
              font-size: 17px;
              color: #373464;
            }
            .desc {
              font-family: $Regular;
              font-size: 17px;
              color: #373464;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .middleeast {
    .coverDetails {
      display: flex;
      flex-direction: row;
      .ledt {
        width: 40%;
      }
      .left {
        box-shadow: 0px 10px 60px #00000029;
        padding: 30px 45px;
        max-width: 40%;
        position: absolute;
        top: -50px;
        .title {
          font-size: 22px;
        }
        .description {
          padding-top: 16px;
          .dot {
            width: 11px;
            height: 11px;
            margin-top: 8px;
          }
          .desc {
            width: calc(100% - 12px);
            font-size: 16px;
            padding-left: 8px;
          }
        }
      }
      .rightt {
        width: 55%;
        .titles {
          padding-top: 18px;
          .title {
            font-size: 18px;
          }
        }
        .mainTitle {
          padding-top: 12px;
          font-size: 30px;
        }

        .cards {
          padding-top: 21px;
          .cardo {
            display: flex;
            width: 48%;
            .txtContainer {
              padding-left: 8px;
              .tit {
                font-size: 15px;
              }
              .desc {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .middleeast {
    .coverDetails {
      display: flex;
      flex-direction: row;
      .ledt {
        width: 40%;
      }
      .left {
        box-shadow: 0px 10px 60px #00000029;
        padding: 25px 35px;
        max-width: 40%;
        position: absolute;
        top: -40px;
        .title {
          font-size: 20px;
        }
        .description {
          padding-top: 14px;
          .dot {
            width: 10px;
            height: 10px;
            margin-top: 7px;
          }
          .desc {
            width: calc(100% - 12px);
            font-size: 15px;
            padding-left: 7px;
          }
        }
      }
      .rightt {
        width: 55%;
        .titles {
          padding-top: 15px;
          .title {
            font-size: 16px;
          }
        }
        .mainTitle {
          padding-top: 10px;
          font-size: 26px;
        }

        .cards {
          padding-top: 18px;
          .cardo {
            width: 48%;
            .txtContainer {
              padding-left: 7px;
              .tit {
                font-size: 15px;
              }
              .desc {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
    .middleeast {
        .coverDetails {
          display: flex;
          flex-direction: row;
          .ledt {
            width: 40%;
          }
          .left {
            box-shadow: 0px 10px 60px #00000029;
            padding: 20px 25px;
            max-width: 40%;
            position: absolute;
            top: -35px;
            .title {
              font-size: 19px;
            }
            .description {
              padding-top: 12px;
              .dot {
                width: 10px;
                height: 10px;
                margin-top: 7px;
              }
              .desc {
                width: calc(100% - 12px);
                font-size: 14px;
                padding-left: 7px;
              }
            }
          }
          .rightt {
            width: 55%;
            .titles {
              padding-top: 12px;
              .title {
                font-size: 15px;
              }
            }
            .mainTitle {
              padding-top: 10px;
              font-size: 24px;
            }
    
            .cards {
              padding-top: 15px;
              flex-direction: column;
              .cardo {
                width: 100%;
                .txtContainer {
                  padding-left: 7px;
                  .tit {
                    font-size: 15px;
                  }
                  .desc {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
}
@media screen and (max-width: 768px) {
    .middleeast {
        .topSection {
            background-image: url("../../../images/middleEast/mobile_top_section.png");
            padding-top: 10px;
            background-size: cover;
            height: 45vh;        
            a {
              img {
                width: 100px;
              }
            }
          }
        .coverDetails {
          flex-direction: column;
          margin: 0 5%;
          position: relative;
          .ledt {
            display: none;
          }
          .left {
            padding: 20px 30px;
            width: 100%;
            max-width: 100%;
            position: relative;
            top: -150px;
            z-index: 10;
            background-color: white;
            .title {
              font-size: 20px;
            }
            .description {
              padding-top: 10px;
              .dot {
                width: 10px;
                height: 10px;
                margin-top: 7px;
              }
              .desc {
                width: calc(100% - 12px);
                font-size: 17px;
                padding-left: 8px;
              }
            }
          }
          .rightt {
            margin-top: -150px;
            width: 100%;
            .titles {
              padding-top: 14px;
              .title {
                font-size: 18px;
              }
            }
            .mainTitle {
              padding-top: 15px;
              font-size: 24px;
            }
      
            .cards {
              flex-direction: row;
              padding-top: 12px;
              .cardo {
                flex-direction: row;
                width: 48%;
                .txtContainer {
                  padding-left: 8px;
                  .tit {
                    font-size: 15px;
                  }
                  .desc {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
}

@media screen and (max-width: 576px) {
    .middleeast {
        .coverDetails {
          .left {
            padding: 13px 20px;
            .title {
              font-size: 18px;
            }
            .description {
              padding-top: 6px;
              .dot {
                width: 9px;
                height: 9px;
                margin-top: 6px;
              }
              .desc {
                width: calc(100% - 10px);
                font-size: 15px;
                padding-left: 5px;
              }
            }
          }
          .rightt {
            .titles {
              padding-top: 10px;
              .title {
                font-size: 18px;
              }
            }
            .mainTitle {
              padding-top: 10px;
              font-size: 22px;
            }
      
            .cards {
              flex-direction: column;
              padding-top: 10px;
              .cardo {
                flex-direction: row;
                width: 100%;
                .txtContainer {
                  padding-left: 7px;
                  .tit {
                    font-size: 14px;
                  }
                  .desc {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
}