.middleeast{
    .topSection{
        background-image: url("../../../images/platinumMastercard/deskTopMiddleEast.png");
        background-size: 100% 100%;
        height: 580px;
        padding-top: 26px;
    }
}