.middleeast{
    width: 100%;
    
    .topSection{
        background-image: url("../../../images/platinumMastercard/deskTopMiddleEast.png");
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 26px;
        height: 50vh;
        width: 100%;
    }
}