.top_section_mastercard {
  .navbar_v3 {
    font-family: $Regular;
    .navbar-brand {
      img {
        width: 85%;
      }
    }
    .navbar-nav {
      li {
        margin-right: 50px;
        .nav-link {
          color: #ffffff !important;
        }
        .button-primary {
          padding: 8px 30px;
          border-radius: 8px;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  background: linear-gradient(119deg, #373464 6%, #005c8a 50%, #fff 88%);
  padding-top: 20px;
  padding-bottom: 80px;
  color: #ffffff;

  .navbar {
    margin-bottom: 20px;
    .right {
      display: flex;
      justify-content: space-around;
      font-size: 18px;
      font-family: $Regular;

      .link {
        padding-top: 6px;
      }

      .nav-button {
        background: #48a6d9;
        border-radius: 5px;
        height: 40px;
        text-align: center;
        width: 170px;
      }
    }
  }

  .top-info {
    h1 {
      font-size: 62px;
      padding-top: 55px;
      font-family: $Regular;
    }

    p {
      font-size: 20px;
      font-family: $Regular;
      width: 80%;
    }

    .buttons-cont {
      font-family: $Regular;
      margin-top: 70px;
      display: flex;
      justify-content: space-between;

      .btn {
        &:hover {
          color: #ffffff;
          background-color: #005c8a;
        }
      }

      .button-primary {
        margin-right: 10px;
        font-size: 18px;
        border: 2px solid #ffffff;
      }

      .button-primary:hover {
        background: #226d96;
        border: 2px solid #ffffff;
      }

      .button-primary,
      .btn-outline-secondary {
        border-radius: 12px;
        padding: 10px 30px;
        background: #ffffff;
        color: #226d96;
      }
    }
  }

  .right-section {
    .img-cont {
      max-width: 615px;
      margin: auto;

      img {
        width: 100%;
      }
    }
  }
}

.four_steps {
  background-color: #d7d7e2;
  margin: 0;
  padding-top: 20px;
  .step {
    padding: 20px 5%;
    .title {
      font-size: 24px;
      font-family: $Regular;
      color: #373464;
      padding: 10px 0;
    }
    .description {
      font-size: 17px;
      font-family: $Regular;
      color: #5a5a5a;
    }
  }
}

.three_steps {
  display: flex;
  margin: 0;
  justify-content: center;
  margin-top: 70px;
  .step {
    width: 30%;
    .sub {
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 10px 60px rgba(0, 0, 0, 0.18);
      margin: auto;
      min-height: 360px;
      padding: 20px 5%;
      position: relative;
      display: flex;
      width: 90%;
      flex-direction: column;
      justify-content: space-between;

      img {
        position: absolute;
        right: 20px;
        width: 17%;
      }
      .title {
        font-size: 25px;
        font-family: $SemiBold;
        color: #000000;
        width: calc(100% - var(66px));
      }
      .description {
        padding-top: 70px;
        font-size: 17px;
        font-family: $Regular;
        color: #6b6b6b;
        letter-spacing: 0;
      }
    }
  }
}

.mastercard_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  align-items: center;

  .ligne {
    width: 100%;
    position: relative;
    height: 200px;
    .coat {
      color: #373464;
      font-family: PoppinsItalic;
      font-size: 18px;
      max-width: 500px;
      position: absolute;
      right: 80px;
      top: 30px;
    }
  }

  .title {
    font-family: $Bold;
    font-size: 21px;
    color: #373464;
  }

  .descri {
    margin-top: 20px;
    font-family: $Regular;
    font-size: 52px;
    color: #202020;
  }

  .cards {
    display: flex;
    width: 90%;
    margin: 0;
    .big_card_coat {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .card_coat {
        width: 90%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
        margin: 20px 0;
        height: -webkit-fill-available;
        padding-bottom: 50px;
        .coat {
          font-size: 18px;
          color: #373464;
          font-family: $Italic;
          position: absolute;
          bottom: 15px;
          text-align: justify;
        }
      }
    }
    .big_card {
      display: flex;
      align-items: center;
      justify-content: center;
      .card {
        width: 90%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px 10px 60px #0000002e;
        overflow: hidden;
        margin: 20px 0;
        height: -webkit-fill-available;
        padding-bottom: 50px;

        img {
          width: 100%;
          height: 300px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          object-fit: cover;
        }
        .text {
          padding: 30px;
          .title {
            font-size: 24px;
            color: #373464;
            font-family: $Bold;
            padding-bottom: 20px;
          }

          .points {
            display: flex;
            .dot {
              margin-top: 5px;
              min-width: 12px;
              height: 12px;
              background-color: #373464;
              border-radius: 50%;
            }
            .desc {
              font-family: $Regular;
              font-size: 18px;
              color: #373464;
              height: calc(100% - var(20px));
              padding-left: 15px;
            }
          }
        }
        .lear_more {
          position: absolute;
          right: 30px;
          bottom: 30px;

          a {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span {
              color: #005c8a;
              font-size: 15px;
              font-family: $SemiBold;
            }

            i {
              color: #005c8a;
              padding-left: 10px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.home-mastercard {
  overflow: hidden;
  width: 100%;
  margin: 150px 0 70px 0;
  .card-desc {
    width: 75%;
    margin: auto;

    .main_title {
      color: #373464;
      font-size: 23px;
      font-family: $Bold;
    }

    .title {
      color: #374a5a;
      font-size: 52px;
      font-family: $Regular;
      margin-bottom: 30px;
    }

    .sub-title {
      margin: 20px 0 70px 0 !important;
    }

    .text {
      margin: 30px 0;
      font-family: $Regular;
      font-size: 22px;
      color: #00000080;

      span {
        font-family: $Bold;
        text-decoration: underline;
        color: #226d96;
      }
      a {
        font-family: $Bold;
        text-decoration: underline;
        color: #226d96;
      }
    }
    .check {
      display: flex;

      img {
        margin-right: 20px;
        height: 38px;
      }
    }
  }

  .blue-btn {
    margin-left: 40px;
  }

  .card-img-desk {
    img {
      width: 80%;
    }
  }
}

.blue-btn {
  color: #ffffff;
  background: #226d96;
  font-family: $SemiBold;
  font-size: 22px;
  text-align: center;
  border-radius: 8px;
  padding: 20px 0;
  width: 200px;
}

@media screen and (max-width: 1400px) {
  .four_steps {
    padding-top: 20px;
    .step {
      padding: 18px 5%;
      .title {
        font-size: 22px;
        min-height: 53px;
      }
      .description {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .three_steps {
    margin-top: 70px;
    .step {
      .sub {
        min-height: 435px;
        width: 100%;

        img {
          position: initial;
          width: fit-content;
        }
        .title {
          font-size: 24px;
        }
        .description {
          padding-top: 55px;
          font-size: 17px;
          font-family: $Regular;
          color: #6b6b6b;
          letter-spacing: 0;
          text-align: justify;
        }
      }
    }
  }

  .home-mastercard {
    .card-desc {
      padding-left: 10%;
      width: 95%;

      .main_title {
        font-size: 22px;
      }

      .title {
        color: #374a5a;
        font-size: 40px;
        margin-bottom: 25px;
      }

      .sub-title {
        font-size: 18px;
        margin: 20px 0 70px 0 !important;
      }

      .text {
        margin: 10px 0;
        font-size: 20px;
      }
    }

    .blue-btn {
      margin-left: 10px;
    }

    .card-img-desk {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .top_section_mastercard {
    padding-bottom: 80px;

    .navbar {
      margin-bottom: 20px;
      .right {
        font-size: 18px;
        .nav-button {
          border-radius: 5px;
          height: 40px;
          width: 170px;
        }
      }
    }

    .top-info {
      h1 {
        font-size: 36px;
        padding-top: 55px;
      }

      p {
        font-size: 18px;
        width: 80%;
      }
    }
  }

  .mastercard_page {
    .title {
      font-size: 20px;
      text-align: center;
    }

    .descri {
      font-size: 35px;
      text-align: center;
    }
    .cards {
      width: 100%;
      .big_card {
        .card {
          width: 100%;
          margin: 20px 0;

          .text {
            padding: 15px;
            .title {
              font-size: 20px;
              padding-bottom: 20px;
            }

            .points {
              .dot {
                margin-top: 5px;
                min-width: 10px;
                height: 10px;
              }
              .desc {
                font-size: 16px;
                padding-left: 12px;
              }
            }
          }
        }
      }
    }
  }

  .three_steps {
    .step {
      width: 100%;
      .sub {
        margin-top: 20px;
        img {
          position: initial;
          width: fit-content;
        }
        .title {
          font-size: 20px;
        }
        .description {
          padding-top: 20px;
          font-size: 16px;
        }
      }
    }
  }
  .home-mastercard {
    .card-img-desk {
      text-align: center;
      img {
        width: 80%;
      }
    }
  }
}
