// .topSectionIndevcoPayrollEmp{
//   margin-top: 10px;
//   text-align: center;
//   .information {
//     // position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     text-align: center;
//     // padding-top: 9pc;
//     text-align: center;

//     @media screen and (max-width: 1400px) and (min-width: 993px) {
//       padding-top: 80px;
//     }

//     .title {
//       color: #000;
//       font-size: 40px;
//       font-family: $Regular;
//       text-transform: capitalize;
//     }

//     .desc {
//       max-width: 600px;
//       margin: 28px auto;
//       font-family: "OpenSansRegular";
//       font-size: 17px;
//       color: #000;
//     }

//     .OpenSuyoolAccount {
//       margin-top: 75px;

//       .OpenYourSuyoolAccount {
//         padding: 10px 30px;

//         @media screen and (max-width: 768px) {
//           padding: 10px 50px;
//         }

//         border-radius: 9px;
//         border: none;
//         color: #fff;
//         font-family: $SemiBold;
//         background: #226d96;

//         &:hover {
//           background: #226d96;
//           border: 2px solid #fff;
//           color: #ffffff;
//         }
//       }
//     }
//   }
// }
.topSectionMedcoPayrollEmp {
  img {
    width: 100%;
    min-height: 497px;
  }

  .logos {
    padding-top: 30px;
    text-align: center;

    span {
      color: #fff;
      font-size: 41px;
      margin-left: 13px;
      position: relative;
      margin-right: 13px;
      top: 8px;
      font-weight: 300;
    }

    img {
      width: 112px;
    }
  }

  .lldj {
    .title {
      color: #287094 !important;
    }

    .desc {
      color: #287094 !important;
    }
  }

  .web-addicts {
    .title {
      color: #000 !important;
    }

    .desc {
      color: #000 !important;
    }
  }

  .information {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10pc;
    text-align: center;

    @media screen and (max-width: 1400px) and (min-width: 993px) {
      padding-top: 80px;
    }

    .title {
      color: #fff;
      font-size: 40px;
      font-family: $Regular;
      text-transform: capitalize;
    }
    .titleBlue {
      color: #286d96;
    }
    .desc {
      max-width: 600px;
      margin: 28px auto;
      font-family: $InterRegular;
      font-size: 17px;
      color: #fff;
    }
    .descBlue {
      color: #286d96;
    }
    .OpenSuyoolAccount {
      margin-top: 75px;

      .OpenYourSuyoolAccount {
        padding: 10px 30px;
        &.blueButtonForDesk{
        @media screen and (min-width: 992px) {
          color: #fff;
          background-color: #226d96 ;
          
        }
      }

        @media screen and (max-width: 768px) {
          padding: 10px 50px;
        }

        border-radius: 9px;
        border: none;
        color: #226d96;
        font-family: $SemiBold;
        background: #ffffff;

        // &:hover {
        //   background: #226d96;
        //   border: 2px solid #fff;
        //   color: #ffffff;
        // }
      }
    }
  }
}

.medcoPayrollWhyChooseSuyool {

  .info {
    display: flex;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    min-height: 160px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    align-items: center;

    img {
      max-width: 76px;
      padding-right: 10px;
      margin-right: 10px;
    }

    .blocked {
      padding-top: 10px;

      .infotitle {
        font-family: "PoppinsSemiBold";
        font-size: 20px;
        padding-bottom: 10px;
      }

      .infodesc {
        font-family: $InterRegular;
        color: $grey;
        font-size: 18px;
      }
    }
  }
}

.use-money {
  .seeWatchVideo {
    .watchvideo {
      border-radius: 7px;
      border: 2px solid #376d93;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      img {
        width: 30px !important;
        height: 30px !important;
      }
    }
  }
}
@media (min-width: 998px) and (max-width: 1400px) {
  .topSectionMedcoPayrollEmp {
    .tabletMode {
      img {
        max-height: 98vh;
      }
    }

    .info-cont {
      padding-top: 0;
    }

    .information {
      padding-top: 100px;

      .title {
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .watchvideo {
    margin-top: 0 !important;
  }
  .topSectionMedcoPayrollEmp {
    .information {
      padding-top: 8pc;
      left: 30px;
      right: 30px;

      .title {
        font-size: 30px !important;
        text-align: left !important;
        width: unset !important;
        padding-left: 10px;
      }

      .desc {
        font-size: 16px;
        line-height: 30px;
        text-align: left;
        padding-left: 10px;
      }

      .OpenSuyoolAccount {
        .OpenYourSuyoolAccount {
          margin: auto;
          font-size: 15px;
          width: 90%;
          // box-shadow: 1px 1px 10px rgb(53, 52, 52);
          padding: 8px unset;
        }
      }
    }
  }
  .medcoPayrollWhyChooseSuyool {
    .title {
      font-size: 16px;
    }
  }

  .use-money {
    .seeWatchVideo {
      justify-content: center;
      // padding-left: 30%;
    }
  }
}
