.payment_landingPage {
    background-color: #F1F3F5;

    // .desktop-logo{
    //     background-image: url("../../../images/payment/nonsuyooler-flow-suyool-cover-desktop.svg");
    // }
    .how_to_send_money {
        // background-color: aqua;
        align-items: center;
        display: flex;
        /* flex-direction: column; */
        /* margin-top: 50px; */
        justify-content: center;

        .user_img {
            padding: 36px;
            width: 185px;
            border-radius: 50%;
            height: 175px;
            // margin-left: 60px;
        }

        .user_name {
            font-size: 40px;
            font-family: $Bold;
            font-weight: bold;
        }

        .methode {
            font-size: 40px;
            font-family: $Regular;
            padding-top: 5px;
        }

        .amount {
            font-size: 60px;
            font-family: $Bold;
            font-weight: bold;
            padding: 0 20px;
        }
    }
    .descReason{
        font-size: 40px;
        font-family: $Regular;
        text-align: center;
        position: relative;
        top: -60px;
    }
    .how_to_pay {
        // margin-top: 60px;
        // background-color: rgb(120, 179, 12);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 515px;
        margin-bottom: 50px;

        .title {
            font-size: 27px;
            font-family: $Bold;
            width: 90%;
            padding-bottom: 10px;
        }

        .choose_way {
            cursor: pointer;
            padding: 15px;
            border: 1px solid #DEDEDE;
            margin-bottom: 25px;
            background-color: white;

            .logo_container {
                display: flex;
                align-items: center;

                .logo {
                    width: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .text_container {
                .sub_title {
                    font-size: 20px;
                    font-family: $Bold;
                    font-weight: bold;
                }

                .desc {
                    font-size: 18px;
                    font-family: $Regular;
                    max-width: 100%;
                }

                .sub-desc {
                    font-size: 16px;
                    color: #9A9A9A;
                }
            }
        }

        .lear_abou_suyool {
            color: #373464;
            font-family: $Bold;
            font-weight: bold;
            font-size: 12px;
            text-decoration: underline;
        }
    }
 @media screen and (max-width:998px) {
    .how_to_send_money {
        // background-color: aqua;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        .user_img {
            padding: 20px;
            width: 185px;
            border-radius: 50%;
            height: 175px;
        }

        .user_name {
            font-size: 21px;
            font-family: $Bold;
            font-weight: bold;
        }

        .methode {
            font-size: 21px;
            font-family: $Regular;
            padding-top: 5px;
        }

        .amount {
            font-size: 40px;
            font-family: $Bold;
            font-weight: bold;
            padding: 0 20px;
        }

        .desc {
            font-size: 18px;
            font-family: $Regular;
        }
    }
    .how_to_pay {
        margin-top: 60px;
        // background-color: rgb(120, 179, 12);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin-bottom: 50px;

        .title {
            font-size: 12px;
            font-family: $Bold;
            width: 80%;
            padding-bottom: 10px;
        }

        .choose_way {
            cursor: pointer;
            padding: 15px;
            border: 1px solid #DEDEDE;
            margin-bottom: 25px;
            background-color: white;

            .logo_container {
                display: flex;
                align-items: center;

                .logo {
                    width: 46px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .text_container {
                .sub_title {
                    font-size: 14px;
                    font-family: $Bold;
                    font-weight: bold;
                }

                .desc {
                    font-size: 11px;
                    font-family: $Regular;
                    max-width: 100%;
                }

                .sub-desc {
                    font-size: 13px;
                    color: #9A9A9A;
                }
            }
        }

        .lear_abou_suyool {
            color: #373464;
            font-family: $Bold;
            font-weight: bold;
            font-size: 12px;
            text-decoration: underline;
        }
    }
 }
    

    

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .logo {
                        margin: 45px 0 20px 0;
                    }

                    .title {
                        font-size: 15px;
                        font-family: $Bold;
                        font-weight: bold;
                    }

                    .desc {
                        font-size: 12px;
                        font-family: $Regular;
                        margin: 15px 0 20px 0;
                        text-align: center;
                    }

                    .btnDone {
                        padding: 15px 120px;
                        background-color: #F4F4F4;
                        color: black;
                        font-family: $Bold;
                        font-weight: bold;
                        font-size: 16px;
                        border-radius: 10px;
                        margin: 45px 0 20px 0;
                        border: none;
                    }
                }
            }
        }
    }
}

.generate_Code {
    background-color: #F1F3F5;
.needhelp{
    color: #373464;
    font-size: 16px;
    padding-bottom: 45px;
    font-family: $Regular;
    a{
        font-family: $SemiBold;
        text-decoration: underline;
    }
}
    .generatecode {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;

        // .error{
        //     display: none;
        // }
        .title {
            font-family: $Bold;
            font-weight: bold;
            font-size: 16px;
            @media screen and (min-width:998px) {
                font-size: 30px;
            }
            margin: 30px 0 20px 0;
        }

        .desc {
            font-family: $Regular;
            font-size: 16px;

            span {
                display: block;
                padding-top: 19px;
                text-align: center;
            }
        }

        .btn {
            padding: 15px 80px;
            background-color: #226D96;
            color: white;
            font-family: $Bold;
            font-size: 16px;
            border-radius: 10px;
            margin: 65px 0 56px 0;
            width: 330px;
        }
    }

    form {
        .innerLabel {
            margin-top: 37px;
            position: absolute;
            margin-left: 21px;
            font-size: 10px;
            color: #7588A0;
            font-family: $Regular ;
            @media screen and (min-width:998px) {
                font-size: 15px;
            }

            span {
                display: block;
                font-size: 14px;
                color: #000000;
            }
        }

        input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            // padding: 11px 2px 0px 4px;
            line-height: 31px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            @media screen and (min-width:998px) {
                padding: 20px 20px;
                font-size: 20px;
            }
        }

        input[type=tel],
        select {
            width: 100%;
            padding: 12px 20px;
            line-height: 31px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            @media screen and (min-width:998px) {
                padding: 20px 20px;
                font-size: 20px;
            }
        }

        .center {
            text-align: center;
        }

        input[type=submit],
        select {
            background-color: #226D96;
            color: #FFFFFF;
            font-family: $SemiBold ;
            padding: 18px;
            width: 100%;
            text-align: center;
        }
    }

}

.generatecode2 {
    .needhelp{
        color: #373464;
        font-size: 16px;
        padding-bottom: 45px;
        font-family: $Regular;
        a{
            font-family: $SemiBold;
            text-decoration: underline;
        }
    }
    padding-top: 20px;
    .bobbranches {
        .bob {
            text-decoration: underline;
            font-family: PoppinsRegular;
            color: #373464;
            font-family: $Bold;
        }
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-family: $Bold;
        font-weight: bold;
        font-size: 16px;
        @media screen and (min-width:998px) {
            font-size: 41px;
        }
        margin: 30px 0 30px 0;
        width: 80%;
        text-align: center;
    }

    .code {
        font-family: $Bold;
        font-weight: bold;
        font-size: 35px;
    }

    .btn {
        padding: 15px 80px;
        background-color: white;
        color: #226D96;
        font-family: $Bold;
        font-weight: bold;
        border: 1px solid #226D96;
        font-size: 16px;
        border-radius: 10px;
        margin: 45px 0 20px 0;
    }

    .note {
        font-family: $Regular;
        font-size: 12px;
        @media screen and (min-width:998px) {
            font-size: 25px;
        }
        margin: 0 0 51px 0;
    }

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .logo {
                        margin: 45px 0 20px 0;
                    }

                    .title {
                        font-size: 15px;
                        font-family: $Bold;
                        font-weight: bold;
                        width: unset;
                        margin: unset;
                    }

                    .desc {
                        font-size: 12px;
                        font-family: $Regular;
                        margin: 15px 0 20px 0;
                        text-align: center;
                    }

                    .btn {
                        padding: 15px 120px;
                        background-color: #F4F4F4;
                        border: none;
                        color: black;
                        font-family: $Bold;
                        font-weight: bold;
                        font-size: 16px;
                        border-radius: 10px;
                        margin: 45px 0 20px 0;
                    }
                }
            }
        }
    }
}

.visaCard {
    background-color: #F1F3F5;

    .landingpage {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-family: $Bold;
            font-weight: bold;
            font-size: 20px;
            margin: 100px 0;
            color: #FF0000;
        }

        img {
            width: auto;
        }

        .btn {
            padding: 15px 80px;
            background-color: #226D96;
            color: white;
            font-family: $Bold;
            font-weight: bold;
            font-size: 16px;
            border-radius: 10px;
            margin: 125px 0;
        }
    }
}