#Play {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gridplays {
        color: #1C2676;
        font-family: PoppinsMedium;
        font-size: 14px;
        max-width: 90%;
        padding-top: 20px;
    }

    .gridborder {
        border: 1px solid #cfcfcf;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        width: 90%;
        box-shadow: 2px 3px 10px #00000029;

        .header {
            padding: 9px 15px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            img {
                padding-right: 10px;
                padding-left: 2px;
            }

            span {
                font-family: PoppinsSemiBold;
                font-size: 11px;

                &.right {
                    float: right;
                    padding-top: 7px;
                    font-family: PoppinsSemiBold;
                    display: flex;

                    span {
                        color: black;
                        font-size: 11px;
                        font-family: PoppinsBold;
                    }

                    .switch {
                        --inactive-bg: #cfd8dc;
                        --active-bg: #e39794;
                        --size: 16px;
                        appearance: none;
                        width: calc(var(--size) * 2.2);
                        height: var(--size);
                        display: inline-block;
                        border-radius: calc(var(--size) / 2);
                        cursor: pointer;
                        background-color: var(--inactive-bg);
                        background-image: radial-gradient(circle calc(var(--size) / 2.1), #fff 100%, #0000 0), radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
                        background-repeat: no-repeat;
                        background-position: calc(var(--size) / -1.75) 0;
                        transition: background 0.2s ease-out;
                        margin-left: 10px;
                    }

                    .switch:checked {
                        background-color: var(--active-bg);
                        background-position: calc(var(--size) / 1.75) 0;
                    }
                }
            }
        }

        .body {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            padding: 0 15px;
            align-items: center;


            .ballSection {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: flex-start;
                flex-wrap: wrap;

                span {
                    font-family: PoppinsSemiBold;
                    font-size: 15px;
                    color: white;
                    background-color: #C82F2A;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    box-shadow: 0px 5px #e9e6e6;
                    margin-right: 6px;
                    margin-bottom: 6px;
                }
            }

        }

        .footer {
            display: flex;
            padding: 10px 15px;
            justify-content: space-between;
            background-color: #F7F7F7;
            border-top: 1px solid #cfcfcf;
            margin-top: 20px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            .price {
                font-family: PoppinsSemiBold;
                font-size: 20px;

                span {
                    font-size: 15px;
                }
            }
        }
    }

    .addGrid {
        border: 1px solid #C82F2A;
        display: flex;
        border-radius: 15px;
        padding: 45px 0;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        box-shadow: 2px 3px 10px #00000029;

        span {
            font-weight: bold;
            font-size: 40px;
            color: #C82F2A;
        }
    }

    .br {
        margin: 0 5%;
        height: 0.5px;
        background-color: #EBEBEB;
        width: -webkit-fill-available;
    }

    .wantToPlay {
        margin-top: 10px;
        // border-top: 1px solid #00000029;
        padding: 23px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            color: #1C2676;
            font-size: 14px;
            font-family: PoppinsMedium;
            padding-bottom: 26px;
            width: 90%;
        }

        .listSection {
            display: flex;
            width: 90%;
            flex-direction: column;
            border-radius: 10px;
            border: 1px solid #226D96;
            box-shadow: 2px 3px 10px #00000029;

            .listItem {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 10px 0;
                border-bottom: 1px solid #00000029;

                .checkbox {
                    width: 15%;
                    padding-top: 10px;
                    text-align: center;
                }

                .playNB {
                    width: 55%;
                    display: flex;
                    flex-direction: column;

                    .titleNb {
                        font-size: 14px;
                        font-family: PoppinsSemiBold;
                    }

                    .desc {
                        font-size: 11px;
                        font-family: PoppinsRegular;
                        padding-top: 6px;
                    }
                }

                .price {
                    width: 30%;
                    font-family: PoppinsSemiBold;
                    font-size: 14px;
                    color: #1C2676;
                }
            }
        }
    }

    .btnSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .Total {
            display: flex;
            flex-direction: row;
            background-color: #1C2676;
            border-radius: 25px;
            padding: 10px 0;
            margin-top: 30px;
            width: 90%;
            justify-content: space-around;
            letter-spacing: 0.9pt;

            span {
                color: white;
                font-size: 15px;
                font-family: PoppinsSemiBold;
                padding-left: 20px;
                margin: auto;
                width: 30%;
            }

            .thePrice {
                display: flex;
                color: white;
                align-items: flex-end;
                font-size: 15px;
                font-family: PoppinsSemiBold;
                width: 70%;

                .big {
                    font-size: 20px;
                    padding-left: 10px;
                }
            }
        }

        button {
            border: none;
            padding: 13px 0;
            background-color: #C82F2A;
            border-radius: 5px;
            color: white;
            font-size: 15px;
            font-family: PoppinsMedium;
            margin-top: 20px;
            width: 90%;
            text-align: center;
        }
    }
}