
.digitalCorp {
  // @media(-webkit-min-device-pixel-ratio: 2),
  // (min-resolution: 192dpi) {
  //   body {
  //     zoom: 0.8;
  //   }
  // }

  .personal-underline {
    color: #fff;
  }

  .business-underline {
    border-bottom: 2px solid #fff;
    color: #FFFFFF;
  }

  .nav-item {
    .button-primary {
      background-color: #ffffff;
      padding: 8px 80px;
      color: unset;
      color: #226D96;
    }

    .button-primary:hover {
      background-color: #226D96 !important;
      color: #ffffff !important;

    }
  }

  .btn-custm {
    font-size: 16px;
    padding: 10px 18px;
  }

  .left-section-card {
    width: 100% !important;

    .card-img-desk {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        float: left;
      }
    }
  }

  .secondary-btn {
    background-color: #ffffff;
    color: #226D96;
    border: 2px solid #226D96;;
    border-radius: 8px;
    font-family: PoppinsSemiBold;
  }

  .secondary-btn {
    &:hover {
      color: #ffffff;
      background-color: #226D96;
    }
  }

  .top-section-container {
    background-image: url('../../../images/digital_corporate/digital-corporate.jpg');
    background-size: cover;
  }

  .top-section-common {
    .navbar {
      .right {
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        font-family: $Regular;

        .link {
          padding-top: 6px;
        }

        .nav-button {
          background: #48a6d9;
          border-radius: 5px;
          height: 40px;
          text-align: center;
          width: 170px;
        }
      }

    }



  }

  .solution {
    background: #D7D7E2;
    padding: 40px 0 70px 0;

    .three_steps2 {
      .step {
        .sub {
          height: 250px !important;

          img {
            float: none !important;
            width: unset !important;
          }

          .title {
            text-align: center;
            padding-top: 40px;
            font-size: 25px;
            font-family: $SemiBold;
            color: #000000;
          }

          .description {
            text-align: center;
            padding-top: 15px;
            font-size: 17px;
            font-family: $InterRegular;
          }
        }

        .sub-benefits {
          background-color: unset !important;
          box-shadow: none !important;
        }
      }
    }
  }

  .benefits {
    background: #fafaff !important;
    padding: 40px 0 50px 0 !important;

    .three_steps2 {
      margin: 0 !important;

      .step {
        .sub {
          height: 200px !important;
        }
      }
    }

  }

  .info-purple-section {
    background-image: url("../../../images/digital_corporate/integrated.png");
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #D7D7E2;

    .info-content {
      color: #fff;
      font-family: $Regular;
      margin-left: 15%;
      width: 50%;
      padding: 56px 0;

      .top-title {
        font-size: 20px!important;
        letter-spacing: 2px;
        font-family: $Bold !important;
      }

      .text {
        font-size: 17px;
        font-family: $InterRegular
      }

      .title {
        font-size: 35px;
        line-height: 1.5;
        margin: 40px 0;
      }

      .blue-btn {
        margin-top: 50px;
        width: 300px;
        display: block;
        background: #FFFFFF;
        color: #226d96;
        border: 2px solid #FFF !important;
      }

      @media(min-width: 768px) {
        .blue-btn:hover {
          background: #226d96;
          color: #FFF;
          border: 2px solid #FFF !important;
          opacity: 1 !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .benefits {
      .three_steps2 {
        .step {
          .sub {
            height: unset !important;
          }
        }
      }
    }

    .solution {
      background: #D7D7E2;
      padding: 40px 0 70px 0;

      .three_steps2 {
        .sub{
          height: 340px;
        }
      }
    }


    .should-to-know {
      margin-bottom: 50px;
      margin-top: 60px;
    }
    .alfa-mastercard {
      margin-bottom: 50px !important;
    }
    .mobile-position {
      padding: 0;
    }
    .info-purple-section {
      height: unset;
      padding: 50px 0px;

      .info-content {
        width: 80%;
        margin: auto;

        .text {
          font-size: 17px;
        }

        .title {
          font-size: 35px;
          margin: 40px 0;
          color: #FFFFFF;
          line-height: 1.5;
        }
      }
    }
  }
}

.omnichannel {
  .info-purple-section {
    background-image: url("../../../images/digital_corporate/integratedOmni.png") !important;
  }

  .top-section-container {
    background-image: url('../../../images/digital_corporate/omnichanel-top-section.png');

  }

  //.topSectionUnderBTnText {
  //  margin-top: 20px;
  //  font-family: $Italic;
  //}
  .infoUnderTopSectionContainer {
    background-color: #fafaff;

    .infoUnderTopSection {
      padding: 20px 0;

      .icon-text-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

      .icon-text-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      .icon-text-item img {
        margin-right: 10px;
      }

      .icon-text-item p {
        margin: 0;
        font-family: $SemiBold;
        font-size: 21px;
        max-width: 270px;
      }
    }
  }

  @media (max-width: 768px) {
    .merchants {
      padding-top: 0;
    }
    .infoUnderTopSectionContainer {
      .infoUnderTopSection {
        padding: 35px 0;

        .icon-text-row {
          justify-content: center;
        }
      }
    }
  }
}



