footer {
  padding-top: 55px;
  min-height: 505px;
  background-color: #373464;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #373464, #226D96);

  .content {
    .title-desktop {
      img {
        max-width: 140px;
      }

      span {
        font-size: 24px;
      }

      .social {
        display: flex;
        margin-top: 200px;
        text-align: center;
        flex-wrap: wrap;

        a {
          margin: 0 10px;
        }
      }
    }

    .SmartTrans {
      display: block;
      padding-top: 23px;
      color: #ffffff;
      opacity: 0.5;
      font-family: $Regular;
    }

    .title_A {
      color: #D7D7E2;
      font-family: $SemiBold;
      font-size: 22px;
      line-height: 80px;
      margin-bottom: 40px;
      letter-spacing: 2px;

      @media screen and (max-width:992px) and (min-width:768px) {
        font-size: 22px;
      }
    }

    .desc_A {
      color: #D7D7E2;
      font-family: $Regular;
      font-size: 18px;
      line-height: 80px;
      display: block;
    }

    .calluson {
      color: #D7D7E2;
      font-family: $Regular;
      font-size: 16px;
      padding-top: 48px;
      margin-bottom: 40px;
      padding: 0px;
      // position: absolute;
      // right: 0;
      @media screen and (max-width:768px) {
        position: unset;
        text-align: center;
      }
      img{
        padding-right: 10px;
      }
      span{
        display: block;
        a{
          background-color: #fff;
          color: #216d96;
          padding: 2px 2px;
          margin-right: 7px;
          border-radius: 37px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    background-image: linear-gradient(to top, #373464, #226D96);

    .content {
      .title_A {
        font-size: 16px;
        line-height: 40px;
      }

      .desc_A {
        font-size: 12px;
        line-height: 53px;
      }

      .desktop {
        display: none;
      }

      .title-mobile {
        text-align: center;

        img {
          width: 108px;
        }

        .SmartTrans {
          font-size: 24px;
        }

        span {
          font-size: 24px;
        }

        .social {
          display: flex;
          margin-top: 20px;
          text-align: center;
          justify-content: center;

          a {
            margin: 3px 30px;

            img {
              width: 40px !important;
            }
          }
        }
      }

      .bottom-section{
        padding-left: 0;
      }
    }

  }

  @media (min-width: 769px) {

    .title-mobile,
    .mobile {
      display: none;
    }
  }
}

.subfooter {
  font-family: $Regular;
  width: 100%;
  background-color: #373464;
  height: 72px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 25px;
}