.get-suyool{
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;

  .waiting {
    color: #226D96;
    font-size: 20px;
    font-family: $Medium;
    margin-bottom: 30px;
  }

  .get-suyool-1{
    color: #374A5A;
    font-family: $SemiBold;
    font-size: 35px;
    margin-bottom: 30px;
  }

  @media (max-width: 768px) {
    .waiting {
      font-size: 14px;
    }

    .get-suyool{
      font-size: 20px;
    }

    .desktop{
      display: none;
    }
  }

  @media (min-width: 769px) {
    .OpenYourSuyoolAccount{
      display: none;
    }
  }

}