nav {
  background: linear-gradient(31deg, #cccccc94 6%, #fff 26%);
  font-family: $Regular;

  .navbar-nav {
    li {
      margin-right: 50px;

      .nav-link {
        color: #000000!important;
      }

      .button-primary {
        padding: 8px 30px;
        border-radius: 8px;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}

.navbar_v2 {
  font-family: $Regular;
  .navbar-nav {
    li {
      margin-right: 50px;
      .nav-link {
        color: #FFFFFF!important;
      }
      .button-primary {
        padding: 8px 30px;
        border-radius: 8px;
        &:hover{
          color: #fff;
        }
      }
    }
  }

  .offcanvas{
    background: #155E83;
    padding: 40px;

    .head{
      padding: 30px 0;
    }

    .button-primary{
      background-color: #FFFFFF;
      color: #000000;
    }
  }
}