.help-top-info{
  height: 250px !important;
}

.help-top-section {
  height: 450px;
  background-size: cover;
  text-align: center;

  .info{
    max-width: 75%;
    margin: auto;
    text-align: left;
    padding-top: 74px;

    form {
      label{
        width: 100%;
        margin: 0;
      }
    }
  }

  .title, .sub-title {
    color: #FFFFFF;
  }

  .title {
    font-size: 65px;
    padding-top: 80px;
    font-family: $SemiBold;
  }

  .sub-title {
    font-size: 25px;
    font-family: $Regular;
    padding-top: 40px;
  }

  form {
    margin-top: 20px;

    label {
      width: 35%;
      display: flex;
      align-items: center;
      margin: auto;

      input {
        width: 100%;
        height: 75px;
        border-radius: 40px;
        border: none;
        padding-left: 80px;
      }

      input::placeholder {
        font-size: 16px;
        font-family: $Regular;
      }

      i {
        left: 55px;
        top: 2px;
        position: relative;
        font-size: 23px;
      }
    }
  }

  .choice {
    background: #fff;
    display: flex;
    height: 55px;
    margin: 30px auto;
    width: 300px;
    border-radius: 8px;

    a {
      border-radius: 8px;
      font-size: 17px;
      margin: 5px;
      text-align: center;
      width: 45%;
      padding-top: 8px;
      font-family: $Regular;
      color: #FFFFFF;
    }

    .active {
      color: #FFFFFF;
    }
  }
}

.help-section1 {
  background-image: url("../../../images/helpCenter/help-topSection.jpg");
  form {
    label {
      input::placeholder {
        color: #216D9690;
      }

      i {
        color: #216D9690;
      }
    }
  }

  .choice {
    .personal {
      background: #216D96;
    }
    .corporate{
      color: #216D96;
    }
  }
}

.help-section2 {
  background-image: url("../../../images/helpCenter/help-topSection-corporate.jpg");
  form {
    label {
      input::placeholder {
        color: #59388486;
      }
      i {
        color: #59388486;
      }
    }
  }

  .choice {
    .personal{
      color: #343A64;
    }
    .corporate {
      background: #343A64;
    }
  }
}

@media(max-width: 768px) {
  .help-top-section{
    height: 360px;
    .title {
      font-size: 30px;
      padding-top: 60px;
    }
    .info {
      padding-top: 0;
      form {
        margin-top: 40px;
        label {
          width: 90%;

          input {
            width: 100%;
            height: 50px;
            border-radius: 40px;
            border: none;
            padding-left: 60px;
          }

          input::placeholder {
            font-size: 12px;
          }

          i {
            font-size: 23px;
            left: 20px;
            position: relative;
            top: 0;
            width: 0;
          }
        }
      }
    }

    .choice {
      height: 40px;
      margin: 50px auto;
      width: 250px;

      a {
        padding-top: 4px;
        font-size: 14px;
        border-radius: 5px;
      }
    }
  }
}

