.notification-section{
    .image{
        max-width:500px ;
        img{
            width: 100%;
        }
    }
    .center{
        text-align: center;
    }
    .updated{
        color: #373464;
        font-family: 'PoppinsMedium';
        font-size: 20px;
        /* line-height: 100px; */
        padding-bottom: 15px;
    }
    .receive{
        color: #374A5A;
        font-size: 38px;
        font-family: 'PoppinsRegular';
    }
    .title{
        color: #00000080;
        padding-top: 15px;
        font-size: 20px;
        font-family: 'PoppinsRegular';
    }
    .checked{
        span{
            display: block;
            color: #00000080;
            padding-top: 18px;
            font-family: 'PoppinsRegular';
            font-size: 18px;
            img{
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
    }
    .learnmore{
        margin-top: 50px;
        padding: 15px 30px;
        background: #226D96;
        border: none;
        border-radius: 10px;
        color: #ffffff;
        font-family: 'PoppinsMedium';
        display: inline-flex;
    }
}
.visa-section{
    padding-bottom: 110px;
    img{
        max-width: 290px;
    }
    .center{
        text-align: center;
    }
    .updated{
        color: #373464;
        font-family: 'PoppinsMedium';
        font-size: 20px;
        /* line-height: 100px; */
        padding-bottom: 15px;
    }
    .receive{
        color: #374A5A;
        font-size: 40px;
        font-family: 'PoppinsRegular';
    }
    .title{
        color: #00000080;
        padding-top: 15px;
        font-size: 22px;
        font-family: 'PoppinsRegular';
    }
    .checked{
        span{
            display: block;
            color: #00000080;
            padding-top: 18px;
            font-family: 'PoppinsRegular';
            font-size: 18px;
            img{
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
    }
    .learnmore{
        margin-top: 50px;
        padding: 15px 30px;
        background: #226D96;
        border: none;
        border-radius: 10px;
        color: #ffffff;
        font-family: 'PoppinsMedium';
        display: inline-flex;
    }
}
 .secure-safe{
    padding-bottom: 110px;
    .image{
        max-width:490px ;
        img{
            width: 100%;
        }
    }
    .center{
        text-align: center;
    }
    .updated{
        color: #373464;
        font-family: 'PoppinsBold';
        font-size: 20px;
        /* line-height: 100px; */
    }
    .receive{
        color: #374A5A;
        font-size: 38px;
        font-family: 'PoppinsRegular';
    }
    .title{
        color: #00000080;
        padding-top: 15px;
        font-size: 16px;
        font-family: 'PoppinsRegular';
    }
    .checked{
        span{
            display: block;
            color: #00000080;
            padding-top: 18px;
            font-family: 'PoppinsRegular';
            font-size: 15px;
            img{
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
    }
    .learnmore{
        margin-top: 50px;
        padding: 15px 30px;
        background: #226D96;
        border: none;
        border-radius: 10px;
        color: #ffffff;
        font-family: 'PoppinsMedium';
        display: inline-flex;
    }
}