.questions-common {
  .three-titles {
    .title-one {
      color: #226d96;
    }
  }

  .button-primary {
    font-family: PoppinsSemiBold;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 20px !important;
  }

}
