.should-to-know {
  margin-top: 120px;

  .right {
    img {
      width: 70px;
    }
  }

  margin-bottom: 100px;

  .left-section{
    display: flex;
    align-items: center;
  }

  .info {
    padding: 80px 70px;

    h6 {
      color: #373464;
      font-family: $Bold;
      font-size: 22px;
      letter-spacing: 2px;
    }

    h2 {
      font-family: $Regular;
      /* line-height: 1.5; */
      margin: 30px 0;
      color: #374A5A;
      font-size: 52px;
    }

    p {
      font-size: 20px;
      color: #6B6B6B;
      font-family: $Regular;
      margin-bottom: 70px;
    }

  }

  .box {
    box-shadow: 0px 0px 10px #eeeeee;
    padding: 30px 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: none;

    span {
      font-family: $SemiBold;
      font-size: 22px;
    }

    p {
      color: #6B6B6B;
      font-size: 17px;
      font-family: $Regular;
      margin-top: 10px;
    }
  }

  @media all and (max-width: 768px) {
    .desktop{
      display: none;
    }

    .right {
      img {
        width: 40px;
      }
    }
    .info {
      padding: 40px 0;

      h6, p {
        font-size: 14px;
      }

      h2 {
        font-size: 36px;
      }


      .blue-btn {
        margin: auto;
      }
    }

    .box {
      padding: 20px 0 7px 0;
      span, p {
        font-size: 14px;
      }
    }
  }
}