.supportBody {
  background-color: #E8F0F3;
  min-height: 110vh;


  .formMain {
    background: #FFFFFF;
    padding: 20px 15%;
    font-family: $Regular;
    color: #6B6B6B;
    width: 90%;
    margin: auto;

    .formTitle {
      font-size: 35px;
      color: #202020;
    }

    .formText {
      font-size: 18px;
      margin: 10px 0;
    }

    .form-card {
      margin: 20px 0;

      .form-group {
        label {
          font-size: 18px;
        }

        textarea {
          font-family: $Regular;
          padding: 13px;
          min-height: 170px;
        }

        input, textarea {
          font-family: $Regular;
          border: none;
          border-radius: 8px;
          background: #E8F0F3;
          font-size: 16px;
        }
      }
    }

    .btn-wrap {
      .crtAcc {
        border-radius: 8px;
        background-color: #216D96;
        color: #FFFFFF;
        padding: 8px 50px;
      }
    }
  }

  .contact-info{
    padding: 10%;
    font-family: $Regular;
    font-size: 18px;
    color: #202020;

    .title{
      font-size: 35px;
    }

    .info{
      display: flex;
      margin: 40px 0;

      img{
        padding-right: 10px;
      }
      a{
        font-family: $SemiBold;
        text-decoration: underline;
        color: #387EA5;
      }
    }
  }

}


@media screen and (max-width: 768px) {
  .supportBody {
    .formMain {
      padding: 20px 10%;
      width: 100%;
      .formTitle{
        font-size: 25px;
      }
      .formText {
        font-size: 16px;
      }

      .form-card {
        .form-group {
          label {
            font-size: 16px;
            padding: 20px 0 6px 0;
          }

          input {
            font-size: 14px;
            padding: 12px;
          }

          textarea {
            font-size: 16px;
            padding: 12px;
            min-height: 150px;
          }
        }
      }

      .btn-wrap {
        padding: 25px 0;
      }
    }

    .contact-info{
      padding: 10%;
      font-family: $Regular;
      font-size: 16px;
      color: #202020;

      .title{
        font-size: 25px;
      }

      .info{
        margin: 30px 0;
      }
    }
  }
}
