.tc{
    .title{
        text-align: center;
        margin-bottom: 30px;
        color: #216D96;
        margin-top: 70px;
        font-family: $Medium;
        font-size: 20px;
        text-transform: uppercase;
    }
    .subtitle{
        text-align: center;
        margin-bottom: 40px;
        color: #364A59;
        font-size: 35px;
        font-family: $SemiBold;
    }
    b{
        display: block;
    }
}