.faq{
    .title{
        text-align: center;
        margin-bottom: 30px;
        color: #216D96;
        margin-top: 30px;
        font-family: $Medium;
        font-size: 20px;
    }
    .subtitle{
        text-align: center;
        margin-bottom: 40px;
        color: #364A59;
        font-size: 27px;
        font-family: $SemiBold;
    }
    .FAQaccordion{
        .accordion-item{
            margin-bottom: 20px;
            border: none;
        }
        .accordion-button{
            font-size: 23px;
            color: #226D96;
            font-family: $Regular;
            background-color: #C4D9E495;
            padding: 22px;
            &:not(.collapsed){
                box-shadow:none;
            }
            &:focus{
                box-shadow:none;
                background-color: #C4D9E495;
            }
            &::after{
                color: #226D96;
                background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") ;
            }
        }
        .accordion-collapse{
             background-color: #C4D9E495;
        }
        .accordion-body{
           position: relative;
           top: -20px;
            color: #000;
            font-family: $Regular;
            padding-left: 25px;
        }
    }
}