<div class="container-fluid three-easy-steps">
    <div class="info">
        <span>HOW IT WORKS?</span>
        <h2>3 Easy Steps</h2>
        <p>To start paying cashless with just your mobile phone</p>
    </div>
    <div class="row steps">
        <div class="col-md-4 col-12">
            <div class="box">
                <div class="number">01</div>
                <h6 class="title">Enroll to Suyool</h6>
                <p>All you need is a Lebanese mobile number & a verification document.</p>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="box">
                <div class="number">02</div>
                <h6 class="title">Top Up Your Wallet</h6>
                <p>Easily top up your Suyool dual-currencies accounts via your fresh card or cash input .</p>

            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="box">
                <div class="number">03</div>
                <h6 class="title">Pay Cashless</h6>
                <p>Make secure payments on the go using only your phone.<br></p>
            </div>
        </div>
    </div>
</div>