<div class="register-section">
    <div class="row">
        <div class="register">Register now</div>
        <div class="adopters">Become an early adopters</div>
        <form action="">
            <label for="email"><img src="{{asset('build/images/envelope.png')}}" alt=""></label>
            <input type="email" name="" id="email" placeholder="Enter your email address">
            <input type="submit" value="Sign Up">
        </form>
    </div>
</div>