<div class="get-suyool homepage">

    {% if type is defined and type == 2 %}
        <h4 class="waiting text-type-{{type}}">READY TO TRY SUYOOL?</h4>
        <h3 class="get-suyool" style="font-size: 30px;">Get Suyool Corporate Account Now!</h3>
        <div class="buttons-cont text-center mb-5">
            <button type="button" class="btn button-primary btn-type-{{type}}" onclick="window.location.href='/legal_enrollment'">Apply as Corporate</button>
        </div>
    {% else %}
        <h4 class="waiting">{{ 'WHAT_ARE_YOU_WAITING_FOR' | trans}}</h4>
        <h3 class="get-suyool-1">Get Suyool Visa Platinum Card Now!</h3>
        <div class="buttons-cont text-center mb-5">
            <button id="openSuyoolAccount" class="btn button-primary mr-5 desktop" data-bs-toggle="modal" data-bs-target="#DownloadApp">Get The Card</button>
            <button class="btn button-primary mr-5 OpenYourSuyoolAccountCard">Get The Card</button>
        </div>
    {% endif %}
</div>