<div class="get-suyool homepage">
    <div class="waiting">{{ 'WHAT_ARE_YOU_WAITING_FOR' | trans}}</div>
    <div class="get-suyool">{{ 'SCAN_DOWNLOAD' | trans}}</div>
    <div class="buttons-cont text-center mb-5">
        <button id="openSuyoolAccount" class="btn button-primary mr-5 desktop" data-bs-toggle="modal" data-bs-target="#DownloadApp">{{'OPEN_YOUR_SUYOOL_ACCOUNT'|trans}}</button>
        <button id="openSuyoolAccount" class="btn button-primary mr-5 OpenYourSuyoolAccount">{{'OPEN_YOUR_SUYOOL_ACCOUNT'|trans}}</button>
    </div>
</div>