<div class="getTheApp">
    <div class="title">
        {{"SCAN_DOWNLOAD"|trans}}
    </div>
    <div class="desc">
        {{"GET_SUYOOL_NOW"|trans}}
    </div>
    <div class="qr">
        <img src="{{ asset('build/images/gettheapp.png') }}" alt="">
    </div>
</div>