<div class="container-fluid should-to-know">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="info">
                <h6>SHOULD TO KNOW</h6>
                <h2>3 Things You Should Know About Suyool</h2>
                <p>And how you will have more control over your money when you enroll to Suyool.</p>
                <button class="btn button-primary">Learn More</button>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="col-12 box">
                <div class="row">
                    <div class="col-md-2 col-3">
                        <img src="{{ asset('build/images/Transfer.png') }}" alt="fast & easy" title="fast & easy"></a>
                    </div>
                    <div class="col-md-10 col-9">
                        <span>International Account - No local BANK</span>
                        <p>Without having to go to a branch office, all the banking services you need are now at hand!<br> You have more control over your money.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 box">
                <div class="row">
                    <div class="col-md-2 col-3">
                        <img src="{{ asset('build/images/pay-at-real.png') }}" alt="secure" title="secure"></a>
                    </div>
                    <div class="col-md-10 col-9">
                        <span>Pay at REAL market rate - Everytime</span>
                        <p>Instantly exchange between your dual-currencies wallet & pay at the current market rate.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 box">
                <div class="row">
                    <div class="col-md-2 col-3">
                        <img src="{{ asset('build/images/fresh-visa.png') }}" alt="convenient" title="convenient"></a>
                    </div>
                    <div class="col-md-10 col-9">
                        <span>“Fresh” VISA Card - Travel Card</span>
                        <p>Get your VISA card that you can use anywhere in the world with better exchange rate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
