<div class="top-section-step-container">
    <div class="container-fluid top-section-step-content">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                <div class="row">
                    <div class="col-md-4 col-3 right">
                        <img src="{{ asset('build/images/Transfer.png') }}" alt="fast & easy" title="fast & easy"></a>
                    </div>
                    <div class="col-md-8 col-9">
                        <span>Instant Transfer</span>
                        <p>Send & receive money using the Suyool app, 0% fees</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-3 right">
                        <img src="{{ asset('build/images/Payment.png') }}" alt="secure" title="secure"></a>
                    </div>
                    <div class="col-md-8 col-9">
                        <span>QR Payment</span>
                        <p>Experience simpler, faster & safer payments.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-3 right">
                        <img src="{{ asset('build/images/Shopping.png') }}" alt="convenient" title="convenient"></a>
                    </div>
                    <div class="col-md-8 col-9">
                        <span>Exchange</span>
                        <p>Instantly exchange at current rate between your Suyool digital accounts.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-3 right">
                        <img src="{{ asset('build/images/OnlinePayment.png') }}" alt="convenient" title="convenient"></a>
                    </div>
                    <div class="col-md-8 col-9">
                        <span>VISA International Card</span>
                        <p>Request your Suyool Visa card in minutes & pay anywhere in the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

