<div class="container-fluid transaction-anywhere">
    <div class="row">
        <div class="col-lg-6 col-12"><div class="img-cont"><img src="{{ asset('build/images/transaction-anywhere.png') }}" alt="Suyool"></div></div>
        <div class="col-lg-6 col-12">
            <div class="info">
                <h6>TRANSACTION ANYWHERE, ANYTIME</h6>
                <h2>Easy Transactions Anywhere, Anytime</h2>
                <p>Manage your finances on your own terms, at a time and place that suits your best. Carry out your daily financial transactions with ease, no matter where you are or what time it is.<span>Save time and money, and have a greater control over your finances.</span></p>
                <button class="btn button-primary">Learn More</button>
            </div>
        </div>
    </div>
</div>