<div class="alfa-questions">
    <div class="container-fluid">
        <div class="title">
            {{'ASK_US'|trans}}
        </div>
        <div class="sub-title">
            {{'MORE_QUESTIONS'|trans}}
        </div>
        <div class="desc">
            {{'SUYOOL_TEAM_IS_AVAILABLE_24_7_READY'|trans|raw}}
        </div>
        <div class="contact">
            <a href="#" class="contact-us">{{'CONTACT_US'|trans}}</a>
        </div>
    </div>
</div>