<div class="solution">
    <div class="container-fluid">
        <div class="title-solution">SOLUTIONS</div>
        <div class="sub-title">Why Suyool?</div>
        <div class="row three_steps2">
            <div class="col-md-4">
                <div class="step">
                    <div class="sub">
                        <div class="sub1">
                            <img src="{{ asset('build/images/alfa_employee/secure.png') }}" alt="Suyool">
                            <div class="title">SAFE</div>
                        </div>
                        <div class="description">Enjoy the simplicity and security of biometric login every time you
                            access your account.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step">
                    <div class="sub">
                        <div class="sub1">
                            <img src="{{ asset('build/images/alfa_employee/safe.png') }}" alt="Suyool">
                            <div class="title">SECURE</div>
                        </div>
                        <div class="description">Your security is our priority. With two-factor authentication, data
                            encryption, and fraud prevention, we’ve got your back, ensuring your financial safety.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step">
                    <div class="sub">
                        <div class="sub1">
                            <img src="{{ asset('build/images/alfa_employee/convenience.png') }}" alt="Suyool">
                            <div class="title">CONVENIENT</div>
                        </div>
                        <div class="description">At Suyool, convenience is our hallmark. Benefit from a variety of
                            time-saving features, including an overview of your account with real-time notifications of
                            your spending and requests.</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>