<div class="alfa-steps">
    <div class="home_body_desktop">
        <div class="how_suyool_work">HOW DOES SUYOOL WORKS?</div>
        <div class="easy_steps">3 Easy Steps To Get Started</div>
        <div class="manage_spend">Manage, spend & access your money in real time</div>
    </div>

    <div class="home-steps row">
        <div class="card step col-md-3 col-11">
            <div class="head">
                01
                <img src="{{ asset('build/images/homepage/open-account.png') }}" alt="">
            </div>
            <div class="title">Open an account in minutes</div>
            <div class="text">All you need is a Lebanese mobile number & a legal identification document.</div>
        </div>
        <div class="card step col-md-3 col-11">
            <div class="head">
                02
                <img src="{{ asset('build/images/alfa_employee/usdcard.png') }}" alt="">
            </div>
            <div class="title">Receive Your Payroll Instantly</div>
            <div class="text">No need to wait in line, your payroll is instantly disbursed into your account & available
                ON PAY DAY!</div>
        </div>
        <div class="card step col-md-3 col-11">
            <div class="head">
                03
                <img src="{{ asset('build/images/homepage/spend.png') }}" alt="">
            </div>
            <div class="title">Choose How To Spend It</div>
            <div class="text">Send money to anyone in Lebanon, pay at merchants, pay with your Mastercard locally &
                internationally, pay your bills - ALL FROM ONE APP</div>
        </div>
    </div>
</div>