<div class="questions-common">
    <div class="three-titles">
        <div class="title-one">
            {{'ASK_US'|trans}}
        </div>
        <div class="title-two">
            {{'MORE_QUESTIONS'|trans}}
        </div>
        <div class="title-three">
            {{'SUYOOL_TEAM_IS_AVAILABLE_24_7_READY'|trans|raw}}
        </div>
        <div class="buttons-cont text-center my-5">
            <a id="openSuyoolAccount" href="/contact-us" class="button-primary">{{'CONTACT_US'|trans}}</a>
        </div>
    </div>
</div>