<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('build/images/pay_with_suyool.jpg') }}" sizes="128x128">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {% for file in encore_entry_css_files('styles') %}
            <link rel="stylesheet" href="{{ asset(file|substr(1)) }}">
        {% endfor %}
    {% endblock %}
</head>
<body class="{% block currentPage %}{% endblock %}">
<header>   
     <div class="right_header">
    <img src="{{ asset('build/images/Suyool-S-White-Logo.png') }}">
        <a class="suyool_header_link" href="/" title="suyool">Suyool</a>
        <a class="suyool_header_link" href="/" title="suyooli">Suyooli</a>
    </div>
    <img src="{{ asset('build/images/Suyool-S-White-Logo.png') }}">
    
</header>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
{% endblock %}
</body>
