#OgeroBody {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;

    .scrolableView {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .hideBack {
        background-color: hsl(0deg 0% 59% / 41%);
        border-radius: 10px;
    }
}

#ContinueBtn {
    width: 100%;
    padding: 13px;
    text-align: center;
    background-color: #226D96;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: PoppinsMedium;
}

#modalRadius {
    .modal-content {
        border-radius: 10px !important;
    }

    .modal-body {
        padding: 12px;
        padding-top: 20px;
    }
}

#SuccessModal {
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 0px;
    align-items: center;

    img {
        width: 60px;
        height: 60px;
    }

    .title {
        font-family: PoppinsSemiBold;
        font-size: 15px;
        color: black;
        padding-top: 33px;
    }

    .desc {
        font-family: PoppinsMedium;
        font-size: 15px;
        color: black;
        text-align: center;
        padding-top: 2px;
    }

    .okiBtnModal {
        margin-top: 40px;
        padding: 15px;
        font-family: PoppinsMedium;
        font-size: 15px;
        color: black;
        background-color: #F4F4F4;
        border-radius: 7px;
        width: 100%;
        border: none;
    }
}

#ErrorModal {
    display: flex;
    flex-direction: column;
    // padding: 15px 10px 10px 10px;
    align-items: center;

    img {
        width: 60px;
        height: 60px;
    }

    .title {
        font-family: PoppinsSemiBold;
        font-size: 15px;
        color: black;
        padding-top: 33px;
    }

    .desc {
        font-family: PoppinsMedium;
        font-size: 15px;
        color: black;
        text-align: center;
        padding-top: 2px;
    }

    .buttonsDesign {
        display: flex;
        width: 100%;

        .okiBtnModal {
            margin-top: 40px;
            padding: 15px 36px;
            font-family: PoppinsMedium;
            font-size: 15px;
            color: black;
            background-color: #F4F4F4;
            border-radius: 7px;
            width: 100%;
            border: none;
        }

        .exchangeBtnModal {
            margin-top: 40px;
            padding: 15px 36px;
            font-family: PoppinsMedium;
            font-size: 15px;
            color: #FFFFFF;
            background-color: #226D96;
            border-radius: 7px;
            width: 100%;
            border: none;
            margin-left: 10px;
        }
    }
}

#spinnerLoader {
    width: 100%;
    height: 90vh;
    display: flex;
    // flex-direction: column;
    align-items: center;
    z-index: 1002;
    position: absolute;
    justify-content: center;

    .spinner {
        width: 100px;
        height: 100px;
    }
}