<div class="terms-and-conditions container">
    <div class="header">
        <div class="head-title">
            SUYOOL SAL<br>
            CORPORATE TERMS
        </div>
{#        uncomment this when the pdf is available#}
{#        <button id="termsPdfDownloadButton">#}
{#            Download PDF#}
{#        </button>#}
    </div>
    <div class="title">1. SCOPE</div>
    <p>
        1.1 SUYOOL SAL, a joint-stock company validly existing under the laws of the
        Republic of Lebanon (“SUYOOL”) and licensed by the Central Bank of Lebanon (Banque du Liban), engages in
        the
        business of providing electronic mobile wallet services and offers associated services, features, and
        functionalities. This document outlines the terms and conditions governing the SUYOOL Corporate Account
        allocated to a legal entity (“Account Holder”), which is accessed through the Corporate Account Portal
        on
        SUYOOL’s website (the “Account”). It is essential for the Account Holder to carefully review and
        understand
        these terms and conditions.
    </p>
    <p>
        1.2 These terms and conditions, along with the attached Schedules (“Corporate
        Terms”), the Privacy Policy, and any other terms and conditions that apply to the Account, collectively
        constitute a legally binding agreement between SUYOOL and the Account Holder (“Agreement”) and shall
        govern the
        use of the Account.
    </p>
    <p>
        1.3 By using the Account and the Corporate Account Portal, accessing SUYOOL’s website, and
        downloading any content on or through the website or the Corporate Account Portal, the Account Holder
        explicitly
        acknowledges that they have read, understood, and agreed to be bound by the Agreement. If the Account
        Holder
        disagrees with any terms of the Agreement, they should refrain from accessing or using the Account, the
        website,
        or the Corporate Account Portal.
    </p>

    <div class="title">2. DEFINITIONS</div>
    <p>
        Terms defined in these Corporate Terms shall have the meanings
        respectively assigned to them and any other defined terms are set out in Schedule 1 of these Corporate
        Terms and
        shall apply throughout these Corporate Terms, unless explicitly stated otherwise.
    </p>

    <div class="title">3. OPENING A SUYOOL CORPORATE ACCOUNT</div>
    <p>
        3.1 The Account Holder and any of its representatives represent and undertake the following when
        applying to open the Account:
    </p>
    <p>
        (a) As a legal entity, the Account Holder warrants that the person(s) accepting
        the Agreement on its behalf is its authorised signatory(ies). The identification of these authorised
        signatories
        must be supported by official documentation provided by the Account Holder to SUYOOL. This documentation
        shall
        establish the signatory(ies)’ right to represent and sign on behalf of the Account Holder and confirm
        that they
        are granted full authority to act on its behalf and to abide by the Agreement;
    </p>
    <p>
        (b) The Account Holder has the
        full power and authority required to enter into the Agreement and to perform its obligations thereunder;
    </p>
    <p>
        (c) The Account Holder agrees to complete the Know Your Customer (“KYC”) form provided by SUYOOL and
        furnish any
        requested information, including details regarding the source of funds, official documentation, the
        Authorized
        Individuals (as described below), as well as any directors, partners, persons with significant control
        over the
        Account Holder’s business or any beneficial owners;
    </p>
    <p>
        (d) The Agreement is also applicable to any Authorized
        Individual(s) to whom the Account Holder grants permission to use the Account, and the Account Holder
        shall be
        responsible for any actions or omissions performed by these individuals;
    </p>
    <p>
        (e) The Account Holder and its
        representatives are responsible for ensuring that the products and services offered under the Agreement
        are not
        accessible to persons under the age of 18;
    </p>
    <p>
        (f) The Account Holder will refrain from engaging in any business or
        activities that are illegal under the Applicable Laws;
    </p>
    <p>
        (g) Any change in beneficial ownership of more than 25%
        of the Account Holder’s business or a change in the person with legal authority to manage the Account
        Holder’s
        business will necessitate the update of the KYC form.
    </p>
    <p>
        3.2 SUYOOL reserves the right, at its sole discretion, to
        refuse to open or maintain an Account and to impose any restrictions on the Account.
    </p>

    <div class="title">4. ACCESS TO THE ACCOUNT</div>
    <p>
        4.1 This Agreement is binding on the Account Holder, who can authorize other individuals to perform
        certain
        activities on their behalf. Within these Corporate Terms, four distinct categories of Authorized
        Individuals are
        recognized.
    </p>
    <p>
        (a)Account Super Administrator. The Account Super Administrator serves as the authorized
        representative of the Account Holder. The Account Super Administrator is typically the person who
        initially
        enters into the Agreement on behalf of the business or any other person appointed by the Account Holder.
        They
        are granted full access to the Account, enabling them to make payments into or out of the Account,
        including the
        use of the Corporate Cards, and utilize the full range of features and functionalities associated with
        the
        Account. The Account Super Administrator has the authority to appoint Authorized Managers, Authorized
        Users, and
        Authorized Cardholders, as well as set limits and restrictions for their activities.
    </p>
    <p>
        (b) Authorized Manager An Authorized Manager is an individual authorized by the Account Super
        Administrator to make payments into or out
        of the Account, including through the use of the Corporate Cards.
    </p>
    <p>
        (c) Authorized User. An Authorized User is an
        individual authorized by the Account Super Administrator to view and download transactions.
    </p>
    <p>
        (d) Authorized Cardholder. An Authorized Cardholder is an individual exclusively authorized to use the
        Corporate Card
        associated with the Account. The activities and usage of the Corporate Card by an Authorized Cardholder
        are
        subject to the limits and restrictions set by the Account Super Administrator.
    </p>
    <p>
        4.2 The Account Super
        Administrator retains the ability to impose limits and restrictions on the activities of an Authorized
        Manager,
        Authorized User and an Authorized Cardholder using Corporate Cards or any other applicable functions.
    </p>
    <p>
        4.3 All four types of Authorized Individuals (Account Super Administrator, Authorized Manager,
        Authorized User, and
        Authorized Cardholder) must have their own SUYOOL personal account in order to access the Account and
        perform
        the respective authorized activities.
    </p>
    <p>
        4.4 All instructions and actions undertaken by Authorized Individuals
        within the confines of their granted authority shall be deemed by SUYOOL as if they were given directly
        by the
        Account Holder or performed by the Account Holder. It is the sole responsibility of the Account Holder
        to
        withdraw authorization or set limits on any Authorized Individual. Actions taken by Authorized
        Individuals are
        binding and final on the Account Holder who shall bear any associated responsibilities arising from such
        actions
        of these individuals.
    </p>

    <div class="title">
        5. USING THE AVAILABLE BALANCE AND ACCOUNT FUNCTIONALITY AND FEATURES
    </div>
    <p>
        The Account holds
        electronically stored monetary value issued by SUYOOL on receipt of funds in either Fresh USD or Fresh
        LBP (the
        “Available Balance”). The Account Holder can use the Available Balance for various purposes, and can
        initiate
        transactions, subject to having sufficient funds, the eligibility of the recipient to receive funds, and
        the
        applicable transfer limits and procedures. The following examples illustrate some of the uses:
    </p>
    <p>
        5.1 Adding money
        to the Account/ Account top-up and receiving money into the Account The Account
    </p>
    <p>
        Holder can add funds to the Account or receive funds into the Account through any of the following
        methods:
    </p>
    <p>
        (a) From another SUYOOL user,
        such as individuals paying to a SUYOOL Merchant or another business paying to a SUYOOL business;
    </p>
    <p>
        (b) Through the Account Holder’s own bank accounts transfers;
    </p>
    <p>
        (c) By depositing cash into their Account either by visiting any
        agent within SUYOOL's network of agents or by requesting SUYOOL to pick up the funds from a
        pre-designated
        place, while following the provided prompts and instructions through the Corporate Account Portal.
    </p>
    <p>
        (d) If the Account Holder is a Merchant and has entered into a Merchant Agreement with SUYOOL, the
        Settlement Amount (as
        defined under the Merchant Agreement) will be automatically transferred or manually transferred from the
        SUYOOL
        Merchant Account (as defined under the Merchant Agreement) to the Account, at the closing of each of the
        Merchant’s business day or upon request.
    </p>
    <p>
        5.2 Using the Available Balance and making Transfers
    </p>
    <p>
        (a) The Account
        Holder can withdraw money from the Account by following the instructions provided on the Corporate
        Account
        Portal and then by visiting any agent within SUYOOL's network of agents, or by requesting cash delivery,
        or by
        making an ATM withdrawal using the Corporate Card.
    </p>
    <p>
        (b) The Account Holder can send and receive money to and from
        other SUYOOL accounts, and to and from SUYOOL’s network of electronic wallets, and these transfers are
        processed
        instantly.
    </p>
    <p>
        (c) To transfer money to another SUYOOL account, the Account Holder needs to input the relevant
        recipient information and follow the provided prompts. Any newly added recipient will remain pending
        until
        validated by SUYOOL.
    </p>
    <p>
        (d) The Account Holder can also send money to its own bank accounts in Lebanon or to any
        bank account abroad falling within the coverage of SUYOOL by selecting the bank transfer option in the
        Account
        tab and providing the required information, such as the account number and IBAN. If money transferred by
        the
        Account Holder to another account is not paid into that account and is returned to SUYOOL, and if SUYOOL
        had to
        perform a currency exchange during the original transfer, SUYOOL will convert the returned amount back
        to the
        original currency. SUYOOL is not responsible for any losses incurred by the Account Holder in this
        process.
    </p>
    <p>
        5.3 Payroll payments
    </p>
    <p>
        (a) The Account Holder can initiate and manage payments to its employees and personnel or any
        other individual having a SUYOOL account (each referred to as a “Recipient”) directly from the Account.
        Batch
        payment functionality allows for simultaneous payment of multiple Recipients by following the prompts
        through
        the Corporate Account Portal. The Recipient must have their own SUYOOL personal account to receive
        funds.
    </p>
    <p>
        (b) Detailed records of all payments initiated from the Account will be readily accessible for reference
        and the
        Account Holder can access transaction histories to keep track of their payment activities.
    </p>
    <p>
        (c) The Recipients
        will receive notifications from SUYOOL once payments are initiated and processed, ensuring transparency
        and
        facilitating efficient communication.
    </p>
    <p>
        5.4 Using the Corporate Card
    </p>
    <p>
        The Account Holder can request, activate,
        manage and cancel Corporate Cards that will be linked to the Account. The issuance and usage of the
        Corporate
        Cards are governed by these Corporate Terms, SUYOOL’s card issuer CSC Bank SAL's terms and conditions,
        and the
        relevant card association's rules and regulations (collectively referred to as the “Card Terms”). By
        requesting
        a Corporate Card, the Account Holder acknowledges that they have read, understood, and agreed to the
        Card Terms.
    </p>
    <p>
        5.5 Currency Exchange
    </p>
    <p>
        (a) The Account Holder can instruct SUYOOL to initiate a currency exchange of the
        Available Balance or any portion thereof from one currency to another. The available currencies for such
        exchanges are Fresh LBP and Fresh USD.
    </p>
    <p>
        (b) In all cases, SUYOOL will use an exchange rate based on the market
        rate adopted by SUYOOL at the time of the conversion. The current exchange rate will be displayed on the
        Corporate Account Portal, and the transaction history of the Account will indicate the exchange rate
        adopted to
        execute a transaction.
    </p>
    <p>
        (c) The Account Holder assumes all risks associated with currency conversion and agrees
        that SUYOOL will not be liable for any losses, including but not limited to exchange rate fluctuations.
        It is
        recommended that the Account Holder carefully considers the prevailing exchange rates and any associated
        costs
        before initiating any currency exchange or making payments in foreign currencies.
    </p>
    <p>
        5.6 Limits and fees
    </p>
    <p>
        SUYOOL may impose limitations and fees on the receipt and payment of funds into or from the Account, as
        well as the
        withdrawal or spending limits and fees for the Account Holder or any Authorized Individual using the
        Corporate
        Card, at SUYOOL's reasonable discretion after notifying the Account Holder in writing. SUYOOL may also
        limit the
        value of currency exchange that the Account Holder can perform within a given time period. These limits
        and fees
        are determined in the Corporate Account Opening Agreement and are subject to change at SUYOOL’s
        reasonable
        discretion.
    </p>
    <p>
        5.7 Payment and Transaction Handling
    </p>
    <p>
        (a) The Account Holder can initiate a payment up to the amount
        available in the Account plus the Corporate Fees. They cannot cancel or revoke a payment or transaction
        instruction that has already been received by SUYOOL, nor can they withdraw their consent to execute a
        transaction.
    </p>
    <p>
        (b) The Account Holder can manually reverse a payment received by accessing the Account through the
        Corporate Account Portal and following the provided instructions.
    </p>
    <p>
        (c) SUYOOL is not liable for money sent to the
        wrong recipient due to incorrect information provided by the Account Holder. While SUYOOL may assist in
        recovering the funds in such cases, it does not guarantee the success of these efforts.
    </p>

    <div class="title">6. ACCOUNT ACTIVITY TRACKING AND COMMUNICATION</div>
    <p>
        6.1 The Account Holder can track the activity and transactions associated with their
        Account, review their history, and download Account statements through the Corporate Account Portal on
        SUYOOL’s
        website. The Account Holder will have access to their Account activity information, including
        downloadable
        statements, until the Account is closed.
    </p>
    <p>
        6.2 SUYOOL may send notifications to the Account Holder's Device, or
        email (as applicable) to inform them of any incoming or outgoing payments, transactions, or transfers.
        The
        Account Holder should regularly check their Account activity for comprehensive information on payments,
        transactions, and transfers.
    </p>
    <p>
        6.3 SUYOOL may also communicate with the Account Holder via text message. It is the
        responsibility of the Account Holder to keep SUYOOL updated and promptly inform SUYOOL of any changes in
        the
        information provided. If SUYOOL discovers that any provided information is incorrect, SUYOOL reserves
        the right
        to unilaterally update the information after obtaining the prior written approval of the Account Holder.
    </p>

    <div class="title">7. SAFETY OF THE ACCOUNT AND CORPORATE CARD(S)</div>
    <p>
        7.1 The Account Holder and any Authorized Individuals are
        responsible for ensuring the security and integrity of the Account. This includes diligently
        safeguarding the
        security details associated with the Account and the Corporate Card(s), including securing the Device
        used to
        access the Account and preventing unauthorized individuals from using it and ensuring that the Account
        is
        securely logged out after each use.
    </p>
    <p>
        7.2 In the event of a stolen, lost, or compromised Corporate Card or Device
        used to access the Corporate Account Portal or security details, it is imperative for the Account Holder
        to
        promptly notify SUYOOL and report the incident to seek immediate assistance. Taking swift action is
        vital to
        mitigate potential risks and protect the Account against unauthorized access or fraudulent activities.
    </p>
    <p>
        7.3 The Account Holder can contact SUYOOL through the following channels:
    </p>
    <p>
        (a) Email: contact@suyool.com;<br>
        (b) Phone: +961 81 484 000;<br>
        (c) Message via SUYOOL’s application or website.
    </p>
    <p>
        7.4 SUYOOL shall not be held liable for any
        unauthorized access to the Account or any associated damages that may result. While SUYOOL takes
        reasonable
        measures to ensure the security of its systems and website, the Account Holder acknowledges that no
        system is
        entirely immune to potential risks or unauthorized intrusions.
    </p>
    <p>
        7.5 SUYOOL reserves the right to implement
        security measures, including but not limited to monitoring Account activities and transactions, in order
        to
        protect the Account and its users from fraudulent or unauthorized activities. The Account Holder
        consents to
        such monitoring and acknowledges that SUYOOL may take appropriate actions, including blocking or
        suspending
        Account access, if any suspicious or unauthorized activities are detected. The Account Holder assumes
        full
        responsibility for any fraudulent, unauthorized, or otherwise improper use of the Account. SUYOOL shall
        rely on
        the authenticity and authority of all instructions received by SUYOOL through the Account and may act
        upon such
        instructions.
    </p>

    <div class="title">8. TERMINATION OF THE AGREEMENT</div>
    <p>
        8.1 Both the Account Holder and SUYOOL have the right to terminate
        this Agreement and close the Account at any time and for any reason by providing the other with a
        written notice
        at least thirty (30) days in advance.
    </p>
    <p>
        8.2 Upon receipt of the notice to close the Account and terminate this
        Agreement by either SUYOOL or the Account Holder, the Account Holder will have a period of thirty (30)
        days from
        the date of receipt to withdraw any Available Balances. During this period, the Account will remain
        accessible
        solely for the purpose of withdrawing any Available Balance. After the expiry of the thirty-day period,
        SUYOOL
        will proceed with the closure of the Account ("Account Closure").
    </p>
    <p>
        8.3 In the event of an Account Closure, both parties agree to the following:
    </p>
    <p>
        (a) Provisions regarding indemnification, warranty, liability, and limits
        thereon, confidentiality, protections of proprietary rights, trade secrets and any covenants contained
        in the
        Agreement which are specifically contemplated as surviving beyond or being performed after termination,
        or which
        by their nature are intended to be applicable after any such termination, shall survive the termination
        of this
        Agreement.
    </p>
    <p>
        (b) Both parties remain responsible for any outstanding obligations related to the Account prior to
        the Account Closure.
    </p>
    <p>
        (c) If the Account Holder has entered into a Merchant Agreement, that agreement will also
        be terminated.
    </p>
    <p>
        8.4 SUYOOL reserves the right to close, suspend, or block the Account immediately and terminate
        access to the Account website for exceptional reasons, such as:
    </p>
    <p>
        (a) Serious or persistent breaches of this Agreement by the Account Holder.
    </p>
    <p>
        (b) Reasonable belief that the Account Holder's use of the Account could harm
        SUYOOL's reputation or goodwill.
    </p>
    <p>
        (c) Disposal of significant business assets by the Account Holder.
    </p>
    <p>
        (d) Account inactivity for a period of 6 months, upon which the Account will be classified as dormant.
        Following the
        classification as dormant, pertinent fees will be levied on the Account until it is depleted, at which
        point the
        Account will be closed.
    </p>
    <p>
        (e) Bankruptcy, insolvency, winding up proceedings, or similar events involving the
        Account Holder.
    </p>
    <p>
        (f) Compliance with Applicable Laws requires SUYOOL to take such action.
    </p>
    <p>
        8.5 If SUYOOL closes
        the Account for exceptional reasons, Account Closure will be deemed immediate and clause 8.3 will apply.
    </p>

    <div class="title">9. PERMISSION TO PROCESS PERSONAL DATA</div>
    <p>
        9.1 In order to deliver the services associated with the Account and
        facilitate transactions under this Agreement, SUYOOL requires the collection and processing of
        information
        pertaining to the Account Holder and any Authorized Individuals. The Privacy Policy, which forms an
        integral
        part of this Agreement, outlines the obligations of both the Account Holder and SUYOOL concerning the
        personal
        data provided by the Account Holder to SUYOOL or otherwise processed by SUYOOL in connection with this
        Agreement.
    </p>
    <p>
        9.2 By agreeing to this Agreement, the Account Holder grants SUYOOL permission to process their
        personal data as outlined in the Privacy Policy. It is important for the Account Holder to carefully
        review the
        Privacy Policy to understand how their personal data will be handled and to ensure their compliance with
        the
        obligations set forth within it.
    </p>
    <p>
        9.3 SUYOOL undertakes to protect the confidential information and personal data
        of the Account Holder and any Authorized Individuals, and that they will only be used to the extent
        needed to
        perform its obligations under this Agreement. SUYOOL and the Account Holder undertake to comply with the
        provisions of the Lebanese legislation in force, law Nº81/2018, relating to Electronic Transactions and
        Personal
        Data.
    </p>

    <div class="title">10. INTELLECTUAL PROPERTY RIGHTS</div>
    <p>
        10.1 SUYOOL and the Account Holder acknowledge and agree that all
        Intellectual Property Rights provided to the other party, are and will remain the property of the
        providing
        party. The providing party holds the exclusive right to use these rights and may license others to use
        them. Any
        Intellectual Property Rights developed in the course of this Agreement shall belong to SUYOOL. Both
        SUYOOL and
        the Account Holder may use the other party’s Intellectual Property Right solely for the purpose of
        fulfilling
        the obligations set forth in the Agreement. SUYOOL retains all right, title, and interest in the
        Account, the
        Corporate Account Portal, and the SUYOOL website, and any associated services and products, including
        any
        related Intellectual Property Rights. This Agreement does not transfer any ownership rights to the
        Account
        Holder.
    </p>
    <p>
        10.2 The Account Holder agrees not to copy, modify, reverse engineer, or create derivative work of any
        of the products or services provided by SUYOOL hereunder.
    </p>

    <div class="title">11. FORCE MAJEURE</div>
    <p>
        SUYOOL and the Account Holder will
        not be liable or responsible for any failure to perform, or delay in performance of, any of their
        obligations
        under this Agreement that is caused by events outside their reasonable control rendering the performance
        of the
        obligations hereunder impossible or extremely onerous (“Force Majeure Event”). A Force Majeure Event
        includes
        any act, event, non-happening, omission or accident beyond SUYOOL and/or the Account Holder’s reasonable
        control
        and includes in particular (without limitation) strikes, lock-outs or other industrial action, civil
        commotion,
        riot, invasion, terrorist attack, war (whether declared or not) or threat or preparation for war, fire,
        explosion, storm, flood, earthquake, subsidence, epidemic, pandemic (excluding covid-19) or other
        natural
        disaster, impossibility of the use of public or private telecommunications networks, the acts, decrees,
        legislation, regulations or restrictions of any government. The performance under this Agreement is
        deemed to be
        suspended for the period that the Force Majeure Event continues, and SUYOOL and the Account Holder will
        have an
        extension of time for performance for the duration of that period. SUYOOL and the Account Holder will
        use all
        reasonable endeavours to bring the Force Majeure Event to a close or to find a solution by which the
        obligations
        under this Agreement may be performed despite the Force Majeure Event.
    </p>

    <div class="title">12. GOVERNING LAW AND DISPUTE RESOLUTION</div>
    <p>
        12.1 This Agreement, including any non-contractual rights or obligations arising out of or in connection
        with it
        or its subject matter, shall be governed by, and construed in accordance with the applicable laws of the
        Republic of Lebanon without any regard to conflict of laws principles.
    </p>
    <p>
        12.2 Any dispute, controversy, claim or
        disagreement between SUYOOL and the Account Holder arising from, relating to or in connection with this
        Agreement, including questions regarding the interpretation, meaning or performance of this Agreement,
        and
        including claims based on contract, tort, statute, regulation, order or otherwise (each a “Dispute”),
        shall be
        resolved in accordance with this Clause 12.
    </p>
    <p>
        12.3 SUYOOL and the Account Holder will endeavor in good faith to
        amicably resolve any Dispute arising out or in connection with the interpretation or execution of this
        Agreement
        within fifteen (15) Business Days of the first previous written notice of Dispute. 12.4 All Disputes,
        which
        remain unresolved despite attempts at their amicable resolution within the time frame specified above,
        will be
        submitted by either SUYOOL or the Account Holder to, and finally determined by, binding arbitration
        administered
        by the Lebanese Arbitration and Mediation Centre of the Beirut and Mount-Lebanon Chamber of Commerce,
        Industry
        and Agriculture and in accordance with its Rules of Arbitration, as such rules are in effect on the date
        of
        delivery of a demand for arbitration (the “Arbitration Rules”). The arbitration shall be heard and
        determined by
        a sole arbitrator appointed in accordance with the Arbitration Rules. The arbitration proceeding shall
        occur in
        Beirut, Lebanon and shall be conducted in English. Each party shall bear its own costs relating to such
        arbitration, and the parties shall equally share the Arbitrator’s fees, and the arbitration and all
        related
        proceedings shall be led by the Arbitrator in a manner that adequately protects the confidential nature
        of each
        party’s confidential information. The arbitration award will be final and binding on SUYOOL and the
        Account
        Holder who waive any right to appeal such award. Notwithstanding the foregoing, the parties may recourse
        to any
        competent judiciary authority in order to seek interim or conservatory measures. Enforcement of the
        award
        rendered by the Arbitrator may be entered in any court having jurisdiction thereof.
    </p>

    <div class="title">13. MISCELLANEOUS PROVISIONS</div>
    <p>
        13.1 Assignment
    </p>
    <p>
        (a) The Account Holder shall not, without the prior written consent of SUYOOL, assign, novate,
        transfer, charge, subcontract or deal in any other manner with all or any of its rights or obligations
        under
        this Agreement.
    </p>
    <p>
        (b) SUYOOL may, at its discretion, assign, novate, transfer, charge, subcontract or deal in any
        other manner with all or any of its rights or obligations under this Agreement without the consent of
        the
        Account Holder, provided that SUYOOL has the obligation to inform the Account Holder within a reasonable
        period
        of time.
    </p>
    <p>
        13.2 Relationship of Parties.<br>
        This Agreement does not create an agency, partnership or joint venture
        between SUYOOL and the Account Holder, and neither has the authority to bind the other with respect to
        any
        matter.
    </p>
    <p>
        13.3 Waiver of Rights and Variation<br>
        (a) A waiver of any right under this Agreement is only effective if
        it is in writing and it applies only to the person to which the waiver is addressed and the
        circumstances for
        which it is given. Failure to exercise or delay in exercising any right or remedy provided under this
        Agreement
        or by law shall not constitute a waiver of such right or remedy, and it shall not prevent any future
        exercise in
        whole or in part thereof.
    </p>
    <p>
        (b) The Account Holder acknowledges and agrees that SUYOOL is entitled to change,
        vary, or modify the terms and conditions of the Agreement from time to time. SUYOOL will provide a
        two-month
        prior notice of such changes via email, SUYOOL’s website, or any other method in accordance with the
        terms and
        conditions stated herein. The Account Holder agrees and acknowledges that their continued usage of the
        Account,
        the Corporate Account Portal, or SUYOOL’s website after the conclusion of the two-month period following
        the
        notification constitutes acceptance to the changes or modifications made therein.
    </p>
    <p>
        13.4 Disclaimer of Warranties<br>
        The Corporate Account Portal and SUYOOL’s website are provided on an “as is” and/or “as available” basis
        with no representation, guarantee or
        warranty of any kind as to their functionality. SUYOOL makes no, express or implied, warranties,
        representations, or endorsements, whatsoever, that the Corporate Account Portal and SUYOOL’s website or
        their
        content or any product or service furnished via the same, will be uninterrupted or error-free, secure,
        or free
        from viruses or other harmful components. While SUYOOL shall make reasonable endeavors to provide the
        Corporate
        Account Portal and SUYOOL’s website in line with the available technological solutions, SUYOOL does not
        guarantee that the Corporate Account Portal and SUYOOL’s website will always be available,
        uninterrupted,
        timely, secure, with no defects whatsoever and in full operating condition. Access to the Corporate
        Account
        Portal and SUYOOL’s website may be suspended temporarily and without any prior notice and SUYOOL shall
        not be
        liable for any failure to provide the Corporate Account Portal and SUYOOL’s website in part or full, for
        any
        cause that is beyond its reasonable control.
    </p>

    <div class="title">
        Schedule 1<br>
        Definitions
    </div>
    <p>
        Agreement means these terms and conditions,
        any cover pages hereto, any schedules, appendices, exhibits and annexes hereto, together with the
        Privacy Policy
        and any written instructions from SUYOOL (as may be issued from time to time) and any other terms and
        conditions
        incorporated by reference as part of this Agreement.
    </p>
    <p>
        AML/CFT Legislation means Law No. 44/2015 dated November
        24, 2015, on Fighting Money Laundering and Terrorist Financing in the Republic of Lebanon, as may be
        amended
        from time to time.
    </p>
    <p>
        Applicable Laws means with respect to any party all statutes, circulars, enactments, acts of
        legislature or parliament, laws, ordinances, rules, by-laws, regulations, notifications, circulars,
        guidelines,
        policies, directions, directives, writs, decrees, and regulations of any government authority applicable
        to such
        party, as amended from time to time and including but not limited to (a) AML/CFT Legislation, (b) Basic
        Circular
        No. 69 dated 30/3/2000 on Electronic Financial and Banking Operations issued by the Governor of BDL, as
        amended
        by the Intermediate Circular of the Governor of BDL No. 667 dated 13/4/2023, and (c) the rules,
        regulations,
        directives and circulars issued by BDL.
    </p>
    <p>
        Authorized Individual(s) Refers to the Account Super Administrator,
        Authorized Manager, Authorized User, and the Authorized Cardholder.
    </p>
    <p>
        BDL means the Central Bank of Lebanon (Banque du Liban).<br>
        Business Day(s) means the days on which banks and financial institutions are typically open
        for business in the Republic of Lebanon.<br>
        Corporate Account Opening Agreement means the agreement entered into
        between SUYOOL and the Account Holder, whereby SUYOOL agrees to open a SUYOOL Corporate Account.
    </p>
    <p>
        Corporate Account Portal means the online platform provided by SUYOOL, accessed through secure webpages,
        which enables the
        Account Holder and its authorised individuals to access and manage various aspects of the SUYOOL
        Corporate
        Account, conduct business-related transactions and activities, and benefit from other relevant
        functionalities
        and features as may be introduced by SUYOOL from time to time.
    </p>
    <p>
        Corporate Card means a payment card issued by
        SUYOOL or its partners upon the Account Holder’s request for the purpose of making payments or
        withdrawing funds
        using the Available Balance in their Account.
    </p>
    <p>
        Corporate Fees means the charges, costs, and limits associated
        with the Account and determined by SUYOOL at its sole discretion and set out in the Corporate Account
        Opening
        Agreement.
    </p>
    <p>
        Device means an electronic device such as mobile phone, tablet, computer, or any other similar
        devices capable of accessing and utilizing the services provided by SUYOOL.
    </p>
    <p>
        Fresh LBP means the amounts
        denominated in Lebanese Pounds that are available for immediate use in transactions and are not subject
        to any
        transfer or withdrawal restrictions in the Republic of Lebanon.
    </p>
    <p>
        Fresh USD means the amounts denominated in
        United States Dollars that are available for immediate use in transactions and are not subject to any
        transfer
        or withdrawal restrictions in the Republic of Lebanon.
    </p>
    <p>
        Intellectual Property Rights means any and all licenses,
        all current and future know-how, rights to inventions (whether or not reduced to writing), patents
        (including
        patents of addition, substitutions, reissues, extensions, re-examinations, renewals, supplemental patent
        certificates, confirmation patents and registration patents), patent applications (including any
        provisional,
        divisional, continuations, continuations-in-part and substitutions thereof), designs, design
        applications and
        design registrations, software, hardware, technology, processes, methods, trademarks, trademark
        applications,
        trademark registrations, trade names, trade dress, service marks, logos (whether registered or
        unregistered),
        copyrights, copyright applications, copyright registrations, right of confidence, trade secret, right to
        extract
        or exploit data, database rights and other intellectual property rights now or hereafter recognized
        anywhere in
        the world, now or hereafter owned, held, prepared for, or used by a person or entity.
    </p>
    <p>
        Merchant means an entity
        that sells goods and/or services and has entered into a Merchant Agreement with SUYOOL.
    </p>
    <p>
        Merchant Agreement means
        the agreement entered into between SUYOOL and a Merchant (if applicable), whereby SUYOOL provides
        payment
        processing services to facilitate payments from the Merchant’s customers to the Merchant for goods
        and/or
        services provided by the Merchant.
    </p>
    <p>
        SUYOOL Corporate Account/Account means the account registered in the name of
        the Account Holder and accessed through the Corporate Account Portal on SUYOOL’s website. This account
        offers
        the Account Holder various features and functionalities in accordance with the terms outlined in this
        Agreement.
    </p>

</div>

</div>