<div class="terms-top-section help-top-info help-section2">
    <div class="info container-fluid">
        <div class="row">
            <div class="sub-title">T&C</div>
            <div class="title">Suyool Terms & Conditions</div>
            <div class="text">Kindly read our terms and conditions carefully before using this site</div>
        </div>
    </div>
</div>