<div class="home-steps row">
    <div class="card step col-md-3 col-11">
        <div class="header text-center">
            <img src="{{ asset('build/images/ma-tbank/suyool-visa.svg') }}" alt="">
        </div>
        <div class="title">Can I Tap-To-Pay With The Suyool Card?</div>
        <div class="yes-text">YES</div>
    </div>
    <div class="card step col-md-3 col-11">
        <div class="header text-center">
            <img src="{{ asset('build/images/ma-tbank/global.svg') }}" alt="">
        </div>
        <div class="title">Can I Use The Suyool Card Everywhere In The World?</div>
        <div class="yes-text">YES</div>
       </div>
    <div class="card step col-md-3 col-11">
        <div class="header text-center">
            <img src="{{ asset('build/images/ma-tbank/send.svg') }}" alt="">
        </div>
        <div class="title">Can I Send Money To Anyone With A Lebanese Number?</div>
        <div class="yes-text">YES</div>
       </div>
</div>