<div class="top-section container-fluid">
    {% include 'elements/header-v2.html.twig' %}

    <div class="row">
        <div class="col-md-7 col-12 top-info ">
            <div class="top-title">#Ma_tBank</div>
            <h1 class="header-text">
                Your Money Is In Safe Hands, <span>YOURS!</span>
            </h1>
            <p>Suyool Visa: Accepted worldwide, make transactions, transfer money to any Lebanese number, and enjoy
                various features—all in one app.</p>
            <div class="buttons-cont desktopMode">
                <button class="btn button-primary mr-5" data-bs-toggle="modal" data-bs-target="#DownloadApp"
                        id="openSuyoolAccount">Open Suyool Account
                </button>
            </div>
            <div class="buttons-cont mobileMode">
                <button class="btn button-primary mr-5 OpenYourSuyoolAccount" id="openSuyoolAccount">Open Suyool
                    Account
                </button>
            </div>
        </div>

        <div class="col-md-5 col-12 right-section desktopMode">
            <div class="iframe">
                <iframe width="537" height="351" src="https://www.youtube.com/embed/X5IY8LxTCAY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="mobileMode col-12 right-section">
            {#            <div class="iframe"> #}
            <div class="iframe">
                    <iframe width="350" height="250" src="https://www.youtube.com/embed/X5IY8LxTCAY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                    </iframe>
            </div>
            {#            </div> #}
        </div>


    </div>


</div>