{% extends 'base.html.twig' %}

{% block title %}Suyool
{% endblock %}

{% block body %}

    <div class="usj">
        {% include 'elements/elnashra/topSection.html.twig' %}
        {% include 'elements/infoSection.html.twig'%}
        {% include 'elements/usj/usj_steps.html.twig' %}
        {% include 'elements/elnashra/nashra_mastercard.html.twig' %}
        {% include 'elements/usj/use-money.html.twig' %}
        {% include 'elements/usj/solution-suyool.html.twig' %}
        {% include 'elements/usj/exchange.html.twig' %}
        {% include 'elements/faq/faqSuyool.html.twig' %}
        {% include 'elements/usj/questions.html.twig' %}
        {% include 'elements/get-suyool.html.twig' %}
    </div>

    {% include 'elements/footer.html.twig' %}
{% endblock %}