{% extends 'base.html.twig' %}

{% block title %}Suyool
{% endblock %}

{% block body %}

	<div class="ndj">
		{% include 'elements/ndj/topSection.html.twig' %}
		{% include 'elements/payrolls/three-steps.html.twig' %}
		{% include 'elements/ndj/ndj_mastercard.html.twig' %}
		{% include 'elements/ndj/use-money.html.twig' %}
		{% include 'elements/ndj/solution-suyool.html.twig' %}
		{% include 'elements/ndj/exchange.html.twig' %}
		{% include 'elements/faq/faqSuyool.html.twig' %}
		{% include 'elements/ndj/questions.html.twig' %}
		{% include 'elements/get-suyool.html.twig' %}
	</div>

		{% include 'elements/footer.html.twig' %}
	{% endblock %}
