{% extends 'base.html.twig' %}

    {% block title %}Suyool
    {% endblock %}

    {% block body %}
        <div class="alfa">
            {% include 'elements/web-addicts/topSection.html.twig' %}
            {% include 'elements/infoSection.html.twig' %}
            {% include 'elements/payrolls/three-steps.html.twig' %}
            {% include 'elements/alfa_employee/alfa_mastercard.html.twig' %}
            {% include 'elements/payrolls/use-money.html.twig'%}
            {% include 'elements/payrolls/solution.html.twig' %}
            {% include 'elements/alfa_employee/exchange.html.twig' %}
            {% include 'elements/faq/faqSuyool.html.twig' %}
            {% include 'elements/payrolls/questions.html.twig' %}
            {% include 'elements/get-suyool.html.twig' %}
        </div>
        {% include 'elements/footer.html.twig' %}
    {% endblock %}
