<div class="challenge">
    <h3>WHAT IS THE SUYOOL ONLINE CHALLENGE?</h3>
    <h4>Earn Points In 3 Simple Steps</h4>
    <h5>Invite your team members, friends & family through your unique team link, ensure their successful enrollment in Suyool and start earning points.</h5>
    <div class="steps row pt-5">
        <div class="col-md-4 pb-5">
            <div class="step1">
                <div class="step">
                    <div class="b1">
                        1
                    </div>
                    <img src="{{asset('build/images/aub/invite.svg')}}">
                </div>
                <div class="title">YOU INVITE</div>
                <div class="desc">Share your unique invitation link.</div>
            </div>
        </div>
        <div class="col-md-4 pb-5">
            <div class="step1">
                <div class="step">
                    <div class="b1">
                        2
                    </div>
                    <img src="{{asset('build/images/aub/join.svg')}}">
                </div>
                <div class="title">THEY JOIN SUYOOL</div>
                <div class="desc">All your friends need to do is download Suyool & enroll successfully.</div>
            </div>
        </div>
        <div class="col-md-4 pb-5">
            <div class="step1">
                <div class="step">
                    <div class="b1">
                        3
                    </div>
                    <img src="{{asset('build/images/aub/earn.svg')}}">
                </div>
                <div class="title">YOU EARN POINTS</div>
                <div class="desc">For every enrollment & request of the Suyool Visa Platinum card.</div>
            </div>
        </div>
    </div>
    <div class="howtoenroll">
        <button class="howtoenrollbtn">How to enroll?</button>
        <br>
        <a  href="https://www.youtube.com/watch?si=Yw1YKOFIBicYfld6&v=iXIqNHBy6-o&feature=youtu.be" class="yt"> https://youtu.be/iXIqNHBy6-o?si=Yw1YKOFIBicYfld6</a>
    </div>
</div>
