<div class="help3Steps">
    <h3 class="title">WHAT IS THE CHALLENGE?</h3>
    <h3 class="subtitle">Help Your Team In 3 Steps</h3>
    <p class="description"> The Suyool Online Challenge makes earning points quick and easy! Download Suyool,
        successfully enroll & request the card, to help your team earn points
        instantly.</p>
    <div class="row steps">
        <div class="col-md-6 col-lg-4 pt-3">
            <div class="content">
                <span>1</span>
                <h4>DOWNLOAD SUYOOL</h4>
                <p>Enroll in Suyool using your team’s unique link, which will directly connect you to the team you’re
                    supporting.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 pt-3">
            <div class="content">
                <span>2</span>
                <h4>ADD MONEY</h4>
                <p>Add money to your Suyool account by depositing cash at any BOB Finance branch or toping up your account using another debit or credit card.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 pt-3">
            <div class="content">
                <span>3</span>
                <h4>ORDER SUYOOL CARD</h4>
                <p>Order your Suyool Visa Platinum card, receive it the next day, and activate it instantly for immediate use, whether in-store, online, in Lebanon, or abroad.</p>
            </div>
        </div>
    </div>
</div>
