<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="info">
                <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolUserIcon.svg') }}" alt="rally paper"></div>
                <div class="title">Fully Enrolled</div>
                <div class="number">1000</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info">
                <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolCardIcon.svg') }}" alt="rally paper"></div>
                <div class="title">Cards Activated</div>
                <div class="number">700</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info">
                <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolCardIcon.svg') }}" alt="rally paper"></div>
                <div class="title">Card Payments</div>
                <div class="number">500</div>
            </div>
        </div>
    </div>
</div>