<div class="help3Steps pointSystem">
    <h3 class="title">WHAT IS THE POINT SYSTEM?</h3>
    <h3 class="subtitle">Earn Points By Invites</h3>
    <p class="description">Understand the Suyool point system to maximize your team’s chance to win the Pre-Challenge.</p>
    <div class="container">
        <div class="row pointsBox">
            <div class="col-md-12 col-lg-6 pt-3 pointsContent">
                <div class="box-section">
                    <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolUserIcon.svg') }}" alt="rally paper"></div>
                    <p class="desc">User fully enrolls to Suyool:</p>
                    <p class="point">+10pts</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 pt-3 pointsContent pointsContentMobile">
                <div class="box-section">
                    <div class="cardIcon"><img src="{{ asset('build/images/aub/suyoolCardIcon.svg') }}" alt="rally paper"></div>
                    <div class="redIcon"><img src="{{ asset('build/images/aub/redStar.svg') }}" alt="rally paper"></div>
                    <p class="desc">User requests Suyool card:</p>
                    <p class="point">+50pts</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row noteSection">
        <div class="col-2  col-md-2"><img src="{{ asset('build/images/aub/redStar.svg') }}" alt="rally paper"></div>
        <div class="col-10 col-md-10"><p>Please be aware that in order to request the Suyool Visa Platinum card, users must have a minimum of $12 in their account. This can be done by either depositing cash through BOB Finance or topping up their account using a credit or debit card.</p></div>
    </div>
</div>
