<div class="help3Steps pointSystem">
    <h3 class="title">WHAT IS THE POINT SYSTEM?</h3>
    <h3 class="subtitle">Earn Points By Invites</h3>
    <p class="description">Understand the Suyool point system to maximize your team’s chance to win the Pre-Challenge.</p>
    <div class="container">
        <div class="row pointsBox">
            <div class="col-md-12 col-lg-6 pt-3 pointsContent">
                <div class="box-section">
                    <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolUserIcon.svg') }}" alt="rally paper"></div>
                    <p class="desc">User fully enrolls to Suyool:</p>
                    <p class="point">+10pts</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 pt-3 pointsContent pointsContentMobile">
                <div class="box-section">
                    <div class="cardIcon"><img src="{{ asset('build/images/aub/suyoolCardIcon.svg') }}" alt="rally paper"></div>
                    <div class="redIcon"><img src="{{ asset('build/images/aub/redStar.svg') }}" alt="rally paper"></div>
                    <p class="desc">User makes 1<sup>st</sup> card payment:</p>
                    <p class="point">+100pts</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row noteSection">
        <div class="col-2  col-md-2"><img src="{{ asset('build/images/aub/redStar.svg') }}" alt="rally paper"></div>
        <div class="col-10 col-md-10"><p>Note that to make a card payment you will need to request your Suyool Visa Platinum card by having $12 in your account, wait for it to be delivered, activate it and then it will be ready to be used.</p></div>
    </div>
</div>
