{% extends 'base.html.twig' %}

    {% block body %}
        <div class="rank">
            <div class="header">
                <img src="{{ asset('build/images/suyool-Logo.png') }}" alt="Suyool">
                X
                <img src="{{ asset('build/images/suyool-Logo.png') }}" alt="Suyool">
            </div>
        </div>
    {% endblock %}