<div class="container status">
    <h1>DIFFERENT STATUS OVERVIEW</h1>
    <h2>Understand The Suyool Status</h2>
    <h3>We’ve crafted this legend to clarify every Suyool enrollment status of your team members and recommend the next steps to help your team earn additional points.</h3>
    <div class="diffstatusCont">
        <div class="diffstatus">
            <div class="st pending">Pending Enrollment</div>
            <div class="desc">The user hasn’t completed enrollment. They need to open their app and complete the necessary steps to become a fully enrolled Suyool user & get extra points to their team. For any inquiry call the Suyool contact center on <a href="tel:+96101290900">01290900</a></div>
        </div>
        <div class="diffstatus">
            <div class="st fully">Fully Enrolled</div>
            <div class="desc">The user is fully enrolled. The next step is for them to request their card (will need 12$ in account) The card will be delivered to AUB within the next few hours and will need to be activated before use.</div>
        </div>
        
        <div class="diffstatus">
            <div class="st requested">Requested Card</div>
            <div class="desc">The user has requested their card and is awaiting delivery. In the meantime, they can enjoy other features of the app, such as paying bills, using Suyool QR for payments, sending money to any Lebanese number, and much more.</div>
        </div>

    </div>
</div>