<div class="alfa-steps">
    <div class="home_body_desktop">
        <div class="how_suyool_work">HOW TO GET SUYOOL?</div>
        <div class="easy_steps">{{'3_EASY_STEPS_TO_GET_STARTED'|trans}}</div>
        <div class="manage_spend">{{'MANAGE_SPEND_ACCRSS_YOUR_MONEY_IN_REAL_TIME'|trans}}</div>
    </div>

    <div class="home-steps row">
        <div class="card step col-md-3 col-11">
            <div class="head">
                01
            </div>
            <div class="title">{{'OPEN_AN_ACCOUNT_IN_MINUTES'|trans}}</div>
            <div class="text">{{'ALL_YOU_NEED_IS_A_LEBANESE_MOBILE_NUMBER'|trans}}</div>
        </div>
        <div class="card step col-md-3 col-11">
            <div class="head">
                02
            </div>
            <div class="title">Add Money To Your Account</div>
            <div class="text">Via cash deposit at more than 700+ BOB Finance outlets or online with any debit or credit card (USD/LBP).</div>
        </div>
        <div class="card step col-md-3 col-11">
            <div class="head">
                03
            </div>
            <div class="title">Double Your Points When Paying at Spinneys</div>
            <div class="text">Pay by scanning your Suyool QR at checkout & instantly Double your Spinneys Points.</div>
        </div>
    </div>
</div>