{% extends 'base.html.twig' %}

{% block body %}
	<div class="spinneys">
		{% include 'spinneys/topSection.html.twig' %}
		{% include 'spinneys/hasslefree.html.twig' %}
		{% include 'spinneys/howtogetsuyool.html.twig' %}
		{% include 'spinneys/pay_enable.html.twig' %}
		{% include 'elements/faq/faqSuyool.html.twig' %}
		{% include 'elements/payrolls/questions.html.twig' %}
	</div>
	{% include 'elements/footer.html.twig' %}
{% endblock %}
