<div class="top-section">
    <div class="container-fluid">
        <div class="col-md-6">
            <h1>Get Double Points When Paying with <span>Suyool QR</span></h1>
            <p>Experience the ease and speed of sending money with Suyool. Simply enter a recipient’s Lebanese phone number, and transfer funds instantly.</p>
        </div>
        <div class="buttons-cont">
            <button class="btn button-primary mr-5" data-bs-toggle="modal" data-bs-target="#DownloadApp">Open Suyool Account</button>
        </div>
    </div>
</div>