{% extends 'base.html.twig' %}

{% block title %}Generated Code{% endblock %}

{% block body %}
<div class="generatecode2 container">
    <div class="title">Please use the code below:</div>
    <div class="code">3dF5DF</div>
    <button  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Generate Code</button>
    <div class="note">Kindly note the code is only available for 24h.</div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal-container">
            <img class="logo" src="{{ asset('build/images/payment/doneImage.svg') }}" >
            <div class="title">Cade Copied to Clipboard</div>
            <div class="desc">The code has been copied to clipboard, you can now paste it somewhere secure for future reference.</div>
            <button type="button" class="btn" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
