{% extends 'base.html.twig' %}

{% block title %}Generate Code{% endblock %}

{% block body %}
{# <div class="generate_Code"> #}
    <div class="GenerateCode container ">
        <div class="title">{{'WITHDRAW_CASH_FROM_ANY_CASHPOINT'|trans}}</div>
        <div class="desc">
           {{'NEAREST_MONEY_WITHDRAW'|trans|raw}}
        </div>
        <a class="btn" href="/payment/codeGenerated">{{ 'GENERATE_CODE'|trans|raw }}</a>
    </div>
{# </div> #}
{% endblock %}
