{% extends 'base.html.twig' %}

{% block title %}Generate Code{% endblock %}

{% block body %}
{# <div class="generate_Code"> #}
    <div class="GenerateCode container">
        <div class="title">Add cash to their wallet at any cashpoint</div>
        <div class="desc">
            Go to the nearest … & show them the code to add the money to their wallet. <br/><br/> Kindly note the code is only available for 24h.
        </div>
        <a class="btn" href="/payment/codeGenerated">Generate Code</a>
    </div>
{# </div> #}
{% endblock %}
