{% extends 'base.html.twig' %}

{% block title %}Visa Card{% endblock %}

{% block body %}

<div class="landingpage container">
    <div class="title">SUYOOL LANDING PAGE!!!</div>
    {# <img src="<?php echo $GLOBALS['MAIN_IMG'] ?>Capture.png"/> #}
    <img class="visaCard" src="{{ asset('build/images/payment/Capture.png') }}" >
    <a class="btn" href="/">{{'OPEN_ACCOUNT'|trans}}</a>
</div>


{% endblock %}
