<div class="alfa-mastercard">
    <div class="row">
        <div class="col-lg-7 col-12 order-lg-1 order-2">
            <div class="card-desc">
                <div class="title">Suyool Debit Card®<br> With Exclusive Privileges</div>
                <div class="text sub-title">A debit card you can control from your Suyool app, in addition to all <span>Mastercard Platinum Benefits.</span></div>
                <div class="text check">
                    <img src="{{asset('build/images/check.svg')}}" alt="">
                    <p class="desktop">Internationally & locally accepted - In-store & Online.</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.svg')}}" alt="">
                    <p class="desktop">Full control of your card from your Suyool App.</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.svg')}}" alt="">
                    <p class="desktop">Free safe delivery all over Lebanon.</p>
                </div>
            </div>
        </div>
        <div class="card-img-desk col-lg-5 order-lg-2 order-1">
            <img src="{{ asset('/build/images/homepage/mastercard-security.svg') }}" alt="">
        </div>
    </div>
</div>