<div class="alfa-questions">
    <div class="container-fluid">
        <div class="title">
            Ask Us
        </div>
        <div class="sub-title">
            More Questions?
        </div>
        <div class="desc">
            Suyool team is available 24/7 ready to assist you via the in-app chat, whatsapp,<br>phone calls and e-mails.
        </div>
        <div class="contact">
            <a href="/contact-us" class="contact-us">Contact us</a>
        </div>
    </div>
</div>