<div class="info-purple-section">
    <div class="info-content">
        <div class="text top-title">INTEGRATED POS</div>
        <div class="title">Suyool POS: The Optimal Choice for a Seamless Customer Experience</div>
        <div class="text">Enhance your customers’ shopping journey! With Suyool POS, whether they’re shopping in-store, online, on desktop or mobile, they’ll enjoy a seamless omnichannel payment experience complete with dual currency options.</div>
        <a href="/legal_enrollment" class="blue-btn">Learn More</a>
    </div>
</div>