<div class="solution benefits">
    <div class="container-fluid">
        <div class="title-solution">Benefits</div>
        <div class="sub-title">Our benefits?</div>
        <div class="row three_steps2">
            {% for benefit in benefits %}
                <div class="col-lg-4">
                    <div class="step">
                        <div class="sub sub-benefits">
                            <div>
                                <div class="title text-center">{{ benefit.title }}</div>
                            </div>
                            <div class="description">{{ benefit.description|raw }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
