#MobileHeader {
    background-image: linear-gradient(to bottom, #353a6a, #246992);
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 7px 6px #d8dee6;
    // position: fixed;
    // top: 0;

    .back{
        padding-left: 30px;
    }

    .headerTitle {
        color: #fff;
        font-family: 'PoppinsRegular';
        font-size: 14px;
        padding-left: 20px;
    }

    .empty{
        padding-right: 50px;
    }
}