#PayBill {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    padding: 20px 15px;

    .mainTitle {
        font-family: PoppinsMedium;
        font-size: 14px;
        color: black;
        width: 100%;
    }

    .MobileNbContainer {
        display: flex;
        flex-direction: row;
        width: 100%;

        .place {
            border: 1px solid #7588A034;
            border-radius: 5px;
            // box-shadow: 0px 3px 5px #E7EAF0;
            width: 27%;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            justify-content: space-evenly;

            .code {
                font-family: PoppinsBold;
                font-size: 14px;
                color: black;
            }
        }

        .nbInput {
            height: 50px;
            width: 70%;
            margin-left: 3%;
            border-radius: 5px;
            border: 1px solid #7588A034;
            // box-shadow: 0px 3px 5px #E7EAF0;
            font-family: PoppinsMedium;
            font-size: 14px;
            color: #9C9DA2;
            padding: 5px 15px;
        }

        .nbInputHide {
            height: 50px;
            width: 70%;
            margin-left: 3%;
            border-radius: 5px;
            border: 1px solid #7588A034;
            // box-shadow: 0px 3px 5px #E7EAF0;
            font-family: PoppinsMedium;
            font-size: 14px;
            color: #9C9DA2;
            padding: 5px 15px;
            background-color: #d4d4d4;
        }
    }

    .pCurrency {
        width: 100%;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-items: flex-end;
        align-items: center;

        .subTitle {
            font-family: PoppinsMedium;
            font-size: 14px;
            color: black;
        }


    }

    .currencies {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        width: 100%;

        .activeCurrency {
            font-family: PoppinsSemiBold;
            font-size: 12px;
            color: #7AA7C0;
            border: 1px solid #7AA7C0;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 10px;
            padding: 9px 30px;
            margin-right: 20px;
        }

        .Currency {
            font-family: PoppinsSemiBold;
            font-size: 12px;
            background-color: #7AA7C0;
            color: white;
            border-radius: 10px;
            padding: 9px 30px;
            margin-right: 20px;
        }
    }

    .btnCont {
        position: absolute;
        bottom: 20px;
        // margin-top: 60vh;
        width: 90%;
    }

    .btnContFocus {
        position: relative;
        // bottom: 20px;
        margin-top: 40px;
        width: 90%;
    }
}