<div class="airport-section container">
    <div class="row text-center">
      <h2>HOW TO ACCESS AIRPORT LOUNGES?</h2>
    </div>
    <div class="row mt-4 text-center">
      <div class="col">
        <h3>Easy Free Access, Up To 6 Visits/Year</h3>
      </div>
    </div>
    <div class="row mt-4 text-center subdesc">
      <div class="col">
        <p>Enjoy complimentary access to the Ahlein Premium Lounge and over 25+ lounges worldwide with your Suyool Platinum Visa Card. <a href="https://www.loungekey.com/en/visaplatinummena/our-lounges">Learn more here.</a></p>
      </div>
    </div>
        <div class="row  mt-4 textimage">
          <div class="col-lg-3 text-center">
            <img src="{{ asset('build/images/ma-tbank/activate1.png') }}">
            <p>Activate your card within minutes</p>
          </div>
          <div class="col-lg-3 text-center">
            <img src="{{ asset('build/images/ma-tbank/ahlein2.png') }}">
            <p>Head to the Lounge (ex. Ahlein Premium Lounge)</p>
          </div>
          <div class="col-lg-3 text-center">
            <img src="{{ asset('build/images/ma-tbank/pass3.png') }}">
            <p>Present your boarding pass at the lounge counter</p>
          </div>
          <div class="col-lg-3 text-center">
            <img src="{{ asset('build/images/ma-tbank/visa4.png') }}">
            <p>Show your Suyool Visa Card & access - FREE OF CHARGE!</p>
          </div>
        </div>
  </div>