<div class="black-trans"></div>
<div class="corporate-section">
    <div class="content">
        <h3 class="text top-title">ACCEPTED EVERYWHERE</h3>
        <h2 class="title">In Lebanon & Abroad,<br> In-store & Online</h2>
        <div class="text">Embrace seamless transactions everywhere Visa is accepted, featuring the added convenience of tap-to-pay.
        </div>
        <div class="mt-5">
            <button id="openSuyoolAccount" class="mr-5 desktopMode blue-btn" data-bs-toggle="modal" data-bs-target="#DownloadAppCARD"  onclick='googleFacebookEvents("visaCard", "Get The Card", "Bottom Section")'>Get The Card</button>
            <button class="btn button-primary mr-5 OpenYourSuyoolAccountCard tabletmobileMode" onclick='googleFacebookEvents("visaCard", "Get The Card", "Bottom Section")'>Get The Card</button>
        </div>
    </div>
</div>