<div class="row four_steps">
    <div class="stp-top">
        <div class="stp-top-title">3 EASY STEPS TO GET STARTED</div>
        <div class="stp-title">How to Get Your Suyool Visa card?</div>
    </div>

    <div class="stp-cont row">
        <div class="col-lg-4 col-md-6 col-sm-12 step dis-flex">
            <div class="stp-num">1</div>
            <div class="stp-desc">
                <div class="title">Request Your Card</div>
                <div class="description">In minutes from your Suyool App. Make sure you have a minimum of 12$
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 step dis-flex">
            <div class="stp-num">2</div>
            <div class="stp-desc">
                <div class="title">Get it Delivered For Free</div>
                <div class="description">Get it delivered to your doorstep within 2-3 working days, free of
                            charge
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 step dis-flex">
            <div class="stp-num">3</div>
            <div class="stp-desc">
                <div class="title">Use it Anywhere, Anytime</div>
                <div class="description">In stores, online, locally & internationally at more than millions of
                            POS globally
                </div>
            </div>
        </div>
    </div>
</div>
