<div class="three-titles">
    <div class="title-one">WHY SUYOOL VISA CARD?</div>
    <div class="title-two">3 Advantages That Make Suyool Card Unique</div>
</div>

<div class="home-steps row">
    <div class="card step col-md-3 col-11">
        <div class="title">One Card,<br> Anywhere You Go</div>
        <div class="text">A single card for all transactions, whether they are local, international, or online.</div>
    </div>
    <div class="card step col-md-3 col-11">
        <div class="title">Free Lounge Access,<br> By Showing Your Card</div>
        <div class="text">Elevate your travel experience! Show your card for free lounge access.</div>
    </div>
    <div class="card step col-md-3 col-11">
        <div class="title">Real Time Notifications,<br> For All Your Purchases</div>
        <div class="text">Get instant alerts for every purchase. Stay effortlessly in the loop.</div>
    </div>
    <div class="text-center">
        <button id="openSuyoolAccount" class="btn button-primary mr-5 desktopMode" data-bs-toggle="modal" data-bs-target="#DownloadAppCARD"  onclick='googleFacebookEvents("visaCard", "Get The Card", "Bottom Section")'>Get The Card</button>
        <button class="btn button-primary mr-5 OpenYourSuyoolAccountCard tabletmobileMode" onclick='googleFacebookEvents("visaCard", "Get The Card", "Bottom Section")'>Get The Card</button>
    </div>
</div>